<template>
    <div class="layout">
        <Nuxt />
    </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import cloneDeep from 'lodash/cloneDeep';
import functions from '@/utils/functions';

export default {
    mixins: [functions],

    data() { // такой формат записи используется специально
        return {
            isDev: (process.env.NODE_ENV !== 'production'),
            hasLayoutGrid: false,
            error: null,
            productsList: [],
        };
    },

    head() {
        return {
            htmlAttrs: {
                lang: 'ru', // this.$i18n.locale,
                class: this.htmlClass.join(' '),
            },
            bodyAttrs: {
                class: this.bodyClass.join(' '),
            },
        };
    },

    computed: {
        ...mapGetters('cart', [
            'getCartObj',
            'getActiveItem',
            'getCartObjFilter',
            'getCartObjCanvasImg',
            'getCartObjFilterSelected',
        ]),

        blockScroll() {
            return false;
            // return this.header.showFilterOnTablet
            //     || this.showNavigationTablet;
        },

        htmlClass() {
            const resultHtmlClass = [];

            if (this.blockScroll) {
                resultHtmlClass.push('is-mobile-overflow');
            }

            return resultHtmlClass;
        },

        bodyClass() {
            const resultBodyClass = [];

            if (this.blockScroll) {
                resultBodyClass.push('is-mobile-overflow');
            }

            if (this.hasLayoutGrid) {
                resultBodyClass.push('is-grid');
            }

            return resultBodyClass;
        },

        carts() {
            return this.parseObjectToArray(this.getCartObj);
        },
    },

    mounted() {
        if (this.$route.query.active) {
            this.setOrderButtonStatus(true);
        }
        this.handleResize();
        window.addEventListener('resize', this.handleResize);

        if (this.isDev) {
            const showGridName = 'showGrid'; // для отображения grid layout

            if (localStorage.getItem(showGridName)) {
                this.hasLayoutGrid = true;
            }

            document.body.addEventListener('keydown', event => {
                if (event.ctrlKey && event.key === ';') { // "ctrl + ;"
                    this.hasLayoutGrid = !this.hasLayoutGrid;

                    if (this.hasLayoutGrid) {
                        localStorage.setItem(showGridName, true);
                    } else {
                        localStorage.removeItem(showGridName);
                    }
                }
            });
        };
        this.getLocalStorageCart();
    },

    beforeDestroy() {
        window.removeEventListener('resize', this.handleResize);
    },

    methods: {
        ...mapMutations('cart', [
            'setWindowWidth',
            'setActiveItem',
            'setCartCanvasImgByItem',
            'setCartCompare',
            'copyCartItemsByType',
            'setCartItemsByType',
            'setSelectedSizeCupboard',
            'setSelectedTypeCupboard',
        ]),

        ...mapMutations([
            'setWindowWidth',
            'setOrderButtonStatus',
        ]),

        handleResize() {
            this.setWindowWidth(window.innerWidth);
        },

        getLocalStorageCart() {
            if (localStorage.getItem('localCart')) {
                const localCart = JSON.parse(localStorage.getItem('localCart'));

                const now = new Date();
                const today = new Date(now.getFullYear(), now.getMonth(), now.getDate(), now.getHours(), now.getMinutes());
                // Прверяем когда последний раз актуализировалась корзина, если больше 24 часов назад, то не подгружаем из LocalStorage
                if (today.valueOf() - localCart.date.valueOf() < 86400000) {
                    // Проходим по всем юнитам корзины
                    const cartComparesList = [];
                    const productsIdList = [];

                    localCart.units.forEach((item, i) => {
                        // Если в корзине нет юнита с таким индексом, то создаем копию объекта
                        if (!this.carts[i]) {
                            const copied = cloneDeep(this.getCartObj[0]);
                            this.copyCartItemsByType(copied);
                        }

                        // Добавляем фоновые изображения
                        this.setActiveItem(i);

                        if (item.wallImg) {
                            this.setCartCanvasImgByItem({
                                type: 'wall',
                                value: item.wallImg,
                                wallFileName: item.wallName,
                            });
                        } else {
                            this.setCartCanvasImgByItem({
                                type: 'wall',
                                value: '/img/configurator/wall/10_Beliy.png',
                                wallFileName: '10_Beliy',
                            });
                        }
                        if (item.tabletopImg) {
                            this.setCartCanvasImgByItem({
                                type: 'tabletop',
                                value: item.tabletopImg,
                                tabletopFileName: item.tabletopName,
                            });
                        } else {
                            this.setCartCanvasImgByItem({
                                type: 'tabletop',
                                value: '/img/configurator/tabletop/01_Svetloe_Derevo.png',
                                tabletopFileName: '01_Svetloe_Derevo',
                            });
                        }
                        if (item.facadeImg) {
                            this.setCartCanvasImgByItem({
                                type: 'facade',
                                value: item.facadeImg,
                                facadeFileName: item.facadeName,
                                facadeType: item.facadeType,
                                facadeSize: item.facadeSize,
                            });
                        } else {
                            let size = 45;
                            let type = 'default';
                            if (item.facadeType) {
                                type = item.facadeType;
                            }
                            if (item.facadeSize) {
                                size = item.facadeSize;
                            }
                            this.setCartCanvasImgByItem({
                                type: 'facade',
                                value: '/img/configurator/facade/classic/' + size + '/color-white/' + type + '.png',
                                facadeFileName: 'classic/' + size + '/color-white/' + type + '',
                                facadeType: item.facadeType,
                                facadeSize: item.facadeSize,
                            });
                        }
                        if (item.facadeDoorImg) {
                            this.setCartCanvasImgByItem({
                                type: 'facadeDoor',
                                value: item.facadeDoorImg,
                                facadeDoorFileName: item.facadeDoorName,
                            });
                        } else if (item.facadeType === 'retractable') {
                            let size = 45;
                            if (item.facadeSize) {
                                size = item.facadeSize;
                            }
                            this.setCartCanvasImgByItem({
                                type: 'facadeDoor',
                                value: '/img/configurator/facade/classic/' + size + '/color-white/retractable-door.png',
                                facadeDoorFileName: 'classic/' + size + '/color-white/default',
                            });
                        }

                        this.setSelectedTypeCupboard(item.facadeType);
                        this.setSelectedSizeCupboard(item.facadeSize);

                        // Берем id мойки если она есть
                        if (item.washing) {
                            const washId = item.washing;
                            productsIdList.push(washId);
                        }

                        // Берем id крана, если он есть
                        if (item.mixer) {
                            const mixerId = item.mixer;
                            productsIdList.push(mixerId);
                        }

                        // Берем id мусорной системы, если она есть
                        if (item.garbage) {
                            const garbageId = item.garbage;
                            productsIdList.push(garbageId);
                        }

                        // Берем id аксесуара, если они есть
                        if (item.accessories) {
                            const accessoriesId = item.accessories;
                            productsIdList.push(accessoriesId);
                        }

                        // Добавляем в массив сравнений
                        if (item.compare) {
                            cartComparesList.push(i);
                        }
                    });

                    const requestStringArray = productsIdList.map(item => 'vendorCode_in=' + item);

                    this.$axios.get(`/products?_publicationState=live&${requestStringArray.join('&')}`)
                        .then(({ data }) => {
                            this.productsList = data;

                            localCart.units.forEach((item, i) => {
                                // Ищем и устанавливаем мойку если она есть
                                this.setActiveItem(i);

                                if (item.washing) {
                                    const washId = item.washing;

                                    const product = this.productsList.find((item, i) => {
                                        return item.vendorCode === washId;
                                    });

                                    this.setCartItemsByType({
                                        result: product,
                                        type: 'washing',
                                    });
                                }

                                // Ищем и устанаваливаем кран, если он есть
                                if (item.mixer) {
                                    const mixerId = item.mixer;

                                    const product = this.productsList.find((item, i) => {
                                        return item.vendorCode === mixerId;
                                    });

                                    this.setCartItemsByType({
                                        result: product,
                                        type: 'mixer',
                                    });
                                }

                                // Ищем и устанаваливаем мусорную систему, если она есть
                                if (item.garbage) {
                                    const garbageId = item.garbage;

                                    const product = this.productsList.find((item, i) => {
                                        return item.vendorCode === garbageId;
                                    });

                                    this.setCartItemsByType({
                                        result: product,
                                        type: 'garbage',
                                    });
                                }

                                // Ищем и устанаваливаем аксесуары, если они есть
                                if (item.accessories) {
                                    const accessoriesId = item.accessories;

                                    const product = this.productsList.find((item, i) => {
                                        return item.vendorCode === accessoriesId;
                                    });

                                    this.setCartItemsByType({
                                        result: product,
                                        type: 'accessories',
                                    });
                                }
                            });

                            // Возвращаем последний активный элемент
                            if (localCart.activeItem) {
                                this.setActiveItem(localCart.activeItem);
                            } else {
                                this.setActiveItem(0);
                            }

                            // Показываем какие юниты нужно сравнить
                            if (cartComparesList.length > 0) {
                                cartComparesList.forEach(item => {
                                    this.setCartCompare({ index: item, result: true });
                                });
                            }
                        })
                        .catch(() => {
                            // this.error = true;
                        });
                }
            } else {
                this.setCartCanvasImgByItem({
                    type: 'wall',
                    value: '/img/configurator/wall/10_Beliy.png',
                    wallFileName: '10_Beliy',
                });

                this.setCartCanvasImgByItem({
                    type: 'tabletop',
                    value: '/img/configurator/tabletop/01_Svetloe_Derevo.png',
                    tabletopFileName: '01_Svetloe_Derevo',
                });

                this.setCartCanvasImgByItem({
                    type: 'facade',
                    value: '/img/configurator/facade/classic/45/color-white/default.png',
                    facadeFileName: 'classic/45/color-white/default',
                });
            }
        },
    },
};
</script>

<style lang="scss">
</style>
