@import '/assets/scss/mixins';

$tabletWidth: 1199;
$mobileWidth: 767;

.scrollbar-track {
    background: none !important;
}

.overlay {
    position: fixed;
    z-index: 8;
    top: 84px;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(#3c3c3c, 0.5);

    @include mq($tabletWidth) {
        display: block;
    }
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    @include mq($mobileWidth) {
        height: 70%;
    }
}

.tablet-icons {
    position: absolute;
    z-index: 12;
    top: 30px;
    display: none;

    @include mq($tabletWidth) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include mq($mobileWidth) {
        position: fixed;
        z-index: 20;
        top: auto;
        bottom: 0;
        justify-content: center;
        width: calc(100% / 3);
    }

    &.filter-icon {
        left: 35px;

        @include mq($mobileWidth) {
            left: 0;

            path {
                fill: #3c3c3c;
            }
        }
    }

    &.cart-icon {
        right: 35px;

        @include mq($mobileWidth) {
            right: 0;

            circle {
                fill: #fff;
            }

            path {
                fill: #3c3c3c;
            }
        }
    }

    &.color-icon {
        display: none;

        @include mq($mobileWidth) {
            left: 0;
            right: 0;
            display: flex;
            height: 52px;
            margin: auto;
        }
    }

    &.active {
        @include mq($mobileWidth) {
            background-color: #339;
        }

        circle {
            fill: #339;
        }

        path {
            fill: #fff;
        }
    }
}

.tablet-info {
    position: absolute;
    z-index: 3;
    bottom: 60px;
    left: 0;
    right: 0;
    display: none;
    max-width: 538px;
    padding: 10px 100px 10px 56px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #575757;
    border-radius: 6px;
    background: url('/img/icons/info-1.svg') no-repeat left 10px top 10px, url('/img/icons/types.svg') no-repeat right 10px center / auto 90%, rgba(#fff, 0.6);
    margin: auto;

    &-rm {
        position: absolute;
        top: -15px;
        right: -15px;
        display: flex;
        padding: 5px;
        border-radius: 6px;
        background-color: rgba(#fff, 0.6);
        cursor: pointer;

        img {
            vertical-align: middle;
        }
    }

    p:first-child {
        margin-bottom: 20px;
    }

    @include mq($tabletWidth) {
        display: block;
    }

    @include mq($mobileWidth) {
        bottom: 86px;
        max-width: 300px;
        padding-right: 0;
        padding-left: 56px;
        font-size: 12px;
        background: url('/img/icons/info-2.svg') no-repeat left center, rgba(#fff, 0.6);
    }
}

.compare-tip {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    background-color: #339;

    @include mq($tabletWidth) {
        justify-content: flex-start;
        padding: 12px 28px;
    }

    @include mq($mobileWidth) {
        padding: 12px 20px;
    }

    &-num {
        line-height: 1;
        margin-right: 30px;

        @include mq($mobileWidth) {
            display: none;
        }
    }

    &-del {
        position: absolute;
        top: 36px;
        right: 37px;
        cursor: pointer;

        @include mq($mobileWidth) {
            top: 23px;
            right: 20px;
        }
    }

    &-name {
        @include mq($mobileWidth) {
            display: none;
        }

        span {
            font-size: 14px;
            line-height: 17px;
            font-weight: 300;
        }
    }

    &-btn {
        margin-left: 100px;

        @include mq($tabletWidth) {
            margin-left: 28px;
        }

        @include mq($mobileWidth) {
            margin-left: 0;

            .btn {
                height: 36px;
            }
        }
    }
}

.color-content {
    &-el {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            right: 0;
            width: 75px;
            //background: linear-gradient(270deg, #e5e5e5 0%, #f2f2f2 100%);
        }
    }
}

.tablet-color-menu {
    position: fixed;
    z-index: 11;
    bottom: -200px;
    left: 0;
    right: 0;
    display: none;
    padding: 30px 0;
    background: #fff;
    transition: bottom 0.5s;

    @include mq($mobileWidth) {
        display: block;
    }

    &__el {
        padding: 0 30px;
        font-size: 14px;
        line-height: 50px;
        font-weight: 400;
        text-transform: uppercase;
        color: #575757;
        border-bottom: 1px solid rgba(87, 87, 87, 0.1);
        background: url('/img/icons/next.svg') no-repeat center right 30px;
        cursor: pointer;
    }

    &.show {
        bottom: 52px;
    }
}

.page-config {
    width: 100vw;

    .color-list {
        position: absolute;
        z-index: 13;
        top: 0;
        bottom: 0;
        right: 0;
        width: 375px;
        background: #f2f2f2;

        &::-webkit-scrollbar {
            width: 0;
        }

        @include mq($mobileWidth) {
            top: -60px;
            width: 100%;
            padding-bottom: 52px;
        }

        .color-rm {
            position: absolute;
            z-index: 9;
            top: 22px;
            right: 22px;
            cursor: pointer;
        }

        .color-content {
            &.smooth-vuebar {
                max-height: calc(100vh - 175px) !important;

                @include mq($mobileWidth) {
                    max-height: calc(100vh - 201px) !important;
                }
            }
        }

        .color-title {
            position: relative;
            padding-top: 37px;
            padding-bottom: 11px;
            font-size: 21px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: left;
            color: #339;
            border-bottom: 1px solid #339;
            margin: 0 30px 15px;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: -16px;
                right: -30px;
                width: 75px;
                //background: linear-gradient(270deg, #e5e5e5 0%, #f2f2f2 100%);
            }
        }

        .color-subtitle {
            padding-left: 30px;
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: left;
            color: #b1b1b1;
            margin-bottom: 20px;
        }

        .form-radio--list {
            border-top: none;
            //margin-bottom: 70px;
        }

        .form-radio-item label {
            display: flex;
            align-items: center;
            padding: 10px 30px;
            border-bottom: 1px solid rgba(#343a3f, 0.1);
        }

        .form-radio-item .checked {
            top: 0;
            bottom: 0;
            height: 24px;
            margin: auto;
        }

        .form-radio-text {
            width: calc(100% - 90px);
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            text-transform: inherit;
            text-align: left;
            border-bottom: none;
        }
    }

    .back-link {
        display: none;

        @include mq($mobileWidth) {
            display: flex;
        }
    }

    .header {
        justify-content: flex-start;
        padding-right: 375px;

        @include mq($tabletWidth) {
            padding-right: 0;
        }

        &-logo {
            margin-left: 30px;
        }

        &-tip {
            margin-left: 46px;

            @include mq($mobileWidth) {
                margin-left: 29px;
            }
        }

        &-title {
            margin: auto;

            @include mq($tabletWidth) {
                margin: 0 auto 0 0;
            }
        }
    }

    .catalog {
        &-img {
            width: 135px;
            height: 110px;
            margin: 30px 0 30px 30px;

            @include mq($mobileWidth) {
                margin: 30px 0 30px 15px;
            }

            &_back {
                width: 100%;
                height: 100%;
                opacity: 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: opacity 0.25s 0.5s;

                &.is-active {
                    opacity: 1;
                }

                &.is-empty {
                    opacity: 0.25;
                    background-position: 50% -7px;
                    background-size: 70px;
                }
            }
        }

        &-title {
            width: calc(100% - 180px);
            padding: 30px 30px 30px 0;
            font-size: 16px;
            line-height: 19px;
            color: #575757;
            transition: color 0.25s;

            @include mq($mobileWidth) {
                padding: 30px 15px 30px 0;
            }

            &.full {
                width: 100%;
            }

            .btn {
                margin-top: 20px;

                img {
                    margin-right: 11px;
                }
            }
        }

        &-color {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            column-gap: 22px;
            row-gap: 16px;
            width: 100%;
            max-height: 0;
            padding: 0 30px;
            transition: max-height 0.25s, margin-top 0.25s 0.2s, padding 0.25s 0.2s;
            overflow: hidden;

            .item {
                width: 32px;
                height: 32px;
                border-radius: 32px;
                transition: box-shadow 0.25s;
                cursor: pointer;
                overflow: hidden;

                img {
                    transition: opacity 0.25s;
                }

                &.active {
                    box-shadow: inset 0 0 0 2px #0e4dd0;
                    // pointer-events: none;

                    img {
                        opacity: 0.2;
                    }
                }
            }
        }

        &-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            min-height: 150px;
            border-bottom: 1px solid rgba(87, 87, 87, 0.1);
            background-color: #f2f2f2;
            transition: background 0.25s;
            cursor: pointer;

            &:last-child {
                border-bottom: 1px solid transparent;
            }

            &:hover {
                background: #e9e9e9;

                .catalog-title {
                    color: #339;
                }
            }

            &.checked {
                background: #e9e9e9;

                .catalog-title {
                    font-weight: 700;
                    color: #339;
                }
            }

            &.active {
                background: #3c3c3c;

                .catalog-color {
                    max-height: 160px;
                    padding: 0 30px 30px;
                    transition: max-height 0.25s, margin-top 0.25s, padding 0.25s;
                    margin-top: 25px;
                }

                .catalog-title {
                    color: #fff;
                }

                .btn {
                    color: #fff;
                    border-color: #373636;
                    background-color: #373636;
                }
            }
        }
    }

    .compares-item {
        padding-bottom: 50px;
    }

    .content {
        position: relative;
        display: flex;
        height: calc(100vh - 84px);
        padding-right: 375px;

        @include mq($tabletWidth) {
            padding-right: 0;
            overflow: hidden;
        }

        @include mq($mobileWidth) {
            height: calc(100vh - 60px);
            overflow: visible;
        }
    }

    .filter {
        position: relative;
        width: 375px;
        min-height: calc(100vh - 84px);
        background-color: #f2f2f2;

        &-inner {
            //padding-bottom: 80px;
            &::-webkit-scrollbar {
                width: 0;
            }
        }

        .smooth-vuebar {
            max-height: calc(100vh - 371px) !important;

            @include mq($tabletWidth) {
                max-height: calc(100vh - 489px) !important;
            }

            @include mq($mobileWidth) {
                max-height: calc(100vh - 375px) !important;
            }
        }

        @include mq($tabletWidth) {
            position: absolute;
            z-index: 10;
            top: 0;
            left: -375px;
            padding-top: 100px;
            transition: left 0.25s;

            &.show {
                left: 0;
            }
        }

        @include mq($mobileWidth) {
            top: -60px;
            left: -100%;
            width: 100%;
            min-height: calc(100vh - 52px);
            padding-top: 0;
            padding-bottom: 52px;
        }

        &-close {
            position: absolute;
            top: 30px;
            right: 30px;
            display: none;
            cursor: pointer;

            @include mq($tabletWidth) {
                display: block;
            }
        }

        .btn-group {
            position: fixed;
            z-index: 9;
            bottom: 0;
            left: 0;
            right: 0;
            width: 375px;
            padding: 10px;
            background: #f2f2f2;

            > * {
                width: 49%;
            }

            @include mq($tabletWidth) {
                position: absolute;
                bottom: 20px;
                display: block;
            }

            @include mq($mobileWidth) {
                position: fixed;
                bottom: 52px;
                display: none;
                flex-wrap: nowrap;
                justify-content: space-between;
                width: 100%;
                padding: 20px;
            }
        }

        &.show {
            @include mq($mobileWidth) {
                .btn-group {
                    display: flex;
                }
            }
        }
    }

    .cart {
        position: fixed;

        > div {
            &::-webkit-scrollbar {
                width: 0;
            }
        }

        @include mq($tabletWidth) {
            position: absolute;
            z-index: 9;
            top: 0;
            right: -375px;
            transition: right 0.25s;

            .scroll-content {
                //padding-top: 50px;
            }

            &-header {
                position: relative;
                top: 14px;
                right: -100px;
                display: inline-block;
                padding-bottom: 50px;

                img {
                    display: none;
                }
            }

            &.show {
                right: 0;
            }
        }

        @include mq($mobileWidth) {
            top: -60px;
            right: -100%;
            width: 100%;
            min-height: calc(100vh - 52px);
            padding-bottom: 80px;

            &-header {
                position: static;
                display: flex;
                padding-bottom: 20px;
                opacity: 0.3;
                background: none !important;

                img {
                    display: block;
                }
            }
        }

        &-close {
            position: absolute;
            top: 44px;
            left: 30px;
            display: none;
            cursor: pointer;

            @include mq($tabletWidth) {
                display: block;
            }

            @include mq($mobileWidth) {
                top: 22px;
                left: auto;
                right: 30px;
                height: 13px;
            }
        }
    }

    .selector {
        display: flex;
        width: 100%;
        padding: 0 30px 20px;

        @include mq($mobileWidth) {
            padding: 0 15px 15px;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            padding: 10px 23px 10px 10px;
            font-size: 10px;
            line-height: 0.8;
            letter-spacing: 0.92px;
            text-transform: uppercase;
            background: #d8d8d8;
            transition: color 0.25s, background-color 0.25s;
            cursor: pointer;

            path {
                transition: fill 0.5s;
            }

            circle,
            rect {
                transition: stroke 0.25s;
            }

            svg {
                margin-right: 30px;
            }

            &:hover,
            &.active {
                color: #fff;
                background-color: #339;

                path {
                    fill: #fff;
                }

                circle,
                rect {
                    stroke: #fff;
                }
            }
        }
    }

    .tabs {
        &-header {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 5px;
            padding: 20px 30px;

            @include mq($mobileWidth) {
                padding: 15px;
            }

            li {
                position: relative;
                padding-top: 13px;
                padding-bottom: 15px;
                border-bottom: 1px solid #dcdcdc;
                transition: border-bottom 0.15s;
                cursor: pointer;

                @include mq($mobileWidth) {
                    padding-top: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }

                .img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75px;
                    height: 75px;
                    border-radius: 75px;
                    background-color: #fff;
                    transition: background-color 0.5s;
                }

                .tip {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                &.active {
                    border-bottom: 2px solid #339;

                    @include mq($mobileWidth) {
                        border-bottom: none;
                    }

                    .img {
                        background-color: #339;
                    }
                }
            }
        }

        &-body {
            position: relative;
            //padding-bottom: 80px;
        }

        .scroll-content {
            //@include mq($tabletWidth) {
            //    padding-bottom: 80px;
            //}
            //
            //@include mq($mobileWidth) {
            //    padding-bottom: 40px;
            //}
        }
    }

    .product {
        position: relative;
        width: calc(100% - 375px);
        text-align: center;
        // overflow-y: auto;

        @include mq($tabletWidth) {
            width: 100%;
        }

        @include mq($mobileWidth) {
            overflow: visible;

            &::after {
                content: '';
                position: fixed;
                z-index: 19;
                bottom: 0;
                left: 0;
                right: 0;
                height: 52px;
                background-color: #fff;
            }
        }

        .main-configurator {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: calc(100vh - 84px);
            //background: url('/img/Kollazh.png') no-repeat top 20% center / 100% auto;

            &.smooth-vuebar {
                max-height: calc(100vh - 84px) !important;
            }

            &::-webkit-scrollbar {
                width: 0;
            }

            &__images {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding-top: 100%;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 10;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100px;
                    background: linear-gradient(to bottom, rgba(#fff, 0) 0%, rgba(#fff, 1) 100%);

                    @include mq($mobileWidth) {
                        height: 130px;
                    }
                }

                .image {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: none no-repeat 50% 0;
                    background-size: contain;
                }

                .bowl,
                .wall,
                .tabletop,
                .facade {
                    opacity: 0;
                    transition: opacity 0.25s $easeInOutCirc;

                    > img {
                        object-fit: contain;
                    }

                    &--is-show {
                        opacity: 1;
                    }
                }

                .pseudo-image {
                    position: absolute;
                    top: 0; // меняется во vue
                    left: 0; // меняется во vue
                    transform-origin: 0 0;
                }
            }

            .item {
                position: absolute;
                z-index: 9;
                top: 5px;
                left: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 52px;
                height: 52px;
                border-radius: 52px;
                background-color: #f2f2f2;
                transition: background-color 0.25s;
                cursor: pointer;

                @include mq($tabletWidth) {
                    &:first-child {
                        top: 30px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }

                &:nth-child(2) {
                    top: auto;
                    bottom: 15%;

                    @include mqh(700px) {
                        //bottom: 1%;
                    }

                    @include mq($tabletWidth) {
                        //top: 58%;
                        //bottom: auto;
                    }
                }

                &:last-child {
                    top: 45%;

                    //@include mqh(700px) {
                    //    top: 50%;
                    //}
                }

                @include mq($mobileWidth) {
                    display: none;
                }

                path {
                    transition: fill 0.25s;
                }

                &.active {
                    background-color: #339;

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}
