<template>
    <div class="accordion">
        <div
            v-for="(item, index) in content"
            :key="item.groupId + '-' + item.id"
            class="accordion-item"
            :class="{'is-active': activeItem === index}"
        >
            <dt class="accordion-item-title" @click="() => toggle(index)">
                <div class="accordion-item-trigger">
                    <span
                        :class="{'selected-filter': filters[item.groupId] && filters[item.groupId] !== 'none' && filters[item.groupId] !== 0}"
                    >{{ item.title }}</span>
                    <span class="accordion-item-trigger-icon">
                        <svg
                            width="13"
                            height="7"
                            viewBox="0 0 13 7"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M11.5 1.5L6.5 6.25"
                                stroke="#333399"
                                stroke-width="1.4"
                                stroke-linecap="round"
                            />
                            <path
                                d="M1.5 1.5L6.5 6.25"
                                stroke="#333399"
                                stroke-width="1.4"
                                stroke-linecap="round"
                            />
                        </svg>
                    </span>
                </div>
            </dt>
            <dd v-if="activeItem === index" class="accordion-item-details">
                <div v-if="item.type === 'img'" class="img">
                    <swiper
                        :ref="item.groupId"
                        class="swiper"
                        :options="swiperOptionSlide"
                        @ready="() => handleSwiperReadied(item.groupId, type)"
                        @slideChange="() => onMainChange(item.groupId, type, index)"
                    >
                        <swiper-slide
                            v-for="(slide, slideIndex) in parseColor"
                            :key="slideIndex"
                            :data-swiper-index="slideIndex"
                            :data-value="slide.value"
                            class="swiper-slide"
                        >
                            <input type="hidden" :value="slide.value" />
                            <div v-if="slide.value !== 'none'" class="text-center">
                                <img :src="parseUrlPictures(slide, 'text')" alt="" :title="slide.name" />
                                <div class="img-type-text" v-html="slide.name" />
                            </div>
                            <div v-else class="ball-type">{{ slide.text }}</div>
                        </swiper-slide>
                        <div slot="scrollbar" class="swiper-scrollbar" />
                        <div slot="button-prev" class="invisible-prev" />
                        <div slot="button-next" class="invisible-next" />
                    </swiper>
                </div>
                <div v-if="item.type === 'price'" class="desc" :class="item.className">
                    <swiper
                        :ref="item.groupId"
                        class="swiper"
                        :options="swiperOptionSlide"
                        @ready="() => handleSwiperReadied(item.groupId, type)"
                        @slideChange="() => onMainChange(item.groupId, type, index)"
                    >
                        <swiper-slide
                            v-for="(slide, slideIndex) in item.details"
                            :key="slideIndex"
                            :data-swiper-index="slideIndex"
                            :data-value="slide.value"
                            class="swiper-slide"
                        >
                            <input type="hidden" :value="slide.value" />
                            <div v-if="!slide.img" class="ball-type">
                                <div
                                    :class="(slide.value === 'none' || slide.value === 'Corner' || slide.value[0] === '90K') && 'sm'"
                                    v-html="slide.text"
                                />
                            </div>
                            <div v-else class="img-type">
                                <div class="img-type-img"><img :src="slide.img" :alt="slide.text" /></div>
                                <div class="img-type-text" v-html="slide.text" />
                            </div>
                        </swiper-slide>
                        <div slot="scrollbar" class="swiper-scrollbar" />
                        <div slot="button-prev" class="invisible-prev" />
                        <div slot="button-next" class="invisible-next" />
                    </swiper>
                </div>
            </dd>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import { directive, Swiper, SwiperSlide } from 'vue-awesome-swiper';
import functions from '@/utils/functions';

export default {
    name: 'Accordion',
    components: {
        Swiper,
        SwiperSlide,
    },
    directives: {
        swiper: directive,
    },
    mixins: [functions],
    props: {
        activeItem: {
            type: Number,
            default: null,
        },
        type: {
            type: String,
            default: '',
        },
        content: {
            type: Array,
            default: () => {
            },
        },
        parseColor: {
            type: Array,
            default: () => [],
        },
        toggle: {
            type: Function,
            default: () => {},
        },
        filters: {
            type: Object,
            default: () => {
            },
        },
    },
    data: () => ({
        swiperOptionSlide: {
            slidesPerView: 3,
            centeredSlides: true,
            loop: false,
            simulateTouch: false,
            scrollbar: {
                el: '.swiper-scrollbar',
                draggable: true,
                hide: false,
                dragSize: 100,
            },
            navigation: {
                nextEl: '.invisible-next',
                prevEl: '.invisible-prev',
            },
            breakpoints: {
                768: {
                    simulateTouch: true,
                },
            },
        },
    }),

    computed: {
        ...mapGetters('cart', [
            'getCartObjFilter',
        ]),
    },

    methods: {
        ...mapMutations('cart', [
            'setCartFilterByType',
        ]),
        handleSwiperReadied(item, type) {
            const sl = this.$refs[item][0].$el.swiper;
            Object.entries(this.getCartObjFilter[type]).forEach(([key, val]) => {
                if (val !== 'none') {
                    if (item === key) {
                        for (let i = 0; i < sl.slides.length; i++) {
                            if (Array.isArray(val)) {
                                val = val.join(',');
                            }

                            if (sl.slides[i].getAttribute('data-value') === val) {
                                const index = sl.slides[i].getAttribute('data-swiper-index');
                                // сохраняем индекс выбранного фильтра и тип фильтра
                                // так будем понимать где показать *, значит фильтр применен
                                sl.slideTo(index);
                            }
                        }
                    }
                }
            });
        },
        onMainChange(key, type, contentIndex = null) {
            const sl = this.$refs[key][0].$el.swiper;
            const realIndex = sl.realIndex;
            const value = sl.slides[realIndex].getAttribute('data-value');
            let correctValue = null;
            // value лежит в data атрибуте(!?), если это был массив, то получим строку, а нужен массив
            // поэтому забираем прямо из объекта который пришел через props
            if (contentIndex && key !== 'color') {
                correctValue = this.content[contentIndex].details[realIndex]?.value;
            }
            if (contentIndex && key === 'color') {
                // цветов моек и смесителей нет в объекте content.details, массив пуст
                // у таких объектов есть поле externArray, в котором ключ на массив с цветами, который передается в этот копонент пропсами
                // оттуда и достаем цвет
                const key = this.content[contentIndex].externArray;
                correctValue = this[key][realIndex]?.value;
            }
            this.setCartFilterByType({
                type,
                key,
                value: correctValue ?? value,
            });
        },
    },
};
</script>

<style lang="scss">

.invisible-prev {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 15px;
    left: 0;
    width: 35%;
    cursor: pointer;
}

.invisible-next {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 15px;
    right: 0;
    width: 35%;
    cursor: pointer;
}

.selected-filter-value {
    position: relative;

    &::before {
        content: '*';
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 20px;
    }
}

.selected-filter {
    position: relative;
    display: inline-block;

    &::before {
        content: '*';
        position: absolute;
        top: 0;
        right: -20px;
        font-size: 20px;
    }
}
</style>
