<template>
    <button type="button" :disabled="disabled" :class="'btn ' + className" @click="clicked">
        <span v-if="!loader">{{ text }}</span>
        <slot v-if="!loader" />
        <div v-if="loader" class="btn-loader">
            <svg xmlns="http://www.w3.org/2000/svg" style="shape-rendering: auto;" width="28px" height="28px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1" />
                </circle>
            </svg>
        </div>
    </button>
</template>

<script>
export default {
    name: 'Button',
    props: {
        loader: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        text: {
            type: String,
            default: '',
        },
        clicked: {
            type: Function,
            default: () => {},
        },
        className: {
            type: String,
            default: '',
        },
    },
};
</script>

<style lang="scss">
    @import 'assets/scss/variables';

    .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 170px;
        height: 60px;
        padding: 10px 42px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid $colorBlack;
        border-radius: 0;
        background-color: $colorBlack;
        transition: background-color 0.25s, color 0.25s, border-color 0.25s;
        cursor: pointer;

        &-loader {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 28px;
            margin: auto;
        }

        &-group {
            display: flex;
            align-items: center;

            @include mq(767) {
                flex-wrap: wrap;

                > * {
                    width: 100%;
                }
            }
        }

        &-full {
            width: 100%;
        }

        &-sm {
            min-width: inherit;
            height: 34px;
            padding-right: 12px;
            padding-left: 12px;
            font-size: 10px;
            font-weight: 400;
        }

        &:disabled,
        &.disabled {
            opacity: 0.3;
            cursor: default;
        }

        &--primary {
            color: $colorBase;
            border-color: #fff;
            background-color: #fff;
        }

        &--info {
            color: $colorBase;
            border-color: #f2f2f2;
            background-color: #f2f2f2;
        }

        &--secondary {
            padding: 10px 33px;
            color: $colorBase;
            border-color: $colorBase;
            background-color: transparent;
        }

        &--secondary-o {
            color: $colorBlack;
            border-color: #fff;
            background-color: transparent;
        }

        &--secondary-p {
            color: $colorBlack;
            border-color: #fff;
            background-color: #fff;

            &:hover:not(:disabled) {
                color: #fff;
                border-color: #373636;
                background-color: #373636;
            }
        }

        &--outlined {
            color: $colorBase;
            border-color: transparent;
            background-color: transparent;
        }

        &:hover:not(:disabled) {
            color: #fff;
            border-color: $colorBase;
            background-color: $colorBase;
        }

        &--warn {
            color: #fff;
            border-color: #fff;
            background-color: $colorBase;

            &:hover:not(:disabled) {
                color: $colorBase;
                border-color: #fff;
                background-color: #fff;
            }
        }
    }
</style>
