<template>
    <div v-if="activeColorBlock !== null" class="color-list">
        <div class="color-rm" @click="close">
            <svg
                width="13"
                height="13"
                viewBox="0 0 13 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path d="M12 1L1 12" stroke="#575757" stroke-width="2" stroke-linecap="round" />
                <path d="M12 12L1 1" stroke="#575757" stroke-width="2" stroke-linecap="round" />
            </svg>
        </div>
        <div class="color-title">{{ colorsBase[activeColorBlock].title }}</div>
        <div class="color-content">
            <div class="color-content-el">
                <div
                    v-for="(color, index) in colorsBase[activeColorBlock].colors"
                    :key="activeColorBlock + '-' +index"
                    class="form-radio form-radio--list"
                >
                    <div v-if="color.title" class="color-subtitle">{{ color.title }}</div>
                    <div v-for="item in color.models" :key="item.value" class="form-radio-item">
                        <input
                            :id="item.value"
                            :value="item.value"
                            type="radio"
                            :name="activeColorBlock"
                        />
                        <label :for="item.value">
                            <div class="form-radio-img"><img :src="item.img" /></div>
                            <span class="form-radio-text">{{ item.name }}</span>
                            <div class="checked"><img src="/img/icons/selected.svg" /></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ColorList',
    props: {
        activeColorBlock: {
            type: String,
            default: '',
        },
        close: {
            type: Function,
            default: () => {
            },
        },
    },
    data: () => ({
        colorsBase: {
            tabletop: {
                title: 'Цвет столешницы',
                colors: [
                    {
                        title: '',
                        models: [
                            {
                                name: 'Светлое дерево',
                                value: 'color-1',
                                img: '/img/filter/tabletop/color-1.jpg',
                            },
                            {
                                name: 'Темное дерево',
                                value: 'color-2',
                                img: '/img/filter/tabletop/color-2.jpg',
                            },
                            {
                                name: 'Серое дерево',
                                value: 'color-3',
                                img: '/img/filter/tabletop/color-3.jpg',
                            },
                            {
                                name: 'Среднее дерево',
                                value: 'color-4',
                                img: '/img/filter/tabletop/color-4.jpg',
                            },
                            {
                                name: 'Зернистый светлый камень',
                                value: 'color-5',
                                img: '/img/filter/tabletop/color-5.jpg',
                            },
                            {
                                name: 'Зернистый темный камень',
                                value: 'color-6',
                                img: '/img/filter/tabletop/color-6.jpg',
                            },
                            {
                                name: 'Белый мрамор',
                                value: 'color-7',
                                img: '/img/filter/tabletop/color-7.jpg',
                            },
                            {
                                name: 'Черный мрамор',
                                value: 'color-8',
                                img: '/img/filter/tabletop/color-8.jpg',
                            },
                            {
                                name: 'Бежевый гранит',
                                value: 'color-9',
                                img: '/img/filter/tabletop/color-9.jpg',
                            },
                            {
                                name: 'Белый',
                                value: 'color-10',
                                img: '/img/filter/tabletop/color-10.jpg',
                            },
                            {
                                name: 'Серый',
                                value: 'color-11',
                                img: '/img/filter/tabletop/color-11.jpg',
                            },
                            {
                                name: 'Черный',
                                value: 'color-12',
                                img: '/img/filter/tabletop/color-12.jpg',
                            },
                            {
                                name: 'Бежевый',
                                value: 'color-13',
                                img: '/img/filter/tabletop/color-13.jpg',
                            },
                            {
                                name: 'Кофе',
                                value: 'color-14',
                                img: '/img/filter/tabletop/color-14.jpg',
                            },
                            {
                                name: 'Серый беж',
                                value: 'color-15',
                                img: '/img/filter/tabletop/color-15.jpg',
                            },
                        ],
                    },
                ],
            },
            back: {
                title: 'Цвет задней панели',
                colors: [
                    {
                        title: '',
                        models: [
                            {
                                name: 'Светлое дерево',
                                value: 'color-1',
                                img: '/img/filter/tabletop/color-1.jpg',
                            },
                            {
                                name: 'Темное дерево',
                                value: 'color-2',
                                img: '/img/filter/tabletop/color-2.jpg',
                            },
                            {
                                name: 'Серое дерево',
                                value: 'color-3',
                                img: '/img/filter/tabletop/color-3.jpg',
                            },
                            {
                                name: 'Среднее дерево',
                                value: 'color-4',
                                img: '/img/filter/tabletop/color-4.jpg',
                            },
                            {
                                name: 'Зернистый светлый камень',
                                value: 'color-5',
                                img: '/img/filter/tabletop/color-5.jpg',
                            },
                            {
                                name: 'Зернистый темный камень',
                                value: 'color-6',
                                img: '/img/filter/tabletop/color-6.jpg',
                            },
                            {
                                name: 'Белый мрамор',
                                value: 'color-7',
                                img: '/img/filter/tabletop/color-7.jpg',
                            },
                            {
                                name: 'Черный мрамор',
                                value: 'color-8',
                                img: '/img/filter/tabletop/color-8.jpg',
                            },
                            {
                                name: 'Бежевый гранит',
                                value: 'color-9',
                                img: '/img/filter/tabletop/color-9.jpg',
                            },
                            {
                                name: 'Белый',
                                value: 'color-10',
                                img: '/img/filter/tabletop/color-10.jpg',
                            },
                            {
                                name: 'Серый',
                                value: 'color-11',
                                img: '/img/filter/tabletop/color-11.jpg',
                            },
                            {
                                name: 'Черный',
                                value: 'color-12',
                                img: '/img/filter/tabletop/color-12.jpg',
                            },
                            {
                                name: 'Бежевый',
                                value: 'color-13',
                                img: '/img/filter/tabletop/color-13.jpg',
                            },
                            {
                                name: 'Кофе',
                                value: 'color-14',
                                img: '/img/filter/tabletop/color-14.jpg',
                            },
                            {
                                name: 'Серый беж',
                                value: 'color-15',
                                img: '/img/filter/tabletop/color-15.jpg',
                            },
                        ],
                    },
                ],
            },
            facade: {
                title: 'Цвет фасада',
                colors: [
                    {
                        title: '',
                        models: [
                            {
                                name: 'Светлое дерево',
                                value: 'color-1',
                                img: '/img/filter/facade/color-1.png',
                            },
                            {
                                name: 'Темное дерево',
                                value: 'color-2',
                                img: '/img/filter/facade/color-2.png',
                            },
                            {
                                name: 'Серое дерево',
                                value: 'color-3',
                                img: '/img/filter/facade/color-3.png',
                            },
                            {
                                name: 'Среднее дерево',
                                value: 'color-4',
                                img: '/img/filter/facade/color-4.png',
                            },
                            {
                                name: 'Белый',
                                value: 'color-5',
                                img: '/img/filter/facade/color-5.png',
                            },
                            {
                                name: 'Серый',
                                value: 'color-6',
                                img: '/img/filter/facade/color-6.png',
                            },
                            {
                                name: 'Cветло-серый',
                                value: 'color-7',
                                img: '/img/filter/facade/color-8.png',
                            },
                            {
                                name: 'Черный',
                                value: 'color-8',
                                img: '/img/filter/facade/color-8.png',
                            },
                            {
                                name: 'Бежевый',
                                value: 'color-9',
                                img: '/img/filter/facade/color-9.png',
                            },
                            {
                                name: 'Кофе',
                                value: 'color-10',
                                img: '/img/filter/facade/color-10.png',
                            },
                            {
                                name: 'Серый беж',
                                value: 'color-11',
                                img: '/img/filter/facade/color-11.png',
                            },
                            {
                                name: 'Синий',
                                value: 'color-12',
                                img: '/img/filter/facade/color-12.png',
                            },
                            {
                                name: 'Бирюзовый',
                                value: 'color-13',
                                img: '/img/filter/facade/color-13.png',
                            },
                            {
                                name: 'Зеленый',
                                value: 'color-14',
                                img: '/img/filter/facade/color-14.png',
                            },
                        ],
                    },
                ],
            },
        },
    }),

    computed: {
    },

    methods: {
        handleChange(value) {
            this.$emit('change', value);
        },
    },
};
</script>

<style lang="scss">
.color-content {
    &-el {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            right: 0;
            width: 75px;
            background: linear-gradient(270deg, #e5e5e5 0%, #f2f2f2 100%);
        }
    }
}

.color-list {
    position: absolute;
    z-index: 11;
    top: 0;
    bottom: 0;
    right: 0;
    width: 375px;
    background: #f2f2f2;
    overflow-y: auto;

    .color-rm {
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;
    }

    .color-title {
        position: relative;
        padding-top: 37px;
        padding-bottom: 11px;
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        color: #339;
        border-bottom: 1px solid #339;
        margin: 0 30px 15px;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: -16px;
            right: -30px;
            width: 75px;
            background: linear-gradient(270deg, #e5e5e5 0%, #f2f2f2 100%);
        }
    }

    .color-subtitle {
        padding-left: 30px;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
        color: #b1b1b1;
        margin-bottom: 20px;
    }

    .form-radio--list {
        border-top: none;
        //margin-bottom: 70px;
    }

    .form-radio-item label {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        border-bottom: 1px solid rgba(#343a3f, 0.1);
    }

    .form-radio-item .checked {
        top: 0;
        bottom: 0;
        height: 24px;
        margin: auto;
    }

    .form-radio-text {
        width: calc(100% - 90px);
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        text-transform: inherit;
        text-align: left;
        border-bottom: none;
    }
}
</style>
