<template>
    <div class="catalog">
        <div
            v-for="(item, index) in card"
            :key="index"
            class="catalog-item"
            :class="{active: getIndex === index}"
        >
            <template v-if="activeIndex.includes(index)">
                <div class="catalog-img" @click="() => setIndexState(index, item)">
                    <img v-show="false" :src="parseUrlPictures(item, 'picture')" alt="" @load="item.isShowImage = true" />
                    <div
                        class="catalog-img_back"
                        :class="{
                            'is-active': item.isShowImage,
                            'is-empty': !parseUrlPictures(item, 'picture'),
                        }"
                        :style="{ backgroundImage: `url(${parseUrlPictures(item, 'picture') || '/img/no-image.svg'})` }"
                    />
                </div>
                <div class="catalog-title" @click="() => setIndexState(index, item)">
                    {{ item.name }}
                    <a :href="'/card/' + item.vendorCode" class="button" target="_blank">
                        <img src="/img/icons/star.svg" alt="" />
                        <span>Характеристики</span>
                    </a>
                </div>
                <div v-if="type !== 'garbage'" class="catalog-color">
                    <div
                        v-for="(col, index2) in item.value"
                        :key="'color-' + col.id"
                        class="item"
                        :class="{active: getColorIndex === index2}"
                        @click="() => {
                            localSetItem(col, index2);
                        }"
                    >
                        <img :src="parseUrlPictures(col, 'color.picture.url')" alt="" :title="setTitle(col)" />
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import functions from '@/utils/functions';

export default {
    name: 'ConfigItemForCatalog',
    mixins: [functions],
    props: {
        setIndexState: {
            type: Function,
            default: () => {},
        },
        setItem: {
            type: Function,
            default: () => {},
        },
        type: {
            type: String,
            default: '',
        },
        getIndex: {
            type: Number,
            default: 0,
        },
        getColorIndex: {
            type: Number,
            default: 0,
        },
        card: {
            type: Array,
            default: () => {},
        },
        activeIndex: {
            type: Array,
            default: () => {},
        },
    },
    data: () => ({
        activeItem: 0,
        showImage: false,
    }),
    methods: {
        setActiveItem(id) {
            this.activeItem = id;
        },

        localSetItem(col, index2) {
            if (this.getColorIndex !== index2) {
                this.setItem(col, index2);
            }
        },

        setTitle(col) {
            if (col.color) {
                return col.color?.picture?.alternativeText;
            }
            return '';
        },
    },
};
</script>

<style lang="scss">
.button {
    display: flex;
    align-items: center;
    max-width: 160px;
    height: 34px;
    padding: 6px;
    font-size: 10px;
    text-transform: uppercase;
    color: #3c3c3c;
    background-color: #fff;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s;
    margin-top: 20px;

    span {
        //line-height: 2.2;
    }

    img {
        margin-right: 11px;
    }

    &:hover {
        color: #fff;
        border-color: #fff;
        background-color: $colorBase;
    }

    .catalog-item.active & {
        font-weight: 400;
        color: #fff;
        background-color: #373636;
    }
}
</style>
