<template>
    <div class="input-body">
        <div
            class="input"
            :class="{ fulled: innerValue.length === 6, error, group: 'input-group' }"
        >
            <label :for="id">
                <span><slot /></span>
            </label>
            <input
                :id="id"
                v-model="innerValue"
                class="control"
                type="text"
                :maxlength="length"
                :placeholder="placeholder"
                readonly
                onfocus="this.removeAttribute('readonly')"
                @keypress="onlyNumber"
                @input="change"
            />
            <div v-if="innerValue.length > 0 && !loader" class="remove-icon" @click="() => { innerValue = ''; removeData() }">
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 1L1 12" stroke="#575757" stroke-width="2" stroke-linecap="round" />
                    <path d="M12 12L1 1" stroke="#575757" stroke-width="2" stroke-linecap="round" />
                </svg>
            </div>
        </div>
        <div v-if="error" class="error-text">Введеный артикул неверен</div>
    </div>
</template>

<script>
export default {
    name: 'Input',
    props: {
        value: {
            type: String,
            default: '',
        },
        text: {
            type: String,
            default: '',
        },
        group: {
            type: Boolean,
            default: false,
        },
        loader: {
            type: Boolean,
            default: false,
        },
        error: {
            type: Boolean,
            default: false,
        },
        placeholder: {
            type: String,
            default: '',
        },
        length: {
            type: Number,
            default: 6,
        },
        removeData: {
            type: Function,
            default: () => {
            },
        },
        change: {
            type: Function,
            default: () => {
            },
        },
        id: {
            type: String,
            default: '',
        },
    },
    data: () => ({
        innerValue: '',
    }),
    watch: {
        innerValue(newVal) {
            this.$emit('input', newVal);
        },
        value(newVal) {
            this.innerValue = newVal;
        },
    },
    created() {
        if (this.value) {
            this.innerValue = this.value;
        }
    },
    methods: {
        onlyNumber($event) {
            const keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if ((keyCode < 48 || keyCode > 57)) {
                $event.preventDefault();
            }
        },
    },
};
</script>

<style lang="scss" scoped>
@import 'assets/scss/variables';

.error-text {
    text-align: right;
    color: #d51317;
    margin-top: 10px;
}

.input {
    position: relative;
    display: flex;
    height: 37px;
    border-bottom: 1px solid #d8d8d8;
    transition: border-color 0.5s;

    .remove-icon {
        position: absolute;
        top: 11px;
        right: 2px;
        width: 11px;
        cursor: pointer;
    }

    &-group {
        margin-bottom: 40px;

        @include mq(767) {
            margin-bottom: 20px;
        }
    }

    label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 180px;
        padding-left: 13px;
        font-size: 14px;
        line-height: 1;
        color: #575757;
        background-color: #f2f2f2;
        transition: color 0.25s, background-color 0.25s;

        @include mq(767) {
            width: 148px;
            font-size: 12px;
        }
    }

    input {
        width: calc(100% - 180px);
        padding: 5px 25px;
        font-size: 18px;
        font-weight: 400;
        color: #575757;
        transition: color 0.5s;

        @include mq(767) {
            width: calc(100% - 148px);
            padding: 5px 0 5px 20px;
            font-size: 16px;
        }

        &::placeholder {
            color: rgba(#575757, 0.3);
        }
    }

    &.fulled {
        border-color: #339;

        label {
            color: #fff;
            background-color: #339;
        }

        input {
            color: #339;
        }

        path {
            stroke: #339;
        }
    }

    &.error {
        input {
            color: #d51317;
        }
    }
}

</style>
