<template>
    <transition name="home">
        <div v-if="showMenu" class="menu">
            <div class="menu-top">
                <a class="back-link" @click="clicked">
                    <img src="/img/icons/arrow.svg" alt="" />
                </a>
                <NuxtLink to="/" class="menu-link">
                    <img src="/img/logo.svg" alt="BLANCO UNIT" />
                </NuxtLink>
            </div>
            <div class="menu-body">
                <ul>
                    <li v-for="(item, index) in config ? menuSub : menu" :key="index">
                        <NuxtLink :to="item.link" @click.native="clicked">
                            <span>{{ item.text }}</span>
                            <img src="/img/icons/next.svg" alt="" />
                        </NuxtLink>
                    </li>
                </ul>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'Menu',
    props: {
        clicked: {
            type: Function,
            default: () => {
            },
        },
        showMenu: {
            type: Boolean,
            default: false,
        },
        config: {
            type: Boolean,
            default: false,
        },
    },
    data: () => ({
        menu: [
            {
                text: 'ПОКАЗАТЬ BLANCO UNIT',
                link: '/',
            },
            {
                text: 'ПОДРОБНЫЙ ОПРОС',
                link: '/quiz',
            },
            {
                text: 'СОБРАТЬ ПО АРТИКУЛАМ',
                link: '/by-vendor-code',
            },
        ],
        menuSub: [
            {
                text: 'ПОКАЗАТЬ BLANCO UNIT',
                link: '/config',
            },
            {
                text: 'ПОДРОБНЫЙ ОПРОС',
                link: '/quiz',
            },
            {
                text: 'СОБРАТЬ ПО АРТИКУЛАМ',
                link: '/by-vendor-code',
            },
        ],
    }),
};
</script>

<style lang="scss">
.home-enter-active,
.home-leave-active {
    transition: opacity 0.25s;
}

.home-enter,
.home-leave-active {
    opacity: 0;
}

.menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    transition: top 0.25s;

    &-top {
        position: relative;
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0 20px 0 0;

        .menu-link {
            margin-left: auto;

            img {
                vertical-align: middle;
                height: 20px;
            }
        }
    }

    &-body {
        padding-top: 60px;

        ul {
            li {
                border-bottom: 1px solid #d8d8d8;

                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 18px 30px;
                    font-size: 14px;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #575757;
                }
            }
        }
    }
}
</style>
