<template>
    <div class="selector">
        <div
            :class="{active: activeSelector === 2}"
            class="selector-item"
            @click="setActiveSelector(2)"
        >
            <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <rect x="1" y="1" width="18" height="18" stroke="#3C3C3C" stroke-width="1.5" />
                <circle cx="10" cy="10" r="5.25" stroke="#3C3C3C" stroke-width="1.5" />
            </svg>
            Продукция
        </div>
        <div
            :class="{active: activeSelector === 1}"
            class="selector-item"
            @click="setActiveSelector(1)"
        >
            <svg
                width="18"
                height="19"
                viewBox="0 0 18 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.24437 3.56501C7.86632 4.71222 6.7458 5.49391 5.47741 5.49525C4.20901 5.49391 3.08849 4.71222 2.71044 3.56501H0.00737201V1.93512H2.71044C3.08543 0.78465 4.20787 0 5.47863 0C6.7494 0 7.87184 0.78465 8.24683 1.93512H18V3.56501H8.24437ZM6.65447 2.74774C6.65447 2.13177 6.12748 1.63243 5.47741 1.63243C4.82789 1.63371 4.30169 2.1323 4.30034 2.74774C4.30034 3.3637 4.82733 3.86304 5.47741 3.86304C6.12748 3.86304 6.65447 3.3637 6.65447 2.74774ZM14.5524 10.3174C14.1743 11.4646 13.0538 12.2463 11.7854 12.2476C10.5161 12.2473 9.39429 11.4654 9.01597 10.3174H0V8.6875H9.01597C9.39096 7.53702 10.5134 6.75237 11.7842 6.75237C13.0549 6.75237 14.1774 7.53702 14.5524 8.6875H17.9926V10.3174H14.5524ZM12.9625 9.50011C12.9625 8.88414 12.4355 8.3848 11.7854 8.3848C11.1359 8.38608 10.6097 8.88467 10.6083 9.50011C10.6083 10.1161 11.1353 10.6154 11.7854 10.6154C12.4355 10.6154 12.9625 10.1161 12.9625 9.50011ZM7.44328 19C8.71167 18.9987 9.83219 18.217 10.2102 17.0698H18V15.4399H10.2127C9.83771 14.2894 8.71527 13.5047 7.44451 13.5047C6.17374 13.5047 5.0513 14.2894 4.67631 15.4399H0.00737201V17.0698H4.67631C5.05436 18.217 6.17489 18.9987 7.44328 19ZM7.44328 15.1372C8.09335 15.1372 8.62034 15.6365 8.62034 16.2525C8.62034 16.8684 8.09335 17.3678 7.44328 17.3678C6.7932 17.3678 6.26621 16.8684 6.26621 16.2525C6.26756 15.637 6.79376 15.1385 7.44328 15.1372Z"
                    fill="#3C3C3C"
                />
            </svg>
            Фильтрация
        </div>
    </div>
</template>

<script>
export default {
    name: 'Selector',
    props: {
        setActiveSelector: {
            type: Function,
            default: () => {},
        },
        activeSelector: {
            type: Number,
            default: 0,
        },
    },
};
</script>

<style scoped>

</style>
