@import 'variables';
@import 'grids-mixins';

// Row
.row {
    @include make-row;

    &.reverse {
        flex-direction: row-reverse;
    }
}

.col.reverse {
    flex-direction: column-reverse;
}

// Columns
.col {
    @include make-column;
}

// Extra small grid
@include make-grid(xs);

// Small grid
@media screen and (min-width: $screen-sm-min) {
    @include make-grid(sm);
}

// Medium grid
@media screen and (min-width: $screen-md-min) {
    @include make-grid(md);
}

// Large grid
@media screen and (min-width: $screen-lg-min) {
    @include make-grid(lg);
}

// XLarge grid
@media screen and (min-width: $screen-xl-min) {
    @include make-grid(xl);
}

