@mixin mq($from, $to: false) {
    @if $to {
        @media (min-width: #{$from}px) and (max-width: #{$to}px) {
            @content;
        }
    }

    @else {
        @media (max-width: #{$from}px) {
            @content;
        }
    }
}

@mixin mqh($from, $to: false) {
    @if $to {
        @media (min-height: #{$from}px) and (max-height: #{$to}px) {
            @content;
        }
    }

    @else {
        @media (max-height: #{$from}px) {
            @content;
        }
    }
}

@mixin fontface($family, $localname, $filename, $weight, $style) {
    @font-face {
        font-display: block; // чтобы шрифты не "прыгали" при загрузке // старое значение было swap;
        font-family: $family;
        src: local('#{$localname}'), url('../../static/fonts/#{$filename}.woff2') format('woff2');
        font-weight: $weight;
        font-style: $style;
    }
}
