@import 'mixins';

.swiper-container {
    user-select: none;
}

.accordion {
    //padding-bottom: 80px;
    .swiper-scrollbar {
        position: static;
        display: block !important;
        width: calc(100% - 40px) !important;
        border-radius: 0;
        background-color: #606060;
        margin: 10px 20px 0;
        cursor: pointer;
    }

    .swiper-scrollbar-drag {
        border-radius: 0;
        background-color: #fff;
    }

    .swiper-slide {
        opacity: 0.5;
        transform: scale(0.8);
        transition: transform 0.25s, opacity 0.25s;

        &-prev {
            transform: translateX(15px) scale(0.9);
        }

        &-next {
            transform: translateX(-15px) scale(0.9);
        }

        &-active {
            z-index: 9;
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }

    &-item {
        transition: background-color 0.25s;

        &-title {
            position: relative;
            padding: 0 30px;
            font-size: 14px;
            line-height: 50px;
            font-weight: 400;
            text-transform: uppercase;
            color: #575757;
            transition: color 0.25s;
            cursor: pointer;
        }

        &-trigger-icon {
            position: absolute;
            top: 0;
            right: 30px;
            transform: rotate(0);
            transition: transform 0.25s;
        }

        &-details {
            padding: 0 0 15px;

            .swiper-container {
                padding: 15px 0;
            }

            .img {
                img {
                    border: 2px solid #fff;
                    border-radius: 50%;
                }
            }

            .ball-type {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 120px;
                padding: 10px;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                opacity: 0.5;
                border-radius: 120px;
                background: #333;

                .sm {
                    font-size: 14px;
                }

                span {
                    font-weight: 400;
                }
            }

            .img-type {
                text-align: center;

                &-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 120px;

                    img {
                        max-height: 110px;
                    }
                }

                &-text {
                    font-size: 11px;
                    line-height: 13px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #fff;
                    opacity: 0;
                    transition: opacity 0.25s;
                }
            }

            .text-center {
                .img-type-text {
                    text-align: center;
                    margin-top: 13px;
                }
            }

            .swiper-slide-active {
                img,
                .ball-type {
                    opacity: 1;
                    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
                }

                .img-type-text {
                    opacity: 1;
                }
            }

            .desc {
                &--lg {
                    .ball-type {
                        font-size: 48px;

                        span {
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }

                &--sm {
                    .ball-type {
                        font-size: 12px;
                    }
                }
            }
        }

        &.is-active {
            color: #fff;
            background-color: #3c3c3c;

            .accordion-item-title {
                font-weight: 700;
                color: #fff;
            }

            .accordion-item-trigger-icon {
                transform: rotate(180deg);

                path {
                    stroke: #fff;
                }
            }
        }
    }
}
