.wrapper {
    position: sticky;
    z-index: 99;
    top: 0;
}

.cart {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    background-color: #f2f2f2;
    overflow-y: auto;

    // img {
    //     vertical-align: middle;
    // }

    @include mq(767) {
        position: static;
        max-width: inherit;
        height: auto;
        max-height: 130px;
        overflow: hidden;
    }

    &-bottom {
        position: fixed;
        z-index: 9;
        bottom: 0;
        right: 0;
        width: 375px;
        padding: 10px 30px;
        background: #f2f2f2;

        @include mq(1199) {
            position: absolute;
            bottom: 80px;
        }

        @include mq(767) {
            position: relative;
            bottom: -20px;
            padding: 0;
            margin: auto;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        padding: 29px;
        font-size: 21px;
        line-height: 26px;
        font-weight: 600;
        color: #575757;
        opacity: 0.3;

        @include mq(767) {
            justify-content: flex-start;
            padding: 17px 29px !important;
            opacity: 1;
            background: url('/img/icons/mobile-arr.svg') no-repeat right 25px bottom 20px;
            transition: background 0.25s;
            margin-bottom: 0;
        }

        span {
            margin-left: 15px;
        }
    }

    &-body {
        //padding-bottom: 90px;
        color: #3c3c3c;

        @include mq(767) {
            padding-bottom: 0;
        }

        .btn--secondary {
            @include mq(767) {
                display: none;
            }
        }

        .compares-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 9px;
            font-size: 21px;
            line-height: 26px;
            font-weight: 500;
            border-bottom: 1px solid #343a3f;
            transition: border-color 0.25s;
            margin-bottom: 40px;

            a {
                display: none;
                font-size: 12px;
                line-height: 25px;
                text-transform: uppercase;
                color: #339;

                @include mq(767) {
                    display: block;
                    letter-spacing: 0.857143px;
                }
            }
        }

        .compares-counter {
            //padding-right: 20px;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 30px;

            li {
                position: relative;
                padding-left: 15px;

                > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-height: 19px;
                    text-transform: uppercase;
                    margin-bottom: 17px;
                }

                .desc {
                    width: calc(100% - 80px);
                    cursor: pointer;

                    &:hover {
                        color: #9eb6fd;
                    }

                    .compares-counter-num {
                        position: absolute;
                        left: 0;
                    }
                }

                .price {
                    min-width: 45px;
                    margin-left: auto;
                }

                .rm-icon {
                    max-width: 0;
                    transform: scale(0);
                    transition: transform 0.25s, max-width 0.2s 0.1s, margin-left 0.1s 0.2s;
                    margin-left: 0;
                    cursor: pointer;

                    img {
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }

        .icons {
            display: flex;
            align-items: center;

            .icon {
                margin-left: 25px;
                cursor: pointer;

                &:first-child {
                    margin: 0;
                }

                path {
                    transition: stroke 0.25s, fill 0.25s;
                }

                &:hover,
                &.active {
                    path.fill {
                        stroke: none;
                        fill: #000;
                    }

                    path {
                        stroke: #000;
                    }
                }
            }
        }

        .compares-price {
            position: relative;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            margin-bottom: 5px;

            span {
                position: relative;
                z-index: 9;
                background-color: #f2f2f2;
                transition: background-color 0.25s;

                &:first-child {
                    padding-right: 5px;
                }

                &:last-child {
                    padding-left: 5px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 0;
                bottom: 2px;
                left: 0;
                right: 0;
                border-bottom: 1px dashed #979797;
            }
        }

        .compares-total {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
            color: #343a3f;
            border-top: 2px solid #3c3c3c;
            transition: border-color 0.25s, color 0.25s;
            margin-top: 25px;

            @include mq(767) {
                margin-top: -50px;
            }
        }

        .compares-content {
            display: block;

            @include mq(767) {
                max-height: 0;
                //transition: max-height 0.5s;
                overflow: hidden;
            }
        }

        .compares-item {
            padding: 30px;
            background-color: #f2f2f2;
            transition: background-color 0.25s;

            @include mq(767) {
                margin-bottom: 0;
            }

            &.active {
                color: #fff;
                background-color: #3c3c3c;

                .compares-price span {
                    background-color: #3c3c3c;
                }

                .compares-title {
                    border-color: #fff;
                }

                .compares-total {
                    color: #fff;
                    border-color: #fff;
                }

                .icon:hover {
                    path {
                        stroke: #fff;
                    }

                    path.fill {
                        stroke: none;
                        fill: #fff;
                    }
                }

                .compares-counter li:hover {
                    .rm-icon {
                        max-width: 60px;
                        transform: scale(1);
                        transition: transform 0.25s 0.1s, max-width 0.2s, margin-left 0.2s;
                        margin-left: 9px;
                    }
                }
            }
        }
    }

    &.show {
        @include mq(767) {
            max-height: 600px;

            .cart-header {
                background: url('/img/icons/mobile-arr-t.svg') no-repeat right 25px bottom 20px;
            }

            .compares-content {
                max-height: 600px;
                margin-bottom: 20px;
            }

            .compares-total {
                margin-top: 5px;
            }
        }
    }
}
