.form {
    &-radio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 17px;
        row-gap: 17px;

        input {
            display: none;
        }

        &-text {
            position: absolute;
            z-index: 9;
            bottom: 9px;
            left: 13px;
            right: 13px;
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            text-transform: uppercase;
            color: #fff;
            transition: color 0.25s;

            .form-radio--size & {
                position: static;
                font-size: 48px;
                line-height: 1.208;
                font-weight: 500;
                color: #3c3c3c;
            }

            i {
                font-size: 12px;
                line-height: 15px;
                font-weight: 700;
                font-style: normal;
            }
        }


        &--list {
            display: block;
            border-top: 1px solid #bdbdbd;

            .form-radio-text {
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                height: 50px;
                padding: 14px 20px;
                color: #575757;
                border-bottom: 1px solid #bdbdbd;
            }

            .form-radio-img {
                position: relative;
                z-index: 2;
                width: 80px;
                text-align: left;
                margin-right: 10px;

                * {
                    width: 80px;
                    height: 80px;
                    border-radius: 100px;
                    object-fit: cover;
                }
            }
        }

        &-item {
            position: relative;
            overflow: hidden;

            img {
                vertical-align: middle;
                max-width: 100%;
            }

            .checked {
                position: absolute;
                z-index: 9;
                top: 13px;
                left: 12px;
                opacity: 0;
                transition: opacity 0.25s;
            }

            .form-radio--list & .checked {
                left: auto;
                right: 17px;
            }

            label {
                display: block;
                height: 100%;
                background: #282828;
                cursor: pointer;

                &.is-square {
                    min-height: 150px;

                    &--gradient::before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        opacity: 0.85;
                        background: linear-gradient(180deg, #fff 0%, rgb(252 252 252 / 28%) 68%, rgba(0, 0, 0, 0.7) 100%);
                    }
                }

                .form-radio--size & {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: #fff;
                }

                svg {
                    vertical-align: middle;
                    margin-right: 4px;

                    path {
                        transition: stroke 0.25s, fill 0.25s;
                    }
                }

                &.is-square--check-gradient::after {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(51, 51, 153, 1) 100%);
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    opacity: 0.85;
                    background-color: #339;
                    transform: scaleY(0);
                    transform-origin: 50% 100%;
                    transition: transform 0.25s $easeInOutCirc, background 0.25s $easeInOutCirc;
                }

                &:hover {
                    &::after {
                        // background-color: #339;
                        transform: scaleY(1);
                    }

                    .form-radio-text {
                        color: #fff;

                        &--number {
                            color: #3c3c3c;
                        }
                    }

                    // svg path {
                    //     stroke: #fff;
                    //     fill: #fff;
                    // }
                }

                .form-radio--list & {
                    background: none;

                    &::after {
                        opacity: 1;
                    }
                }
            }

            input:checked + label {
                &::after {
                    transform: scaleY(1);
                }

                // &.is-square--check-gradient::after {
                //     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(51, 51, 153, 1) 100%;
                // }

                .form-radio-text {
                    color: #fff;

                    &--number {
                        color: #3c3c3c;
                    }
                }

                .checked {
                    opacity: 1;
                }

                // svg path {
                //     stroke: #fff;
                //     fill: #fff;
                // }
            }
        }

        &--size {
            .line {
                position: relative;
                z-index: 9;
                width: 78px;
                height: 12px;
                border-left: 1px solid #3c3c3c;
                border-right: 1px solid #3c3c3c;
                transition: border-color 0.25s;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #3c3c3c;
                    transition: background-color 0.25s;
                    margin: auto;
                }
            }

            // label:hover .line {
            //     border-color: #fff;

            //     &::after {
            //         background-color: #fff;
            //     }
            // }

            // & input:checked + label {
            //     .line {
            //         border-color: #fff;

            //         &::after {
            //             background-color: #fff;
            //         }
            //     }
            // }

            .form-radio-item {
                height: 150px;
                background-color: #fff;

                &:nth-child(2) {
                    .line {
                        width: 89px;
                    }
                }

                &:nth-child(3) {
                    .line {
                        width: 107px;
                    }
                }
            }
        }
    }
}

.checkbox {
    .label {
        position: relative;
        display: block;
        padding-left: 26px;
        font-size: 12px;
        color: #3c3c3c;
        cursor: pointer;

        @include mq(999) {
            display: flex;
            align-items: center;
            min-height: 30px;
            padding-left: 56px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -2px;
            bottom: 0;
            left: 0;
            width: 13px;
            height: 13px;
            border: 1px solid #339;
            transition: background-color 0.25s;
            margin: auto;

            @include mq(999) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &.error {
        .label {
            color: #d51317;

            &::before {
                border-color: #d51317;
            }
        }
    }

    input:checked + .label {
        &::before {
            background-color: #339;
        }
    }
}
