@include fontface(Helvetica, Helvetica Light, HelveticaNeueCyr-Light, 300, normal);
@include fontface(Helvetica, Helvetica Regular, HelveticaNeueCyr-Roman, 400, normal);
@include fontface(Helvetica, Helvetica Medium, HelveticaNeueCyr-Medium, 500, normal);
@include fontface(Helvetica, Helvetica Bold, HelveticaNeueCyr-Bold, 700, normal);
@include fontface(Helvetica, Helvetica Black, HelveticaNeueCyr-Black, 900, normal);

::selection {
    color: #fff;
    background: $colorBlueDark;
}

html {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: $Helvetica;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.is-mobile-overflow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
    }
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.is-mobile-overflow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
    }

    $gridColor: #000;
    $gridCutterWidth: percentage(20 / 1920);
    $gridColumnWidth: percentage((1920 - (7 * 20)) / 8 / 1920);

    &.is-grid::after {
        content: '';
        position: fixed;
        z-index: 1000;
        top: 0;
        left: percentage(50 / 1920);
        right: percentage(50 / 1920);
        height: 100%;
        opacity: 0.1;
        background: repeating-linear-gradient(90deg, $gridColor 0, $gridColor $gridColumnWidth, transparent $gridColumnWidth, transparent $gridColumnWidth + $gridCutterWidth);
        pointer-events: none;

        @include mq(1599) {
            $gridCutterWidth: percentage(20 / 1440);
            $gridColumnWidth: percentage((1440 - (7 * 20)) / 8 / 1440);

            left: percentage(50 / 1440);
            right: percentage(50 / 1440);
            background: repeating-linear-gradient(90deg, $gridColor 0, $gridColor $gridColumnWidth, transparent $gridColumnWidth, transparent $gridColumnWidth + $gridCutterWidth);
            transform: none;
        }

        @include mq(1279) {
            $gridCutterWidth: percentage(20 / 1024);
            $gridColumnWidth: percentage((1024 - (7 * 20)) / 8 / 1024);

            left: percentage(50 / 1024);
            right: percentage(50 / 1024);
            background: repeating-linear-gradient(90deg, $gridColor 0, $gridColor $gridColumnWidth, transparent $gridColumnWidth, transparent $gridColumnWidth + $gridCutterWidth);
        }

        @include mq(767) {
            $gridCutterWidth: percentage(10 / 375);
            $gridColumnWidth: percentage((375 - (4 * 10)) / 5 / 375);

            left: percentage(20 / 375);
            right: percentage(20 / 375);
            background: repeating-linear-gradient(90deg, $gridColor 0, $gridColor $gridColumnWidth, transparent $gridColumnWidth, transparent $gridColumnWidth + $gridCutterWidth);
        }
    }
}

// stylelint-disable-next-line
#__nuxt,
#__layout,
.layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layout {
    // overflow-x: hidden;
    overflow-y: auto;

    > * {
        min-height: 100vh;
    }
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s $easeInOutCirc, border 0.5s $easeInOutCirc, background 0.5s $easeInOutCirc, opacity 0.5s $easeInOutCirc;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    font-family: $Helvetica;
    font-size: 12px;
    border: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    appearance: none;
    margin: 0;
}

img {
    max-width: 100%;
}
