@import 'mixins';

.header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    padding-right: 30px;
    background: #fff;

    &--main {
        background-color: transparent;
    }

    @include mq(767) {
        height: 60px;
        padding-right: 20px;
        background: #fff;
    }

    &-tip {
        position: relative;
        padding-left: 20px;
        font-size: 11px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 0.785714px;
        text-transform: uppercase;
        color: #575757;

        img {
            position: absolute;
            top: 3px;
            left: 0;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 15px 28px;
        font-size: 14px;
        line-height: 25px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        background-color: #339;

        @include mq(767) {
            padding: 15px 23px;
            font-size: 11px;
            background-color: #3c3c3c;
        }
    }

    &-logo {
        margin-left: auto;

        img {
            vertical-align: middle;

            @include mq(767) {
                height: 20px;
            }
        }
    }

    &-title {
        padding-left: 90px;
        font-size: 30px;
        line-height: 29px;
        color: #339;

        @include mq(1349) {
            font-size: 24px;
        }

        @include mq(1099) {
            padding-left: 30px;
            font-size: 21px;
        }

        @include mq(767) {
            display: none;
        }

        &--sm {
            font-weight: 400;

            sup {
                position: absolute;
                font-size: 18px;
                line-height: 22px;
                font-weight: 500;
                margin-left: 5px;
            }
        }
    }

    &-burger {
        display: none;
        width: 60px;
        height: 60px;
        background-color: #339;

        @include mq(767) {
            //position: absolute;
            //top: 0;
            //left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.mb2 {
    margin-bottom: 2em;
}

.back-link {
    //position: absolute;
    //top: 0;
    //left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    background-color: #339;
    cursor: pointer;

    @include mq(767) {
        width: 60px;
        height: 60px;
        background-color: #3c3c3c;
    }
}
