<template>
    <div class="page-vendor">
        <app-menu :clicked="toggleMenu" :show-menu="showMenu" />
        <header class="header">
            <div class="header-burger" @click="showMenu = !showMenu">
                <img src="/img/icons/burger.svg" alt="BLANCO UNIT" />
            </div>
            <NuxtLink class="back-link" to="/">
                <img src="/img/icons/arrow.svg" alt="" />
            </NuxtLink>
            <div class="header-title">ВВЕДИТЕ НОМЕР АРТИКУЛА</div>
            <NuxtLink to="/" class="header-logo">
                <img src="/img/logo.svg" alt="BLANCO UNIT" />
            </NuxtLink>
        </header>
        <div class="content">
            <div class="content-col content-col-5">
                <h3>ВВЕДИТЕ НОМЕР АРТИКУЛА</h3>
                <app-input
                    id="mixer"
                    v-model="mixer.value"
                    :error="mixer.error"
                    :loader="mixer.loading"
                    placeholder="Например, 512319"
                    :change="e => callApi('Смеситель', 'mixer', e)"
                    :remove-data="() => remove(mixer)"
                >
                    <b>Смеситель&nbsp;</b> / Артикул:
                </app-input>
            </div>
            <div class="content-col">
                <div v-if="mixer.loading" class="text-center">
                    <img class="loader" src="/img/icons/preloader.svg" alt="BLANCO UNIT" />
                </div>
                <div v-if="!mixer.loading && !isEmptyObject(mixer.item)">
                    <a :href="'/card/' + mixer.item.vendorCode" class="item" target="_blank">
                        <div class="item-img">
                            <img
                                :src="parseUrlPictures(mixer, 'item.picture.url') || '/img/no-image.svg'"
                                :class="!parseUrlPictures(mixer, 'item.picture.url') && 'empty'"
                                alt=""
                            />
                        </div>
                        <div class="item-info">
                            <div class="item-title">{{ mixer.item.name }}</div>
                            <div v-if="mixer.item.description" class="item-desc" v-html="parseDescText(mixer.item.description)" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="content-col content-col-5">
                <app-input
                    id="washing"
                    v-model="washing.value"
                    :error="washing.error"
                    :loader="washing.loading"
                    placeholder="Например, 513799"
                    :change="e => callApi('Мойка', 'washing', e)"
                    :remove-data="() => remove(washing)"
                >
                    <b>Мойка&nbsp;</b> / Артикул:
                </app-input>
            </div>
            <div class="content-col">
                <div v-if="!washing.loading && isEmptyObject(washing.item)" class="icon-info">
                    <img src="/img/icons/info.svg" alt="BLANCO UNIT" />
                    <p>
                        Уважаемый пользователь, чтобы собрать UNIT вам необходимо ввести артикулы: смесителя, мойки и
                        по желанию мусорной системы.
                    </p>
                </div>
                <div v-if="washing.loading" class="text-center">
                    <img class="loader" src="/img/icons/preloader.svg" alt="BLANCO UNIT" />
                </div>
                <div v-if="!washing.loading && !isEmptyObject(washing.item)">
                    <a :href="'/card/' + washing.item.vendorCode" class="item" target="_blank">
                        <div class="item-img">
                            <img
                                :src="parseUrlPictures(washing, 'item.picture.url') || '/img/no-image.svg'"
                                :class="!parseUrlPictures(washing, 'item.picture.url') && 'empty'"
                                alt=""
                            />
                        </div>
                        <div class="item-info">
                            <div class="item-title">{{ washing.item.name }}</div>
                            <div v-if="washing.item.description" class="item-desc" v-html="parseDescText(washing.item.description)" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="content-col content-col-5">
                <app-input
                    id="elem1"
                    v-model="elemOne.value"
                    :error="elemOne.error"
                    :loader="elemOne.loading"
                    placeholder="Например, 517469"
                    :change="e => callApi('элемент', 'elemOne', e)"
                    :remove-data="() => remove(elemOne)"
                >
                    <b>Элемент&nbsp;</b> / Артикул:
                </app-input>
            </div>
            <div class="content-col">
                <div v-if="elemOne.loading" class="text-center">
                    <img class="loader" src="/img/icons/preloader.svg" alt="BLANCO UNIT" />
                </div>
                <div v-if="!elemOne.loading && !isEmptyObject(elemOne.item)">
                    <a :href="'/card/' + elemOne.item.vendorCode" class="item" target="_blank">
                        <div class="item-img">
                            <img
                                :src="parseUrlPictures(elemOne, 'item.picture.url') || '/img/no-image.svg'"
                                :class="!parseUrlPictures(elemOne, 'item.picture.url') && 'empty'"
                                alt=""
                            />
                        </div>
                        <div class="item-info">
                            <div class="item-title">{{ elemOne.item.name }}</div>
                            <div v-if="elemOne.item.description" class="item-desc" v-html="parseDescText(elemOne.item.description)" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="content-col content-col-5">
                <app-input
                    id="elem2"
                    v-model="elemTwo.value"
                    :error="elemTwo.error"
                    :loader="elemTwo.loading"
                    placeholder="Например, 525789"
                    :change="e => callApi('элемент', 'elemTwo', e)"
                    :remove-data="() => remove(elemTwo)"
                >
                    <b>Элемент&nbsp;</b> / Артикул:
                </app-input>
            </div>
            <div class="content-col">
                <div v-if="elemTwo.loading" class="text-center">
                    <img class="loader" src="/img/icons/preloader.svg" alt="BLANCO UNIT" />
                </div>
                <div v-if="!elemTwo.loading && !isEmptyObject(elemTwo.item)">
                    <a :href="'/card/' + elemTwo.item.vendorCode" class="item" target="_blank">
                        <div class="item-img">
                            <img
                                :src="parseUrlPictures(elemTwo, 'item.picture.url') || '/img/no-image.svg'"
                                :class="!parseUrlPictures(elemTwo, 'item.picture.url') && 'empty'"
                                alt=""
                            />
                        </div>
                        <div class="item-info">
                            <div class="item-title">{{ elemTwo.item.name }}</div>
                            <div v-if="elemTwo.item.description" class="item-desc" v-html="parseDescText(elemTwo.item.description)" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="content-col content-col-5">
                <div class="btn-group">
                    <app-button
                        class-name="btn--info hide-xs"
                        :clicked="() => $router.push('/')"
                        text="ОТМЕНИТЬ"
                    />
                    <app-button
                        text="ПОКАЗАТЬ BLANCO UNIT"
                        :clicked="() => $router.push('/config')"
                        :disabled="isEmptyObject(washing.item) || isEmptyObject(mixer.item)"
                    />
                    <app-button
                        class-name="btn--info show-xs"
                        :clicked="() => $router.push('/')"
                        text="ОТМЕНИТЬ"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
import Button from '@/components/Button';
import Menu from '@/components/Menu';
import Input from '@/components/Input';
import functions from '@/utils/functions';

export default {
    components: {
        AppButton: Button,
        AppInput: Input,
        AppMenu: Menu,
    },
    mixins: [functions],
    data: () => ({
        showMenu: false,
        mixer: {
            value: null,
            error: false,
            loading: false,
            item: {},
        },
        washing: {
            value: null,
            error: false,
            loading: false,
            item: {},
        },
        elemOne: {
            value: null,
            error: false,
            loading: false,
            item: {},
        },
        elemTwo: {
            value: null,
            error: false,
            loading: false,
            item: {},
        },
    }),
    mounted() {
    },

    methods: {
        ...mapMutations('cart', [
            'setCartItemsByType',
        ]),
        ...mapMutations('items', [
            'setProductsByType',
        ]),
        toggleMenu() {
            this.showMenu = !this.showMenu;
        },
        remove(model) {
            model.value = null;
            model.item = {};
            model.error = false;
            model.loading = false;
        },
        async callApi(type, model, event) {
            if (event.target.value.length === 6) {
                if (
                    (model === 'elemOne' || model === 'elemTwo') &&
                    (event.target.value === this.washing.value || event.target.value === this.mixer.value)
                ) {
                    this[model].error = true;
                    return;
                }
                this[model].loading = true;
                this[model].error = false;
                this[model].item = {};
                try {
                    const result = await this.$axios.$get(`/products/vendor-code/${event.target.value}?_publicationState=live`);
                    if (result) {
                        const correctBowlType = result.category?.id === 1 || result.category?.id === 2; // 1 - мойка, 2 - чаша
                        if (
                            (model === 'washing' && correctBowlType) ||
                            (model === 'mixer' && result.category?.id === 3) ||
                            (model !== 'mixer' && model !== 'washing')
                        ) {
                            this[model].item = result;
                            this.setProductsByType({
                                result,
                                model,
                            });
                            this.setCartItemsByType({
                                result,
                                type: model,
                            });
                        } else {
                            this[model].error = true;
                        }
                    }
                } catch (e) {
                    this[model].error = true;
                } finally {
                    this[model].loading = false;
                }
            } else {
                this[model].item = {};
                this[model].error = false;
            }
        },
    },
};
</script>

<style lang="scss">
@import '/assets/scss/mixins';

.hide-xs {
    @include mq(767) {
        display: none !important;
    }
}

.show-xs {
    display: none !important;

    @include mq(767) {
        display: flex !important;
    }
}

.page-vendor {
    padding-bottom: 60px;
    background-color: #f2f2f2;

    @include mq(767) {
        padding-bottom: 0;
    }

    .loader {
        vertical-align: middle;
        height: 36px;
    }

    .header {
        background-color: #fff;
    }

    h3 {
        display: none;
        font-size: 12px;
        color: #339;
        margin-bottom: 25px;

        @include mq(767) {
            display: block;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 80px 90px;
        background: #fff;
        margin: 60px 84px 0;

        @include mq(1299) {
            padding: 40px;
            margin: 50px 70px;
        }

        @include mq(767) {
            padding: 30px;
            margin: 0;
        }

        &-col {
            width: 52%;
            margin-bottom: 40px;

            @include mq(1299) {
                width: 49%;
            }

            @include mq(1199) {
                width: 100%;
            }

            @include mq(767) {
                margin-bottom: 25px;
            }

            &-5 {
                width: 42.4%;

                @include mq(1299) {
                    width: 49%;
                }

                @include mq(1199) {
                    width: 100%;
                }
            }

            .btn + .btn {
                margin-left: 25px;

                @include mq(767) {
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }

        .item {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;

            @include mq(767) {
                margin-bottom: 35px;
            }

            &-title {
                font-size: 18px;
                line-height: 22px;
                font-weight: 700;
                color: #575757;
                transition: color 0.25s;
                margin-bottom: 9px;
            }

            &-info {
                width: calc(100% - 190px);
                padding-left: 24px;

                @include mq(767) {
                    width: 100%;
                }
            }

            &-img {
                position: relative;
                display: flex;
                align-items: flex-end;
                width: 190px;
                padding: 0 35px 20px;

                @include mq(767) {
                    width: 100%;
                    margin-bottom: 15px;
                }

                .empty {
                    width: 80px;
                    height: 96px;
                    opacity: 0.25;
                    margin: 0 auto;
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 65px;
                    background: #f2f2f2;
                    transition: height 0.25s;
                }

                > * {
                    position: relative;
                    z-index: 9;
                }
            }

            &-desc {
                font-size: 14px;
                line-height: 17px;
                font-weight: 300;
            }

            &:hover {
                .item-title {
                    color: #339;
                }

                .item-img {
                    &::after {
                        height: 105px;
                    }
                }
            }
        }
    }

    .input input {
        @include mq(767) {
            font-size: 14px;
        }
    }
}

.text-center {
    text-align: center;
}

.icon-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #339;
    //margin-bottom: 60px;

    img {
        margin-right: 21px;
    }

    p {
        width: calc(100% - 57px);
    }
}
</style>
