<template>
    <div class="page-compare">
        <app-menu :clicked="toggleMenu" :show-menu="showMenu" />
        <header class="header">
            <div class="header-burger" @click="showMenu = !showMenu">
                <img src="/img/icons/burger.svg" alt="BLANCO UNIT" />
            </div>
            <NuxtLink class="back-link" to="/config">
                <img src="/img/icons/arrow.svg" alt="" />
            </NuxtLink>
            <div class="header-title">СРАВНЕНИЕ ПРОДУКТОВ</div>
            <NuxtLink to="/" class="header-logo">
                <img src="/img/logo.svg" alt="BLANCO UNIT" />
            </NuxtLink>
        </header>
        <div class="content">
            <div class="head">
                <h4>СРАВНЕНИЕ ПРОДУКТОВ</h4>
                <div v-if="getCompare.length" class="pagination">
                    {{ currentSlide }} <span>/ {{ getCompare.length }}</span>
                </div>
                <div v-if="getCompare.length" class="navigation">
                    <img
                        src="/img/icons/prev.svg"
                        alt="prev"
                        :disabled="currentSlide === 1"
                        @click="currentSlide > 1 ? currentSlide-- : currentSlide"
                    />
                    <img
                        src="/img/icons/next-1.svg"
                        alt="next"
                        :disabled="currentSlide === getCompare.length"
                        @click="currentSlide < getCompare.length ? currentSlide++ : currentSlide"
                    />
                </div>
            </div>
            <div class="compares">
                <div
                    v-for="(compare, indexCompare) in getCompare"
                    :key="'main'+indexCompare"
                    class="compares-item"
                    :class="{one: getCompare.length === 1}"
                >
                    <div v-if="adaptive ? currentSlide === indexCompare + 1 : true" class="inner">
                        <div ref="infoBox" class="compares-main">
                            <div class="compares-img">
                                <swiper
                                    ref="swiperMain"
                                    class="swiper"
                                    :class="parseObject(compare, 'category').length < 3 && 'empty'"
                                    :options="swiperOptionSlide"
                                >
                                    <swiper-slide
                                        v-for="item in parseObject(compare, 'category')"
                                        :key="item.id"
                                        class="swiper-slide"
                                    >
                                        <img :src="parseUrlPictures(item, 'picture.url') || '/img/no-image.svg'" alt="" />
                                    </swiper-slide>
                                    <div
                                        slot="pagination"
                                        class="swiper-pagination"
                                    />
                                    <div
                                        v-if="parseObject(compare, 'category').length > 3"
                                        slot="button-prev"
                                        class="swiper-button-prev"
                                    >
                                        <svg
                                            width="30"
                                            height="5"
                                            viewBox="0 0 30 5"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M29.5 2.25H29.75V2.75H29.5V2.25ZM0.323223 2.67678C0.225592 2.57915 0.225592 2.42085 0.323223 2.32322L1.91421 0.732233C2.01184 0.634602 2.17014 0.634602 2.26777 0.732233C2.3654 0.829864 2.3654 0.988155 2.26777 1.08579L0.853554 2.5L2.26777 3.91421C2.3654 4.01184 2.3654 4.17014 2.26777 4.26777C2.17014 4.3654 2.01184 4.3654 1.91421 4.26777L0.323223 2.67678ZM29.5 2.75H0.5V2.25H29.5V2.75Z"
                                                fill="#575757"
                                            />
                                        </svg>
                                    </div>
                                    <div
                                        v-if="parseObject(compare, 'category').length > 3"
                                        slot="button-next"
                                        class="swiper-button-next"
                                    >
                                        <svg
                                            width="30"
                                            height="5"
                                            viewBox="0 0 30 5"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M0.5 2.25H0.25V2.75H0.5V2.25ZM29.6768 2.67678C29.7744 2.57915 29.7744 2.42085 29.6768 2.32322L28.0858 0.732233C27.9882 0.634602 27.8299 0.634602 27.7322 0.732233C27.6346 0.829864 27.6346 0.988155 27.7322 1.08579L29.1464 2.5L27.7322 3.91421C27.6346 4.01184 27.6346 4.17014 27.7322 4.26777C27.8299 4.3654 27.9882 4.3654 28.0858 4.26777L29.6768 2.67678ZM0.5 2.75H29.5V2.25H0.5V2.75Z"
                                                fill="#575757"
                                            />
                                        </svg>
                                    </div>
                                </swiper>
                            </div>
                            <div class="compares-content">
                                <div class="compares-title">
                                    BLANCO UNIT №{{ compare.cartIndex + 1 }}
                                    <div class="compares-rm" @click="removeItem(compare.cartIndex)">
                                        <svg
                                            width="13"
                                            height="13"
                                            viewBox="0 0 13 13"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path d="M12 1L1 12" stroke="#575757" stroke-width="2" stroke-linecap="round" />
                                            <path d="M12 12L1 1" stroke="#575757" stroke-width="2" stroke-linecap="round" />
                                        </svg>
                                    </div>
                                </div>
                                <ul class="compares-counter">
                                    <li v-for="(item, index) in parseObjectToArray(compare)" :key="item.id">
                                        <span class="compares-counter-span">
                                            <span class="compares-counter-num">{{ index + 1 }}.</span> {{ item.name }}
                                        </span>
                                        <span class="compares-counter-span">{{ numberWithSpaces(item.price) }} ₽</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="compares-total">
                                <div class="compares-price">
                                    <span>СТОИМОСТЬ:</span>
                                    <span>{{ numberWithSpaces(getSummFromObject(compare)) }} ₽</span>
                                </div>
                                <div class="compares-price compares-price--discount">
                                    <span>ИТОГО СО СКИДКОЙ:</span>
                                    <span>{{ numberWithSpaces(getSummFromObject(compare, 800)) }} ₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="compares">
                <div v-for="(compare, indexCompare) in getCompare" :key="'main'+indexCompare" class="compares-item">
                    <div v-if="adaptive ? currentSlide === indexCompare + 1 : true" class="inner">
                        <div v-if="isNullObject(getCompare, 'washing') !== 0" class="compares-list">
                            <div class="compares-subtitle">
                                <span :class="indexCompare !== 0 && 'hidden'">Мойка</span>
                            </div>
                            <div class="compares-list__content">
                                <div
                                    v-for="(bowl, key) in bowlKey"
                                    :key="'bowl'+key"
                                    class="compares-list__item"
                                >
                                    <div :class="indexCompare !== 0 && 'hidden'" class="compares-list__name">
                                        {{ parseCardValue(bowl, technicalListKey) }}
                                    </div>
                                    <div class="compares-list__desc">
                                        {{ parseCardValue(get(compare, `washing.ttcBowl[${bowl}]`), technicalListValue) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="compares">
                <div v-for="(compare, indexCompare) in getCompare" :key="'main'+indexCompare" class="compares-item">
                    <div v-if="adaptive ? currentSlide === indexCompare + 1 : true" class="inner">
                        <div v-if="isNullObject(getCompare, 'mixer') !== 0" class="compares-list">
                            <div class="compares-subtitle">
                                <span :class="indexCompare !== 0 && 'hidden'">Смеситель</span>
                            </div>
                            <div class="compares-list__content">
                                <div
                                    v-for="(mixer, key) in mixerKey"
                                    :key="'mixer'+key"
                                    class="compares-list__item"
                                >
                                    <div :class="indexCompare !== 0 && 'hidden'" class="compares-list__name">
                                        {{ parseCardValue(mixer, technicalListKey) }}
                                    </div>
                                    <div class="compares-list__desc">
                                        {{ parseCardValue(get(compare, `mixer.ttcMixer[${mixer}]`), technicalListValue) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="compares">
                <div v-for="(compare, indexCompare) in getCompare" :key="'main'+indexCompare" class="compares-item">
                    <div v-if="adaptive ? currentSlide === indexCompare + 1 : true" class="inner">
                        <div v-if="isNullObject(getCompare, 'garbage') !== 0" class="compares-list">
                            <div class="compares-subtitle">
                                <span :class="indexCompare !== 0 && 'hidden'">Мусорные системы</span>
                            </div>
                            <div class="compares-list__content">
                                <div
                                    v-for="(garbage, key) in garbageKey"
                                    :key="'mixer'+key"
                                    class="compares-list__item"
                                >
                                    <div :class="indexCompare !== 0 && 'hidden'" class="compares-list__name">
                                        {{ parseCardValue(garbage, technicalListKey) }}
                                    </div>
                                    <div class="compares-list__desc">
                                        {{ parseCardValue(get(compare, `garbage.ttcGarbageSystem[${garbage}]`), technicalListValue) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import { directive, Swiper, SwiperSlide } from 'vue-awesome-swiper';
import Menu from '@/components/Menu';
import functions from '@/utils/functions';

export default {
    components: {
        AppMenu: Menu,
        Swiper,
        SwiperSlide,
    },
    directives: {
        swiper: directive,
    },
    mixins: [functions],
    data: () => ({
        swiperOptionSlide: {
            slidesPerView: 3,
            loop: false,
            spaceBetween: 5,
            simulateTouch: false,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
                disabledClass: 'st',
            },
        },
        currentSlide: 1,
        showMenu: false,
        adaptive: false,
        // garbageKey: ['containersCount', 'depthBowl', 'facadeType'],
        garbageKey: ['containersCount', 'facadeType'],
        bowlKey: ['materialType', 'sizeCupboard', 'washingForm', 'bowlType', 'installationType', 'hasWing', 'hasDispenser', 'hasAutomaticValve'],
        mixerKey: ['heightType', 'hasFilteredWater', 'hasPulloutSpout', 'hasFlexibleSpout', 'hasRemovableHose', 'hasShowerMode', 'hasWindowInstallation', 'hasTouchActivation', 'hasWaterMeasurement'],
        technicalListKey: {
            heightType: 'Высота',
            hasFilteredWater: 'Смеситель с возможностью подключения фильтрованной воды',
            hasPulloutSpout: 'Выдвижной излив',
            hasFlexibleSpout: 'Гибкий излив',
            hasRemovableHose: 'Съемный шланг',
            hasShowerMode: 'Режим «душ»',
            hasWindowInstallation: 'Установка у окна',
            hasTouchActivation: 'Сенсорное включение (премиум)',
            hasWaterMeasurement: 'Измерение объема воды (премиум)',
            materialType: 'Материал мойки',
            sizeCupboard: 'Размер шкафа',
            washingForm: 'Форма мойки',
            bowlType: 'Тип чаш',
            installationType: 'Вид монтажа',
            hasWing: 'Имеется ли крыло?',
            hasDispenser: 'Можно ли установить дозатор?',
            hasAutomaticValve: 'Клапан автомат',
            facadeType: 'Тип фасада',
            containersCount: 'Количество контейнеров',
            // depthBowl: 'Глубина чаши, мм',
        },
        technicalListValue: {
            HighSpout: 'Высокий излив',
            LowSpout: 'Низкий излив',
            Silgranite: 'Silgranit',
            Ceramics: 'Керамика',
            StainlessSteel: 'Нержавеющая сталь',
            Rectangular: 'Прямоугольная мойка',
            Round: 'Круглая мойка',
            One: 'Одна чаша',
            Two: 'Две чаши',
            Combine: 'Подходит для комбинации чаш',
            inset: 'Врезной монтаж',
            undermount: 'Подстольный монтаж',
            flushmount: 'Монтаж в один уровень',
            insetflushmount: 'С видимой фронтальной стороной',
            Retractable: 'Выдвижной фасад',
            Hinged: 'Фасад на петлях',
            Corner: 'Угловой шкаф',
            '16E': '16 см',
            '18E': '18 см',
            '32E': '32 см',
            '34D': '34 см',
            '33D': '33 см',
            '34E': '34 см',
            '35D': '35 см',
            '37E': '37 см',
            '40D': '40 см',
            '40E': '40 см',
            '40S': '40 см',
            '43D': '43 см',
            '45C': '45 см',
            '45E': '45 см',
            '45M': '45 см',
            '45S': '45 см',
            '45Z': '45 см',
            '48D': '48 см',
            '50D': '50 см',
            '50E': '50 см',
            '50F': '50 см',
            '50S': '50 см',
            '50Z': '50 см',
            '55E': '55 см',
            '60C': '60 см',
            '60L': '60 см',
            '60S': '60 см',
            '60X': '60 см',
            '60Z': '60 см',
            '70E': '70 см',
            '70L': '70 см',
            '80E': '80 см',
            '80S': '80 см',
            '80X': '80 см',
            '80Z': '80 см',
            '90K': '90 см',
            '90X': '90 см',
            '90Z': '90 см',
        },
    }),

    computed: {
        ...mapGetters('cart', [
            'getCartObj',
        ]),
        getCompare() {
            const array = [];
            if (this.getCartObj) {
                this.getCartObj.forEach((item, i) => {
                    if (item.compare === true) {
                        item.cartIndex = i;
                        array.push(item);
                    }
                });
            }
            return array;
        },
        // carts() {
        //     return this.parseObjectToArray(this.getCartObj);
        // },
    },

    mounted() {
        this.$nextTick(function () {
            this.onResize();
        });
        window.addEventListener('resize', this.onResize);
    },

    methods: {
        ...mapMutations('cart', [
            'setCartCompare',
        ]),
        toggleMenu() {
            this.showMenu = !this.showMenu;
        },
        removeItem(index) {
            this.setCartCompare({ index, result: false });
            this.updateLocalStorageCart(index);
        },
        onResize() {
            if (window.innerWidth > 1023) {
                this.adaptive = false;
            } else {
                this.adaptive = true;
            }
        },
        updateLocalStorageCart(index) {
            if (localStorage.getItem('localCart')) {
                const localCart = JSON.parse(localStorage.getItem('localCart'));
                localCart.units[index].compare = false;

                localStorage.setItem('localCart', JSON.stringify(localCart));
            }
        },
    },
};
</script>

<style lang="scss">
@import '/assets/scss/mixins';

.page-compare {
    .head {
        display: none;
        margin-bottom: 30px;

        @include mq(1023) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-width: 600px;
            margin: 0 auto 30px;
        }

        @include mq(767) {
            justify-content: space-between;
        }

        h4 {
            display: none;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            color: #339;

            @include mq(767) {
                display: block;
            }
        }

        .pagination {
            font-size: 24px;
            line-height: 1.2;
            color: #339;
            margin-left: auto;

            span {
                position: absolute;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .navigation {
            img {
                margin-left: 30px;
                cursor: pointer;

                &[disabled] {
                    opacity: 0.3;
                }
            }
        }
    }

    .swiper-pagination {
        text-align: left;

        &-bullet {
            opacity: 1;
            background-color: #d8d8d8;
            transition: background 0.25s;

            &-active {
                background-color: #339;
            }
        }
    }

    .swiper-container.empty {
        .swiper-pagination {
            display: none;
        }
    }

    .swiper-wrapper {
        z-index: 9;
        align-items: center;
    }

    .empty .swiper-wrapper {
        justify-content: center;
    }

    .swiper-button-prev {
        right: 50px !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
        width: 30px;

        &:hover {
            path {
                fill: #339;
            }
        }

        &::after {
            display: none;
        }
    }

    .content {
        padding: 60px;

        @include mq(1199) {
            padding: 50px 20px;
        }

        @include mq(767) {
            padding: 20px;
        }

        .hidden {
            opacity: 0;

            @include mq(1023) {
                opacity: 1;
            }
        }

        .compares {
            display: flex;
            justify-content: center;
            //display: grid;
            //grid-template-columns: repeat(3, 1fr);
            overflow: hidden;

            @include mq(1023) {
                flex-wrap: wrap;
            }

            .inner {
                height: 100%;
            }

            &-price {
                position: relative;
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                line-height: 14px;
                color: #3c3c3c;
                margin-bottom: 15px;

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    bottom: 2px;
                    left: 0;
                    right: 0;
                    border-bottom: 1px dashed #979797;
                }

                span {
                    position: relative;
                    z-index: 9;
                    background-color: #fff;

                    &:first-child {
                        padding-right: 5px;
                    }

                    &:last-child {
                        padding-left: 5px;
                    }
                }

                &--discount {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 700;
                }
            }

            &:nth-child(2) {
                margin-bottom: 50px;

                > div:first-child:not(.one) {
                    .inner {
                        margin: 0 27px 0 0;

                        @include mq(1199) {
                            margin: 0 20px 0 0;
                        }

                        @include mq(1023) {
                            margin: 0;
                        }
                    }
                }

                > div:last-child:not(.one) {
                    .inner {
                        margin: 0 0 0 27px;

                        @include mq(1199) {
                            margin: 0 0 0 20px;
                        }

                        @include mq(1023) {
                            margin: 0;
                        }
                    }
                }
            }

            &:nth-child(5),
            &:nth-child(4),
            &:nth-child(3) {
                margin: 0 27px;

                @include mq(1199) {
                    margin: 0;
                }
            }

            &-item {
                width: calc(100% / 3);
                max-width: 400px;

                @include mq(1023) {
                    width: 100%;
                    max-width: 600px;
                }

                &:not(:last-child) {
                    .compares-list__item::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        //right: -60px;
                        //width: 1000%;
                        background-color: #f7f7f7;

                        @include mq(1023) {
                            display: none;
                        }
                    }

                    .compares-list__item:nth-of-type(2n)::after {
                        background-color: #fff;
                    }
                }
            }

            &-rm {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
            }

            &-title {
                position: relative;
                font-size: 21px;
                line-height: 26px;
                font-weight: 500;
                color: #3c3c3c;
                margin-bottom: 30px;
            }

            &-img {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 140px;
                padding: 0 15px;
                margin-bottom: 22px;

                > * {
                    position: relative;
                    z-index: 9;
                    width: 100%;
                    padding-bottom: 55px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100px;
                    background: #f2f2f2;

                    @include mq(1023) {
                        height: 60%;
                    }
                }

                img {
                    max-height: 80px;
                }

                .swiper-slide {
                    //text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
            }

            &-main {
                display: flex;
                flex-direction: column;
                height: 100%;

                @include mq(1023) {
                    display: flex;
                    justify-content: space-between;

                    > * {
                        width: 100%;
                    }
                }

                @include mq(767) {
                    display: block;
                    min-height: inherit !important;

                    > * {
                        width: 100%;
                    }
                }
            }

            &-total {
                margin-top: auto;
            }

            &-list {
                margin-bottom: 70px;

                &__item {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 60px;
                    padding: 0 20px;
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 400;
                    color: #3c3c3c;
                    background: #f7f7f7;

                    &:nth-of-type(2n) {
                        background-color: #fff;
                    }
                }

                &__name {
                    position: relative;
                    z-index: 9;
                    max-width: 235px;
                    font-weight: 500;
                    margin-right: 20px;
                }

                &__desc {
                    &:last-child {
                        position: relative;
                        z-index: 9;
                        text-align: right;
                        margin-left: auto;
                    }
                }
            }

            &-subtitle {
                min-height: 29px;
                font-size: 24px;
                line-height: 29px;
                font-weight: 500;
                color: #3c3c3c;
                margin-bottom: 25px;
            }

            &-counter {
                margin-bottom: 40px;

                li {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding-left: 15px;
                    font-size: 12px;
                    line-height: 14px;
                    text-transform: uppercase;
                    color: #3c3c3c;
                    margin-bottom: 17px;

                    .compares-counter-span {
                        &:first-child {
                            width: calc(100% - 60px);
                        }
                    }

                    .compares-counter-num {
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }
}
</style>
