<template>
    <div class="page-index">
        <app-menu :clicked="toggleMenu" :show-menu="showMenu" />
        <header class="header header--main">
            <div class="header-burger" @click="showMenu = !showMenu">
                <img src="/img/icons/burger.svg" alt="BLANCO UNIT" />
            </div>
            <div class="header-logo">
                <img src="/img/logo.svg" alt="BLANCO UNIT" />
            </div>
        </header>
        <div class="configurator">
            <div class="configurator-col">
                <div class="configurator-title">
                    BLANCO UNIT
                    <span>конфигуратор</span>
                </div>
                <div class="configurator-item">
                    <h3>Способ монтажа?</h3>
                    <div class="form-radio">
                        <div v-for="item in config.installationType" :key="item.id" class="form-radio-item">
                            <input
                                :id="item.id"
                                v-model="forms.installationType"
                                :value="item.value"
                                type="radio"
                                name="installationType"
                                @change="() => setFilterState('installationType', item)"
                                @click="uncheck('installationType', item)"
                            />
                            <label :for="item.id" class="is-square is-square--check-gradient">
                                <div class="checked"><img src="/img/icons/selected.svg" /></div>
                                <span class="form-radio-text" v-html="item.text" />
                                <img class="form-radio-img" :src="item.img" alt="" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="configurator-item">
                    <h3>Смеситель с подключением фильтра?</h3>
                    <div class="form-radio">
                        <div v-for="item in config.hasFilteredWater" :key="item.id" class="form-radio-item">
                            <input
                                :id="item.id"
                                v-model="forms.hasFilteredWater"
                                :value="item.value"
                                type="radio"
                                name="hasFilteredWater"
                                @change="() => setFilterState('hasFilteredWater', item)"
                                @click="uncheck('hasFilteredWater', item)"
                            />
                            <label :for="item.id" class="is-square is-square--gradient is-square--check-gradient">
                                <div class="checked"><img src="/img/icons/selected.svg" /></div>
                                <span class="form-radio-text" v-html="item.text" />
                                <img class="form-radio-img" :src="item.img" alt="" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="configurator-col">
                <div class="configurator-item">
                    <h3>Размер шкафа для мойки?</h3>
                    <div class="form-radio form-radio--size">
                        <div v-for="item in config.sizeCupboard" :key="item.id" class="form-radio-item">
                            <input
                                :id="item.id"
                                v-model="forms.sizeCupboard"
                                :value="item.value"
                                type="radio"
                                name="sizeCupboard"
                                @change="() => setFilterState('sizeCupboard', item)"
                                @click="uncheck('sizeCupboard', item)"
                            />
                            <label :for="item.id" class="is-square is-square--check-gradient">
                                <div class="checked"><img src="/img/icons/selected.svg" /></div>
                                <span class="form-radio-text form-radio-text--number">
                                    <!-- <svg
                                        v-if="item.id === 'conf-8'"
                                        width="17"
                                        height="19"
                                        viewBox="0 0 17 19"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M0 18.0364L16 10.6978V8.99703L0 1.62695V3.35924L14.0472 9.84743L0 16.3356V18.0364Z"
                                            fill="#3C3C3C"
                                            stroke="#3C3C3C"
                                        />
                                    </svg> -->
                                    {{ item.text }}<i> см.</i>
                                </span>
                                <span class="line" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="configurator-item">
                    <h3>Стоимость мойки и смесителя?</h3>
                    <div class="form-radio form-radio--list">
                        <div v-for="item in config.price" :key="item.id" class="form-radio-item">
                            <input
                                :id="item.id"
                                v-model="forms.price"
                                :value="item.value"
                                type="radio"
                                name="price"
                                @change="() => setFilterState('price', item)"
                                @click="uncheck('price', item)"
                            />
                            <label :for="item.id">
                                <div class="checked"><img src="/img/icons/selected.svg" /></div>
                                <span class="form-radio-text" v-html="item.text" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="configurator-col">
                <div class="configurator-item">
                    <h3>Материал вашей мойки?</h3>
                    <div class="form-radio">
                        <div v-for="item in config.materialType" :key="item.id" class="form-radio-item">
                            <input
                                :id="item.id"
                                v-model="forms.materialType"
                                :value="item.value"
                                type="radio"
                                name="materialType"
                                @change="() => setFilterState('materialType', item)"
                                @click="uncheck('materialType', item)"
                            />
                            <label :for="item.id" class="is-square is-square--check-gradient">
                                <div class="checked"><img src="/img/icons/selected.svg" /></div>
                                <span class="form-radio-text" v-html="item.text" />
                                <img class="form-radio-img" :src="item.img" alt="" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="configurator-item configurator-item--last">
                    <div class="mb2">
                        <n-link
                            to="/config"
                            @click.native="createUnit"
                        >
                            <app-button text="ПОКАЗАТЬ BLANCO UNIT" />
                        </n-link>
                    </div>
                    <div ref="quiz" class="mb2">
                        <NuxtLink to="/quiz">
                            <app-button class-name="btn--secondary" text="ПОДРОБНЫЙ ОПРОС" />
                        </NuxtLink>
                    </div>
                    <div>
                        <NuxtLink to="/by-vendor-code">
                            <app-button class-name="btn--outlined" text="СОБРАТЬ ПО АРТИКУЛАМ" />
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import qs from 'qs';
import tippy, { sticky } from 'tippy.js';
import _sortBy from 'lodash/sortBy';
import Button from '@/components/Button';
import Menu from '@/components/Menu';
import functions from '@/utils/functions';
import 'tippy.js/dist/tippy.css'; // optional for styling
import getCompatibility from '@/assets/compatibility';

export default {
    components: {
        AppButton: Button,
        AppMenu: Menu,
    },
    mixins: [functions],
    data: () => ({
        showMenu: false,
        forms: {
            installationType: null,
            hasFilteredWater: null,
            sizeCupboard: null,
            price: 0, // по умолчанию 0 (т.е. любая цена)
            materialType: null, // по умолчанию Silgranite
        },
        bowls: [],
        resultBowl: null,
        mixers: [],
        resultMixer: null,
        compatibilityXLSX: getCompatibility(),
        compatibilityPrices: {
            bowlPrice: {
                0: [0, 1000000],
                1: [0, 20000],
                2: [20000, 30000],
                3: [30000, 1000000],
            },
            mixerPrice: {
                0: [0, 1000000],
                1: [0, 10000],
                2: [10000, 20000],
                3: [20000, 1000000],
            },
        },
        config: {
            installationType: [
                {
                    id: 'conf-3',
                    text: 'Монтаж под столешницу',
                    img: '/img/conf-3.jpg',
                    value: ['undermount'],
                },
                {
                    id: 'conf-1',
                    text: 'Монтаж сверху',
                    img: '/img/conf-1.jpg',
                    value: ['inset', 'insetflushmount'],
                },
                {
                    id: 'conf-2',
                    text: 'В один уровень со столешницей',
                    img: '/img/conf-2.jpg',
                    value: ['flushmount', 'insetflushmount'],
                },
            ],
            sizeCupboard: [
                {
                    id: 'conf-6',
                    text: '45',
                    value: ['32E', '34E', '37E', '40S', '45C', '45M', '45S', '45Z'],
                },
                {
                    id: 'conf-7',
                    text: '60',
                    value: ['34D', '40E', '45E', '50E', '50F', '50S', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z'],
                },
                {
                    id: 'conf-8',
                    text: '>60',
                    value: ['40D', '43D', '48D', '50D', '70E', '70L', '80E', '80S', '80X', '80Z', '90X', '90Z'],
                },
            ],
            materialType: [
                {
                    id: 'conf-13',
                    text: 'Silgranit',
                    img: '/img/conf-7.png',
                    value: ['Silgranite'],
                },
                {
                    id: 'conf-12',
                    text: 'Нержавеющая сталь',
                    img: '/img/conf-6.png',
                    value: ['StainlessSteel'],
                },
                {
                    id: 'conf-14',
                    text: 'Керамика',
                    img: '/img/conf-8.png',
                    value: ['Ceramics'],
                },
            ],
            price: [
                {
                    id: 'conf-9',
                    text: 'до 30 000 ₽',
                    value: '1',
                },
                {
                    id: 'conf-10',
                    text: 'от 30 000 ₽ — 50 000 ₽',
                    value: '2',
                },
                {
                    id: 'conf-11',
                    text: 'от 50 000 ₽',
                    value: '3',
                },
            ],
            hasFilteredWater: [
                {
                    id: 'conf-4',
                    text: 'Да',
                    img: '/img/conf-4.jpg',
                    value: true,
                },
                {
                    id: 'conf-5',
                    text: 'Нет',
                    img: '/img/conf-5-new.jpg',
                    value: false,
                },
            ],
        },
        // значения ширины шкафов актуальные, взяты со страницы /config
        sizeCupboard: {
            filterKey: 'sizeCupboard',
            45: ['45C', '45M', '45S', '45Z'],
            60: ['50E', '50F', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z'],
            90: ['43D', '50D', '70E', '70L', '80S', '80X', '80Z', '40D', '48D', '80E', '90X', '90Z', '90K'],
        },
    }),

    fetchOnServer: false,
    async fetch() {
        // сбросим прошлые результаты
        this.bowls = [];
        this.resultBowl = null;
        this.mixers = [];
        this.resultMixer = null;

        // сначала сконцентрируемся на мойках, запросим у сервера подходящие мойки,
        // затем проверим выборку с артикулами из getCompatibility(),
        // и только потом по артикулам забираем смесители, и на фронте фильтруем подходящие по ttcMixer

        // МОЙКИ
        const bowlsQuery = {
            // все параметры лучше отправлять в виде массива (потому что enumeration), потому что на бэке используется whereIn
            // булевые (hasWing, hasDispenser, hasAutomaticValve) передаем в виде 0 или 1
            ttcBowl: {
                sizeCupboard: {
                    size: this.forms.sizeCupboard || ['34D', '40E', '45E', '50E', '50F', '50S', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z'], // по умолчанию 60,
                },
                installationType: this.forms.installationType || ['undermount'], // по умолчанию UnderTable (оно же undermount)
                materialType: this.forms.materialType || ['Silgranite'], // по умолчанию Silgranite
            },
            price_gte: this.compatibilityPrices.bowlPrice[this.forms.price || 0][0],
            price_lt: this.compatibilityPrices.bowlPrice[this.forms.price || 0][1],
            _limit: -1,
            _publicationState: 'live',
        };

        // для силгранита выбираем темные цвета, если значение фильтра не выбрано по умолчанию используем SILGRANIT
        if (this.forms.materialType === null || this.forms.materialType.includes('Silgranite')) {
            bowlsQuery.color = [
                2, // SILGRANIT - черный
                3, // SILGRANIT - антрацит
            ];
        }

        // для керамики выбираем черный и белый
        if (this.forms.materialType && this.forms.materialType.includes('Ceramics')) {
            bowlsQuery.color = [
                14, // Керамика - глянцевый белый
                15, // Керамика - глянцевый магнолия
                16, // Керамика - базальт
                17, // Керамика - черный
            ];
        }

        this.bowls = await this.$axios.$get(`/products/find-extra?${qs.stringify(bowlsQuery)}`);
        const bowlArticles = Object.keys(this.compatibilityXLSX).map(Number);
        this.bowls = this.bowls.filter(o => bowlArticles.includes(o.vendorCode));
        this.bowls = _sortBy(this.bowls, [o => o.category.id]).reverse(); // чаши приоритет
        this.resultBowl = this.bowls[0];

        // если есть мойка, то можно собирать комплект
        if (this.resultBowl) {
            // СМЕСИТЕЛИ
            const probabilities = this.compatibilityXLSX[this.resultBowl.vendorCode];

            const mixersQuery = {
                category: 3,
                vendorCode_in: probabilities[1],
                price_gte: this.compatibilityPrices.mixerPrice[this.forms.price || 0][0],
                price_lt: this.compatibilityPrices.mixerPrice[this.forms.price || 0][1],
                _limit: -1,
                _publicationState: 'live',
                _sort: 'color:ASC',
            };

            // для силгранита у мойки выбираем темные цвета смесителя, если значение фильтра не выбрано по умолчанию используем SILGRANIT
            if (this.forms.materialType === null || this.forms.materialType.includes('Silgranite')) {
                mixersQuery.color = [
                    2, // SILGRANIT - черный
                    3, // SILGRANIT - антрацит
                    20, // Смесители - черный матовый
                ];

                if (this.forms.price === 0) {
                    mixersQuery.segment = ['better'];
                }
            }

            // для нержавейки у мойки выбираем нержавейку смесителя
            if (this.forms.materialType && this.forms.materialType.includes('StainlessSteel')) {
                mixersQuery.vendorCode_in = [...probabilities[1], ...probabilities[0.8]]; // сразу подключаем результаты 0.8 вероятности, потому что там часто FONTAS II
                mixersQuery.color = [
                    26, // Нержавеющая сталь - матовая
                    22, // Нержавеющая сталь - полированная
                    1, // Смесители - хром
                    21, // Смесители - сталь UltraResist, PVD Steel
                    13, // Смесители - нержавеющая сталь
                ];
            }

            try {
                this.mixers = await this.$axios.$get(`/products?${qs.stringify(mixersQuery, { indices: false })}`);
            } catch {}

            if (this.mixers.length === 0) {
                mixersQuery.id_in = probabilities[0.8];
                this.mixers = await this.$axios.$get(`/products?${qs.stringify(mixersQuery, { indices: false })}`);
            }

            if (this.forms.hasFilteredWater === false) {
                this.mixers = this.mixers.filter(o => o.ttcMixer.hasFilteredWater === this.forms.hasFilteredWater);
            } else {
                this.mixers = this.mixers.filter(o => o.ttcMixer.hasFilteredWater === true);
            }

            this.resultMixer = this.mixers[0];
        }
    },

    computed: {
        ...mapGetters('cart', [
            'getCartObj',
        ]),
    },

    watch: {
        // forms: {
        //     deep: true,
        //     handler: function forms(newValue) {
        //         this.$fetch();
        //     },
        // },
        'forms.size'() {
            // сохраняем ширину в числовом выражении, на /config будет использоваться для составления пути до файла картинки фасада
            this.setSelectedSizeCupboard(this.forms.sizeCupboard);
        },
    },

    mounted() {
        if (!this.getCookie('quizTippy')) {
            tippy(this.$refs.quiz, {
                content: 'Подробный опрос дублирует вопросы короткого опроса',
                theme: 'blanco',
                placement: 'bottom',
                sticky: true,
                plugins: [sticky],
                zIndex: 10,
                trigger: 'click',
                showOnCreate: true,
                onHide(instance) {
                    setTimeout(() => {
                        instance.destroy();
                    }, 500);
                    return true;
                },
            });

            this.setCookie('quizTippy', 'true', 30);
        }
        // Сбрасываем все фильтры из конфигуратора
        this.resetAllFilters();
    },

    methods: {
        ...mapMutations('cart', [
            'setCartFilterByType',
            'setCartSelectedFilter',
            'setActiveItem',
            'setCartFilterByType',
            'setSelectedSizeCupboard',
            'setSelectedTypeCupboard',
            'setCartItemsByType',
            'removeCartItem',
            'setCartCanvasImgByItem',
        ]),
        toggleMenu() {
            this.showMenu = !this.showMenu;
        },
        // uncheck(name, val) {
        //     this.forms[name] = null;
        //     const key = name;
        //     const item = val;
        //     this.resetFilterState(key, item);
        //     // if (this.forms[name] === val) {
        //     //     this.forms[name] = '';
        //     //     const key = name;
        //     //     const item = val;
        //     //     this.resetFilterState(key, item);
        //     // }
        // },
        uncheck(val, item) {
            this.forms[val] = null;
            this.resetFilterState(val, item);
        },
        async createUnit() {
            await this.$fetch();

            this.getCartObj.forEach((item, i) => {
                if (i > 0) {
                    this.removeCartItem(i);
                } else {
                    this.setCartItemsByType({
                        result: null,
                        type: 'washing',
                    });
                    this.setCartItemsByType({
                        result: null,
                        type: 'mixer',
                    });
                    this.setCartItemsByType({
                        result: null,
                        type: 'garbage',
                    });
                    this.setCartItemsByType({
                        result: null,
                        type: 'accessories',
                    });

                    // Убираем изображения мойки и крана
                    this.setCartCanvasImgByItem({
                        type: 'washing',
                        value: null,
                    });
                    this.setCartCanvasImgByItem({
                        type: 'washing' + 'Coordinates',
                        value: [0, 0],
                    });
                    this.setCartCanvasImgByItem({
                        type: 'mixer',
                        value: null,
                    });
                    this.setCartCanvasImgByItem({
                        type: 'mixer' + 'Coordinates',
                        value: [0, 0],
                    });
                }
            });
            this.setActiveItem(0);
            this.setCartItemsByType({
                result: this.resultBowl,
                type: 'washing',
            });
            this.setCartItemsByType({
                result: this.resultMixer,
                type: 'mixer',
            });

            this.setSelectedSizeCupboard('45');
            this.setSelectedTypeCupboard('default');
        },
        getCookie(name) {
            const matches = document.cookie.match(new RegExp(
                // eslint-disable-next-line no-useless-escape
                '(?:^|; )' + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + '=([^;]*)',
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        },
        setCookie(name, value, days) {
            let expires = '';
            if (days) {
                const date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = '; expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + (value || '') + expires + '; path=/';
        },
        setFilterState(key, item) {
            let type = item.type;
            let value = item.value;
            if (key === 'installationType' || key === 'sizeCupboard' || key === 'materialType') {
                type = 'washing';
                if (item.id === 'conf-8') {
                    return;
                }
            }
            if (key === 'installationType') {
                if (value.length > 1) {
                    return;
                };
            }
            if (key === 'price') {
                type = 'mixer';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key,
                    value,
                });
                type = 'washing';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key,
                    value,
                });
                return;
            }
            if (key === 'hasFilteredWater' && item.value) {
                type = 'mixer';
                value = true;
            } else if (key === 'hasFilteredWater' && !item.value) {
                type = 'mixer';
                value = false;
            }
            this.setCartSelectedFilter({
                type,
                result: true,
            });
            this.setCartFilterByType({
                type,
                key,
                value,
            });
        },
        resetAllFilters() {
            const initial = {
                washing: {
                    price: 'none',
                    color: 'none',
                    sizeCupboard: 'none',
                    washingForm: 'none',
                    bowlType: 'none',
                    installationType: 'none',
                    hasDispenser: 'none',
                    hasAutomaticValve: 'none',
                    hasWing: 'none',
                },
                mixer: {
                    color: 'none',
                    heightType: 'none',
                    hasFilteredWater: 'none',
                    hasPulloutSpout: 'none',
                    hasFlexibleSpout: 'none',
                    hasRemovableHose: 'none',
                    hasShowerMode: 'none',
                    hasWindowInstallation: 'none',
                    hasTouchActivation: 'none',
                    hasWaterMeasurement: 'none',
                },
                garbage: {
                    facadeType: 'none',
                    containersCount: 'none',
                },
                accessories: {
                    category: 'none',
                },
            };

            this.setCartSelectedFilter({
                type: 'washing',
                result: false,
                initial: initial.washing,
            });
            this.setCartSelectedFilter({
                type: 'mixer',
                result: false,
                initial: initial.mixer,
            });
            this.setCartSelectedFilter({
                type: 'garbage',
                result: false,
                initial: initial.garbage,
            });
            this.setCartSelectedFilter({
                type: 'accessories',
                result: false,
                initial: initial.accessories,
            });
        },
        resetFilterState(key, item) {
            let type = item.type;
            const value = null;
            let keyType = key;

            if (key === 'garbage') {
                return;
            }
            if (key === 'installationType' || key === 'sizeCupboard' || key === 'materialType') {
                type = 'washing';
            }
            if (key === 'hasFilteredWater') {
                type = 'mixer';
            }
            if (key === 'price') {
                type = 'mixer';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key: keyType,
                    value,
                });
                type = 'washing';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key: keyType,
                    value,
                });
                return;
            }
            if (key === 'style') {
                this.setSelectedStyleKitchen('classic');
                return;
            }
            if (key === 'functions') {
                type = 'mixer';
                keyType = item.type;
            }
            this.setCartSelectedFilter({
                type,
                result: true,
            });
            this.setCartFilterByType({
                type,
                key: keyType,
                value,
            });
        },
    },
};
</script>

<style lang="scss">
@import '/assets/scss/mixins';

.home-enter-active,
.home-leave-active {
    transition: opacity 0.25s;
}

.home-enter,
.home-leave-active {
    opacity: 0;
}

.page-index {
    min-height: 100vh;
    background: linear-gradient(to right, #e1e1e1 0%, #e1e1e1 31.8%, #f2f2f2 31.8%, #f2f2f2 63.6%, #fff 63.6%, #fff 100%);

    @include mq(767, 1079) {
        min-width: 1080px;
        overflow-x: auto;
    }
}

.configurator {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    @include mq(767) {
        margin-top: 0;
    }

    &-title {
        position: absolute;
        top: 26px;
        left: 26px;
        font-size: 30px;
        line-height: 37px;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorBase;

        @include mq(767) {
            position: static;
        }

        span {
            font-size: 21px;
            line-height: 25px;
            font-weight: 400;
            text-transform: initial;
            margin-left: 25px;

            @include mq(767) {
                display: block;
                font-size: 18px;
                margin-bottom: 20px;
                margin-left: 0;
            }
        }
    }

    &-col {
        display: flex;
        flex-direction: column;
        width: 31.8%;
        padding: 0;

        @include mq(767) {
            width: 100%;
            padding-top: 50px;
        }

        &:first-child {
            @include mq(767) {
                background: #e1e1e1;
            }
        }

        &:nth-child(2) {
            @include mq(767) {
                background: #f2f2f2;
            }
        }

        &:last-child {
            width: 36.4%;

            @include mq(767) {
                width: 100%;
                background: #fff;
            }
        }

        > * {
            margin-left: auto;

            @include mq(767) {
                margin-right: auto;
                margin-left: auto;
            }
        }

        &:last-child > * {
            margin-right: 13%;

            @include mq(767) {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    &-item {
        width: 100%;
        max-width: 317px;
        margin-bottom: 50px;

        @include mq(767) {
            margin-bottom: 40px;
        }

        h3 {
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
            color: #575757;
            margin-bottom: 20px;
        }

        .btn {
            width: 100%;
        }

        //&:nth-child(2) {
        //    h3 {
        //        margin-bottom: 30px;
        //    }
        //}

        &--last {
            margin-top: 80px;

            @include mq(767) {
                margin-top: 0;
            }
        }
    }
}

.tippy-box[data-theme~='blanco'] {
    width: 150px;
    color: #fff;
    background-color: #000;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.tippy-box[data-theme~='blanco'][data-placement^='left'] > .tippy-arrow {
    color: #000;
}
</style>
