<template>
    <div class="page-order">
        <app-menu :clicked="toggleMenu" :config="true" :show-menu="showMenu" />
        <header class="header">
            <div class="header-burger" @click="showMenu = !showMenu">
                <img src="/img/icons/burger.svg" alt="BLANCO UNIT" />
            </div>
            <NuxtLink class="back-link" to="/config">
                <img src="/img/icons/arrow.svg" alt="" />
            </NuxtLink>
            <div class="header-title">ОФОРМЛЕНИЕ ЗАКАЗА</div>
            <NuxtLink to="/" class="header-logo">
                <img src="/img/logo.svg" alt="BLANCO UNIT" />
            </NuxtLink>
        </header>
        <div class="wrapper">
            <div class="cart" :class="{show: showCart}">
                <div class="cart-header" @click="showCart = !showCart">
                    <img src="/img/icons/cart.svg" alt="" />
                    <span>КОРЗИНА</span>
                </div>
                <div class="cart-body">
                    <div
                        v-for="(cart, indexCart) in pureItemsForCart"
                        :key="'main'+indexCart"
                        class="compares-item"
                    >
                        <div class="compares-content">
                            <div class="compares-title">
                                <span>BLANCO UNIT №{{ getActiveItem + 1 }}</span>
                                <NuxtLink to="/config">ИЗМЕНИТЬ</NuxtLink>
                            </div>
                            <ul class="compares-counter">
                                <li v-for="(item, key, index) in cart" :key="index">
                                    <div v-if="item !== null && key !== 'filters' && key !== 'canvasImg' && key !== 'compare'">
                                        <a :href="'/card/' + item.vendorCode" class="desc" target="_blank">
                                            {{ index + 1 }}. {{ item.name }} {{ item.color && item.color.name }}
                                        </a>
                                        <span class="price">{{ item.price }} ₽</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="compares-price">
                                <span>СТОИМОСТЬ:</span>
                                <span>{{ getSummFromObject(cart) }} ₽</span>
                            </div>
                            <div class="compares-price">
                                <span>СКИДКА:</span>
                                <span>{{ calculateDiscount(cart) }} ₽</span>
                            </div>
                        </div>
                        <div class="compares-total">
                            <span>ИТОГО:</span>
                            <span>{{ numberWithSpaces(getSummFromObject(cart, calculateDiscount(cart))) }} ₽</span>
                        </div>
                    </div>
                    <div class="cart-bottom">
                        <NuxtLink to="/config">
                            <app-button v-if="getCartObj.length" text="ИЗМЕНИТЬ" class-name="btn--secondary btn-full" />
                        </NuxtLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="order-title">ОФОРМЛЕНИЕ ЗАКАЗА</div>
            <form @submit.prevent>
                <div
                    class="input input-group"
                    :class="{ error: $v.forms.name.$error }"
                >
                    <input
                        id="fio"
                        v-model="$v.forms.name.$model"
                        class="control"
                        type="text"
                        aria-required="true"
                        autocomplete="off"
                        placeholder="Имя Фамилия *"
                        @blur="$v.forms.name.$touch"
                        @input="$v.forms.name.$touch"
                    />
                    <div v-if="$v.forms.name.$dirty && !$v.forms.name.required" class="error-text">
                        Обязательное поле
                    </div>
                </div>
                <div
                    class="input input-group"
                    :class="{ error: $v.forms.phone.$error }"
                >
                    <input
                        id="userphone"
                        v-model="$v.forms.phone.$model"
                        v-mask="'+7 ### ### ## ##'"
                        class="control"
                        type="text"
                        autocomplete="off"
                        aria-required="true"
                        placeholder="Телефон *"
                        @blur="$v.forms.phone.$touch"
                    />
                    <div v-if="$v.forms.phone.$dirty && !$v.forms.phone.required" class="error-text">
                        Обязательное поле
                    </div>
                    <div
                        v-if="$v.forms.phone.$dirty && $v.forms.phone.required && !$v.forms.phone.phoneValid"
                        class="error-text"
                    >
                        Введен некорректный телефон
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-6 col-xs-12">
                        <div class="form-radio form-radio--list">
                            <div class="inner">
                                <img src="/img/delivery.jpg" alt="" />
                                <h4 :class="{ error: $v.forms.deliveryModel.$error }">Выберите вариант доставки?</h4>
                            </div>
                            <div v-for="item in delivery" :key="item.id" class="form-radio-item">
                                <input
                                    :id="item.id"
                                    v-model="$v.forms.deliveryModel.$model"
                                    name="delivery"
                                    :value="item.value"
                                    type="radio"
                                />
                                <label :for="item.id">
                                    <div class="checked"><img src="/img/icons/selected.svg" /></div>
                                    <span class="form-radio-text">{{ item.text }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-xs-12">
                        <div class="form-radio form-radio--list">
                            <div class="inner">
                                <img src="/img/payment.jpg" alt="" />
                                <h4 :class="{ error: $v.forms.paymentModel.$error }">Способ оплаты?</h4>
                            </div>
                            <div v-for="item in payment" :key="item.id" class="form-radio-item">
                                <input
                                    :id="item.id"
                                    v-model="$v.forms.paymentModel.$model"
                                    name="payment"
                                    :value="item.value"
                                    type="radio"
                                />
                                <label :for="item.id">
                                    <div class="checked"><img src="/img/icons/selected.svg" /></div>
                                    <span class="form-radio-text">{{ item.text }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input input-group">
                    <textarea
                        id="phone"
                        v-model="$v.forms.comment.$model"
                        class="control"
                        rows="3"
                        placeholder="Укажите пожелания к заказу"
                    />
                </div>
                <div class="content-bottom">
                    <div class="checkbox" :class="{ error: $v.forms.personalData.$error }">
                        <input
                            id="personalData"
                            v-model="$v.forms.personalData.$model"
                            type="checkbox"
                            name="personal"
                            aria-required="true"
                            @blur="$v.forms.personalData.$touch"
                        />
                        <label class="label" :for="'personalData'">Даю согласие на обработку персональных данных</label>
                    </div>
                    <app-button text="НАЗАД" class-name="btn--info btn-full" :clicked="() => $router.push('/config')" />
                    <app-button :clicked="submit" text="ОФОРМИТЬ ЗАКАЗ" />
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import _cloneDeep from 'lodash/cloneDeep';
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
import Menu from '@/components/Menu';
import Button from '@/components/Button';
import functions from '@/utils/functions';

const isPhone = value => /^\+7 \d{3} \d{3} \d{2} \d{2}$/.test(value);

export default {
    components: {
        AppButton: Button,
        AppMenu: Menu,
    },
    mixins: [functions, validationMixin],
    validations: {
        forms: {
            name: {
                required,
            },
            deliveryModel: {
                required,
            },
            paymentModel: {
                required,
            },
            phone: {
                required,
                phoneValid: isPhone,
            },
            personalData: {
                checked: val => {
                    return val;
                },
            },
            comment: {},
        },
    },
    data: () => ({
        numberItemsForDiscount: 4, // только первый 4 товара получают скидку
        showCart: false,
        showMenu: false,
        forms: {
            name: '',
            phone: '',
            deliveryModel: '',
            paymentModel: '',
            comment: '',
            personalData: false,
        },
        delivery: [
            {
                id: 'del-1',
                text: 'Самовывоз',
                value: 'pickup',
            },
            {
                id: 'del-2',
                text: 'Курьером',
                value: 'courier',
            },
        ],
        payment: [
            {
                id: 'payment-1',
                text: 'Наличными при получении',
                value: 'cash',
            },
            {
                id: 'payment-2',
                text: 'Банковской картой',
                value: 'bankCard',
            },
        ],
        basicDiscount: 5,
    }),

    computed: {
        ...mapGetters('cart', [
            'getCartObj',
            'getActiveItem',
        ]),
        pureItemsForCart() {
            const copied = _cloneDeep(this.getCartObj);
            const array = [];
            let obj = {};
            if (copied) {
                copied.forEach((item, index) => {
                    if (index === this.getActiveItem) {
                        Object.entries(item).forEach(([key, val]) => {
                            if (val !== null && key !== 'filters' && key !== 'canvasImg' && key !== 'compare') {
                                obj = {
                                    ...obj,
                                    [key]: val,
                                };
                            }
                        });
                        array.push(obj);
                    }
                });
            }
            return array;
        },
    },

    mounted() {
    },

    methods: {
        toggleMenu() {
            this.showMenu = !this.showMenu;
        },
        submit() {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                const price = this.getSummFromObject(this.pureItemsForCart[0]);
                const priceDiscount = this.calculateDiscount(this.pureItemsForCart[0]);
                const messageData = {
                    v1: {
                        price,
                        priceDiscount,
                        priceTotal: price - priceDiscount,
                        name: this.forms.name,
                        phone: this.forms.phone.replace(/\s/g, ''),
                        comment: this.forms.comment,
                        paymentModel: this.forms.paymentModel,
                        deliveryModel: this.forms.deliveryModel,
                        articles: this.getArticlesFromCartItems(this.pureItemsForCart[0]),
                    },
                };
                // call API
                if (window.location.ancestorOrigins.length) { // событие создаем только если страница в iframe
                    parent.postMessage(messageData, '*');
                }
                this.$router.push('/success');
            }
        },
        getArticlesFromCartItems(cart) {
            const tempArticles = [];
            for (const key in cart) {
                tempArticles.push(cart[key].vendorCode);
            }
            return tempArticles;
        },
        calculateDiscount(cart) {
            // делаем массив из объекта корзины, в объекте cart много полей и не отследить последовательность, важно для понимания скидки
            const cartItems = this.parseObjectToArray(cart);
            let discount = 0;
            cartItems.forEach((item, index) => {
                if (index + 1 <= this.numberItemsForDiscount) { // скидка только на первые 4 товара в корзина
                    // товар не мойка и не смеситель, id-1,2 мойки, id-3 смеситель
                    const isAccessoryOrGarbageSystem = (item.category !== 1) && (item.category !== 2) && (item.category !== 3);

                    // размер скидки для аксессуара или мусорной системы
                    // если это мойка или смеситель, то в переменной будет 0
                    // для смесителя или м.системы удваиваем скидку
                    let itemSizeDiscont = item.discountPercentage && isAccessoryOrGarbageSystem ? item.discountPercentage * 2 : 0;

                    // переопределим размер скидки, если это мойка или смеситель, для них всегда скидка 5%, иначе изначальное значение
                    itemSizeDiscont = !isAccessoryOrGarbageSystem ? 5 : itemSizeDiscont;

                    let itemDiscount = item.price ? item.price * (itemSizeDiscont / 100) : 0;
                    itemDiscount = itemDiscount.toFixed(); // страховка от дробных значений
                    discount += Number(itemDiscount);
                }
            });
            return discount;
        },
    },
};
</script>

<style lang="scss">
@import '/assets/scss/mixins';

@keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}

.input {
    &-group {
        margin-bottom: 37px;
    }

    textarea {
        height: 85px;
        resize: none;
        overflow: hidden;
    }

    textarea,
    input {
        width: 100%;
        padding: 9px 0;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        color: #575757;
        border-bottom: 1px solid #d8d8d8;
        transition: color 0.5s, border-color 0.5s;

        &:-webkit-autofill {
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
        }

        &::placeholder {
            color: rgba(#575757, 0.3);
        }
    }

    &.error {
        .error-text {
            position: absolute;
            font-size: 12px;
            line-height: 14px;
            color: #f00;
            margin-top: 5px;
        }

        textarea,
        input {
            color: #d51317;
            border-color: #d51317;
        }
    }
}

.page-order {
    .order-title {
        display: none;
        font-size: 12px;
        line-height: 14px;
        color: #339;

        @include mq(767) {
            display: block;
            margin-bottom: 20px;
        }
    }

    .form-radio--list {
        position: relative;
        padding-bottom: 15px;
        border-top: none;
        margin-bottom: 50px;

        .inner {
            position: relative;
            z-index: 2;
            padding: 0 25px;

            img {
                width: 100%;
            }

            .error {
                color: #d51317;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 75%;
            background: #f2f2f2;
        }

        h4 {
            font-size: 16px;
            line-height: 25px;
            font-weight: 300;
            color: #575757;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .form-radio-text {
            padding-right: 25px;
            padding-left: 25px;
            border-bottom: none;
        }
    }

    //.header {
    //    justify-content: flex-start;
    //
    //    &-logo {
    //        margin-left: 30px;
    //
    //        @include mq(900) {
    //            margin-left: auto;
    //        }
    //    }
    //
    //    &-title {
    //        padding-left: 40px;
    //    }
    //}

    .content {
        width: 100%;
        max-width: 1202px;
        min-height: 100vh;
        padding: 100px 370px 60px 30px;
        margin: auto;

        @include mq(1199) {
            padding: 100px 390px 60px 10px;
        }

        @include mq(767) {
            padding: 30px;
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn-full {
                max-width: 196px;

                @include mq(999) {
                    max-width: inherit;
                }
            }

            .btn {
                margin-left: 10px;

                @include mq(999) {
                    margin-left: 0;
                }
            }

            @include mq(999) {
                flex-wrap: wrap;

                > * {
                    width: 100%;
                    margin-bottom: 17px;
                }
            }
        }
    }
}

</style>
