<template>
    <div class="page-podbor-test">
        <div class="page-podbor-test__flex">
            <div class="configurator-item">
                <h3>Способ монтажа?</h3>
                <div class="form-radio form-radio--list">
                    <div v-for="item in config.installation" :key="item.id" class="form-radio-item">
                        <input
                            :id="item.id"
                            v-model="forms.installation"
                            :value="item.value"
                            type="radio"
                            name="installation"
                        />
                        <label :for="item.id">
                            <div class="checked"><img src="/img/icons/selected.svg" /></div>
                            <span class="form-radio-text">{{ item.text }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="configurator-item">
                <h3>Размер шкафа для мойки?</h3>
                <div class="form-radio form-radio--list">
                    <div v-for="item in config.size" :key="item.id" class="form-radio-item">
                        <input
                            :id="item.id"
                            v-model="forms.size"
                            :value="item.value"
                            type="radio"
                            name="size"
                        />
                        <label :for="item.id">
                            <div class="checked"><img src="/img/icons/selected.svg" /></div>
                            <span class="form-radio-text">
                                {{ item.text }}<i> см.</i>
                            </span>
                            <span class="line" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="configurator-item">
                <h3>Материал вашей мойки?</h3>
                <div class="form-radio form-radio--list">
                    <div v-for="item in config.material" :key="item.id" class="form-radio-item">
                        <input
                            :id="item.id"
                            v-model="forms.material"
                            :value="item.value"
                            type="radio"
                            name="material"
                        />
                        <label :for="item.id">
                            <div class="checked"><img src="/img/icons/selected.svg" /></div>
                            <span class="form-radio-text">{{ item.text }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="configurator-item">
                <h3>Стоимость мойки и смесителя?</h3>
                <div class="form-radio form-radio--list">
                    <div v-for="item in config.price" :key="item.id" class="form-radio-item">
                        <input
                            :id="item.id"
                            v-model="forms.price"
                            :value="item.value"
                            type="radio"
                            name="price"
                        />
                        <label :for="item.id">
                            <div class="checked"><img src="/img/icons/selected.svg" /></div>
                            <span class="form-radio-text">{{ item.text }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="configurator-item">
                <h3>Смеситель с возможностью <br /> подключения фильтрованной воды?</h3>
                <div class="form-radio form-radio--list">
                    <div v-for="item in config.filter" :key="item.id" class="form-radio-item">
                        <input
                            :id="item.id"
                            v-model="forms.filter"
                            :value="item.value"
                            type="radio"
                            name="filter"
                        />
                        <label :for="item.id">
                            <div class="checked"><img src="/img/icons/selected.svg" /></div>
                            <span class="form-radio-text">{{ item.text }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="$fetchState.pending" class="page-podbor-test__result">
            Loading...
        </div>
        <div v-else class="page-podbor-test__result">
            <div>
                <!-- <strong>Подходящие мойки {{ bowls.length ? `(${bowls.length})`: '' }}</strong><br />
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: left;">Артикул</th>
                            <th style="text-align: left;">Категория</th>
                            <th style="text-align: left;">Название</th>
                            <th style="text-align: left;">Размер шкафа</th>
                            <th style="text-align: left;">Тип установки</th>
                            <th style="text-align: left;">Материал</th>
                            <th style="text-align: left;">Сегмент</th>
                            <th style="text-align: left;">Цена</th>
                            <th style="text-align: left;">Цвет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in bowls" :key="i">
                            <td style="padding: 0 10px 0 0;">{{ item.vendorCode }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.category.name }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.name }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcBowl ? item.ttcBowl.sizeCupboard.size : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcBowl ? item.ttcBowl.installationType : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcBowl ? item.ttcBowl.materialType : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.segment }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.price }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.color && item.color.picture.alternativeText }}</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />

                <strong>Подходящие смесители {{ mixers.length ? `(${mixers.length})`: '' }}</strong><br />
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: left;">Артикул</th>
                            <th style="text-align: left;">Название</th>
                            <th style="text-align: left;">Фильтр</th>
                            <th style="text-align: left;">Сегмент</th>
                            <th style="text-align: left;">Цена</th>
                            <th style="text-align: left;">Цвет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in mixers" :key="i">
                            <td style="padding: 0 10px 0 0;">{{ item.vendorCode }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.name }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcMixer ? item.ttcMixer.hasFilteredWater : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.segment }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.price }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.color && item.color.picture.alternativeText }}</td>
                        </tr>
                    </tbody>
                </table> -->

                <br />
                <br />
                <strong>Финальный результат</strong><br />
                <div v-if="resultBowl">
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align: left;">Артикул</th>
                                <th style="text-align: left;">Категория</th>
                                <th style="text-align: left;">Название</th>
                                <th style="text-align: left;">Размер шкафа</th>
                                <th style="text-align: left;">Тип установки</th>
                                <th style="text-align: left;">Материал</th>
                                <th style="text-align: left;">Сегмент</th>
                                <th style="text-align: left;">Цена</th>
                                <th style="text-align: left;">Цвет</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.vendorCode }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.category.name }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.name }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.ttcBowl ? resultBowl.ttcBowl.sizeCupboard.size : '' }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.ttcBowl ? resultBowl.ttcBowl.installationType : '' }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.ttcBowl ? resultBowl.ttcBowl.materialType : '' }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.segment }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.price }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultBowl.color && resultBowl.color.picture.alternativeText }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <img
                        :src="parseUrlPictures(resultBowl.picture, 'url')"
                        :alt="resultBowl.vendorCode"
                        :title="resultBowl.vendorCode + ' ' + resultBowl.name"
                        :style="{ width: '200px' }"
                    />
                </div>
                <div v-if="resultMixer">
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align: left;">Артикул</th>
                                <th style="text-align: left;">Название</th>
                                <th style="text-align: left;">Фильтр</th>
                                <th style="text-align: left;">Сегмент</th>
                                <th style="text-align: left;">Цена</th>
                                <th style="text-align: left;">Цвет</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding: 0 10px 0 0;">{{ resultMixer.vendorCode }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultMixer.name }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultMixer.ttcMixer ? resultMixer.ttcMixer.hasFilteredWater : '' }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultMixer.segment }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultMixer.price }}</td>
                                <td style="padding: 0 10px 0 0;">{{ resultMixer.color && resultMixer.color.picture.alternativeText }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <img
                        :src="parseUrlPictures(resultMixer.picture, 'url')"
                        :alt="resultMixer.vendorCode"
                        :title="resultMixer.vendorCode + ' ' + resultMixer.name"
                        :style="{ width: '200px' }"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import qs from 'qs';
import _sortBy from 'lodash/sortBy';
import functions from '@/utils/functions';
import getCompatibility from '@/assets/compatibility';

export default {
    mixins: [functions],

    data: () => ({
        forms: {
            installation: ['undermount'], // по умолчанию UnderTable (оно же undermount)
            filter: true, // по умолчанию true
            size: ['35D', '45E', '50E', '50F', '55E', '60C', '60L', '60S', '60X', '60Z'], // по умолчанию 60
            price: 0, // по умолчанию 0 (т.е. любая цена)
            material: ['Silgranite'], // по умолчанию Silgranite
        },
        bowls: [],
        resultBowl: null,
        mixers: [],
        resultMixer: null,
        compatibilityXLSX: getCompatibility(),
        compatibilityPrices: {
            bowlPrice: {
                0: [0, 1000000],
                1: [0, 20000],
                2: [20000, 30000],
                3: [30000, 1000000],
            },
            mixerPrice: {
                0: [0, 1000000],
                1: [0, 10000],
                2: [10000, 20000],
                3: [20000, 1000000],
            },
        },
        config: {
            installation: [
                {
                    id: 'conf-3',
                    text: 'Монтаж под столешницу',
                    img: '/img/conf-3.jpg',
                    value: ['undermount'],
                },
                {
                    id: 'conf-1',
                    text: 'Монтаж сверху',
                    img: '/img/conf-1.jpg',
                    value: ['inset', 'insetflushmount'],
                },
                {
                    id: 'conf-2',
                    text: 'В один уровень со столешницей',
                    img: '/img/conf-2.jpg',
                    value: ['flushmount', 'insetflushmount'],
                },
            ],
            size: [
                {
                    id: 'conf-6',
                    text: '45',
                    value: ['32E', '33D', '40S', '45C', '45M', '45S', '45Z'], // '18E',
                },
                {
                    id: 'conf-7',
                    text: '60',
                    value: ['35D', '45E', '50E', '50F', '55E', '60C', '60L', '60S', '60X', '60Z'],
                },
                {
                    id: 'conf-8',
                    text: '>60',
                    value: ['40D', '43D', '48D', '50D', '70E', '70L', '80E', '80S', '80X', '80Z', '90X', '90Z'],
                },
            ],
            material: [
                {
                    id: 'conf-13',
                    text: 'Silgranit',
                    img: '/img/conf-7.png',
                    value: ['Silgranite'],
                },
                {
                    id: 'conf-12',
                    text: 'Нержавеющая сталь',
                    img: '/img/conf-6.png',
                    value: ['StainlessSteel'],
                },
                {
                    id: 'conf-14',
                    text: 'Керамика',
                    img: '/img/conf-8.png',
                    value: ['Ceramics'],
                },
            ],
            price: [
                {
                    id: 'conf-9',
                    text: 'до 30 000 ₽',
                    value: 1,
                },
                {
                    id: 'conf-10',
                    text: 'от 30 000 ₽ — 50 000 ₽',
                    value: 2,
                },
                {
                    id: 'conf-11',
                    text: 'от 50 000 ₽',
                    value: 3,
                },
            ],
            filter: [
                {
                    id: 'conf-4',
                    text: 'Да',
                    img: '/img/conf-4.jpg',
                    value: true,
                },
                {
                    id: 'conf-5',
                    text: 'Нет',
                    img: '/img/conf-5-new.jpg',
                    value: false,
                },
            ],
        },
        sinks: {
            undermount: {
                Silgranite: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: 526098, // ROTAN 500-U
                        better: 525995, // SUBLINE 500-U
                        best: 525887, // ETAGON 500-U
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
                StainlessSteel: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: 518205, // SUPRA 500-U
                        better: 522967, // ANDANO 500-U
                        best: 521577, // CLARON 500-U
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
                Ceramics: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: '',
                        better: 514506, // SUBLINE 500-U
                        best: 525149, // ETAGON Ceramic 500-U
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
            },
            inset: {
                Silgranite: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: 525873, // DALAGO 6
                        better: 525953, // PLEON 6
                        best: 525890, // ETAGON 6
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
                StainlessSteel: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: 511949, // TIPO 6
                        better: 525108, // LEMIS 6-IF
                        best: 522965, // ANDANO 500-IF
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
                Ceramics: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: '',
                        better: '',
                        best: 524731, // PALONA 6
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
            },
            flushmount: {
                Silgranite: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: 525875, // DALAGO 6-F
                        better: 525994, // SUBLINE 500-F
                        best: 525994, // SUBLINE 500-F
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
                StainlessSteel: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: '',
                        better: 525108, // LEMIS 6-IF
                        best: 522965, // ANDANO 500-IF
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
                Ceramics: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: '',
                        better: '', //
                        best: '', //
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
            },
            insetflushmount: {
                Silgranite: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
                StainlessSteel: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: '', //
                        better: '', //
                        best: 525025, // CRONOS XL 6-IF
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                },
                Ceramics: {
                    45: {
                        good: '', //
                        better: '', //
                        best: '', //
                    },
                    60: {
                        good: '',
                        better: '', //
                        best: 525149, // ETAGON Ceramic 500-U
                    },
                    80: {
                        good: '', //
                        better: '', //
                        best: 514486, // PANOR 6
                    },
                },
            },
        },
    }),

    fetchOnServer: false,
    async fetch() {
        // сбросим прошлые результаты
        this.bowls = [];
        this.resultBowl = null;
        this.mixers = [];
        this.resultMixer = null;

        // сначала сконцентрируемся на мойках, запросим у сервера подходящие мойки,
        // затем проверим выборку с артикулами из getCompatibility(),
        // и только потом по артикулам забираем смесители, и на фронте фильтруем подходящие по ttcMixer, потому что запрос идет на /products

        // МОЙКИ
        const bowlsQuery = {
            // все параметры лучше отправлять в виде массива (потому что enumeration), потому что на бэке используется whereIn
            // булевые (hasWing, hasDispenser, hasAutomaticValve) передаем в виде 0 или 1
            ttcBowl: {
                sizeCupboard: {
                    size: this.forms.size,
                },
                installationType: this.forms.installation,
                materialType: this.forms.material,
            },
            price_gte: this.compatibilityPrices.bowlPrice[0][0], // this.compatibilityPrices.bowlPrice[this.forms.price || 0][0],
            price_lt: this.compatibilityPrices.bowlPrice[0][1], // this.compatibilityPrices.bowlPrice[this.forms.price || 0][1],
            _limit: -1,
            _publicationState: 'live',
        };

        // для силгранита выбираем темные цвета
        if (this.forms.material.includes('Silgranite')) {
            bowlsQuery.color = [
                2, // SILGRANIT - черный
                3, // SILGRANIT - антрацит
            ];
        }

        // для керамики выбираем черный и белый
        if (this.forms.material.includes('Ceramics')) {
            bowlsQuery.color = [
                14, // Керамика - глянцевый белый
                15, // Керамика - глянцевый магнолия
                16, // Керамика - базальт
                17, // Керамика - черный
            ];
        }

        this.bowls = await this.$axios.$get(`/products/find-extra?${qs.stringify(bowlsQuery)}`);
        const bowlArticles = Object.keys(this.compatibilityXLSX).map(Number);
        this.bowls = this.bowls.filter(o => bowlArticles.includes(o.vendorCode));
        this.bowls = _sortBy(this.bowls, [o => o.category.id]).reverse(); // чаши приоритет
        // this.resultBowl = this.bowls[0];

        // Ищем среди моек рекомендованную
        let bowlSegment = 'better';

        if (this.forms.price === 1) {
            bowlSegment = 'good';
        } else if (this.forms.price === 3) {
            bowlSegment = 'best';
        }

        let bowlSize = '60';

        if (this.forms.size[0] === '32E') {
            bowlSize = '45';
        } else if (this.forms.size[0] === '40D') {
            bowlSize = '80';
        }

        const recommendBowl = this.sinks[this.forms.installation[0]][this.forms.material][bowlSize][bowlSegment];

        if (this.bowls) {
            this.bowls.forEach((item, i) => {
                if (item.vendorCode === recommendBowl) {
                    this.resultBowl = this.bowls[i];
                }
            });
        }

        // если есть мойка, то можно собирать комплект
        if (this.resultBowl) {
            // СМЕСИТЕЛИ
            const probabilities = this.compatibilityXLSX[this.resultBowl.vendorCode];

            const mixersQuery = {
                category: 3,
                vendorCode_in: probabilities[1],
                price_gte: this.compatibilityPrices.mixerPrice[0][0], // this.compatibilityPrices.mixerPrice[this.forms.price || 0][0],
                price_lt: this.compatibilityPrices.mixerPrice[0][1], // this.compatibilityPrices.mixerPrice[this.forms.price || 0][1],
                _limit: -1,
                _publicationState: 'live',
                _sort: 'color:ASC',
            };

            // для силгранита у мойки выбираем темные цвета смесителя
            if (this.forms.material.includes('Silgranite')) {
                mixersQuery.vendorCode_in = [...probabilities[1]];
                mixersQuery.color = [
                    2, // SILGRANIT - черный
                    3, // SILGRANIT - антрацит
                    20, // Смесители - черный матовый
                ];

                if (this.forms.price === 0) {
                    mixersQuery.segment = ['better'];
                }
            }

            // для нержавейки у мойки выбираем нержавейку смесителя
            if (this.forms.material.includes('StainlessSteel')) {
                mixersQuery.vendorCode_in = [...probabilities[1]]; // сразу подключаем результаты 0.8 вероятности, потому что там часто FONTAS II
                mixersQuery.color = [
                    26, // Нержавеющая сталь - матовая
                    22, // Нержавеющая сталь - полированная
                    1, // Смесители - хром
                    21, // Смесители - сталь UltraResist, PVD Steel
                    13, // Смесители - нержавеющая сталь
                ];
            }

            try {
                this.mixers = await this.$axios.$get(`/products?${qs.stringify(mixersQuery, { indices: false })}`);
            } catch {}

            this.mixers = this.mixers.filter(o => o.ttcMixer.hasFilteredWater === this.forms.filter);

            if (this.mixers.length === 0) {
                mixersQuery.vendorCode_in = probabilities[0.9];
                this.mixers = await this.$axios.$get(`/products?${qs.stringify(mixersQuery, { indices: false })}`);

                if (this.mixers.length === 0) {
                    mixersQuery.vendorCode_in = probabilities[0.8];
                    this.mixers = await this.$axios.$get(`/products?${qs.stringify(mixersQuery, { indices: false })}`);
                }
            }

            this.resultMixer = this.mixers[0];
        }
    },

    watch: {
        forms: {
            deep: true,
            handler: function forms(newValue) {
                this.$fetch();
            },
        },
    },

    methods: {
        uncheck(val) {
            this.forms[val] = '';
        },
    },
};
</script>

<style lang="scss">
.page-podbor-test {
    display: flex;

    &__flex {
        padding: 20px;
    }

    &__result {
        display: flex;

        > * {
            padding: 20px;
        }
    }

    .configurator {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        @include mq(767) {
            margin-top: 0;
        }

        &-title {
            position: absolute;
            top: 26px;
            left: 26px;
            font-size: 30px;
            line-height: 37px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;

            @include mq(767) {
                position: static;
            }

            span {
                font-size: 21px;
                line-height: 25px;
                font-weight: 400;
                text-transform: initial;
                margin-left: 25px;

                @include mq(767) {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 20px;
                    margin-left: 0;
                }
            }
        }

        &-col {
            display: flex;
            flex-direction: column;
            width: 31.8%;
            padding: 0;

            @include mq(767) {
                width: 100%;
                padding-top: 50px;
            }

            &:first-child {
                @include mq(767) {
                    background: #e1e1e1;
                }
            }

            &:nth-child(2) {
                @include mq(767) {
                    background: #f2f2f2;
                }
            }

            &:last-child {
                width: 36.4%;

                @include mq(767) {
                    width: 100%;
                    background: #fff;
                }
            }

            > * {
                margin-left: auto;

                @include mq(767) {
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            &:last-child > * {
                margin-right: 13%;

                @include mq(767) {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        &-item {
            width: 100%;
            max-width: 317px;
            margin-bottom: 50px;

            @include mq(767) {
                margin-bottom: 40px;
            }

            h3 {
                font-size: 16px;
                line-height: 25px;
                font-weight: 300;
                color: #575757;
                margin-bottom: 20px;
            }

            .btn {
                width: 100%;
            }

            //&:nth-child(2) {
            //    h3 {
            //        margin-bottom: 30px;
            //    }
            //}

            &--last {
                margin-top: 80px;

                @include mq(767) {
                    margin-top: 0;
                }
            }
        }
    }
}
</style>
