<template>
    <div class="page-podbor-test2">
        <div class="page-podbor-test2__flex">
            <div
                v-for="(list, index) in quizList"
                :key="'key' + index"
                class="configurator-item"
            >
                <h3>{{ text[list].title }}</h3>
                <div class="form-radio form-radio--list">
                    <div v-for="item in quiz[list]" :key="item.id" class="form-radio-item">
                        <input
                            :id="item.id"
                            v-model="forms[list]"
                            :value="item.value"
                            type="radio"
                        />
                        <label :for="item.id">
                            <div class="checked"><img src="/img/icons/selected.svg" /></div>
                            <span class="form-radio-text">{{ item.text }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="$fetchState.pending" class="page-podbor-test2__result">
            Loading...
        </div>
        <div v-else class="page-podbor-test2__result">
            <div>
                <strong>Подходящие мойки {{ bowls.length ? `(${bowls.length})`: '' }}</strong><br />
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: left;">Артикул</th>
                            <th style="text-align: left;">Категория</th>
                            <th style="text-align: left;">Название</th>
                            <th style="text-align: left;">Размер шкафа</th>
                            <th style="text-align: left;">Тип установки</th>
                            <th style="text-align: left;">Материал</th>
                            <th style="text-align: left;">Сегмент</th>
                            <th style="text-align: left;">Цена</th>
                            <th style="text-align: left;">Цвет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in bowls" :key="i">
                            <td style="padding: 0 10px 0 0;">{{ item.vendorCode }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.category.name }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.name }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcBowl ? item.ttcBowl.sizeCupboard.size : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcBowl ? item.ttcBowl.installationType : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcBowl ? item.ttcBowl.materialType : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.segment }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.price }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.color && item.color.picture.alternativeText }}</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />

                <strong>Подходящие смесители {{ mixers.length ? `(${mixers.length})`: '' }}</strong><br />
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: left;">Артикул</th>
                            <th style="text-align: left;">Название</th>
                            <th style="text-align: left;">Фильтр</th>
                            <th style="text-align: left;">Сегмент</th>
                            <th style="text-align: left;">Цена</th>
                            <th style="text-align: left;">Цвет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in mixers" :key="i">
                            <td style="padding: 0 10px 0 0;">{{ item.vendorCode }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.name }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcMixer ? item.ttcMixer.hasFilteredWater : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.segment }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.price }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.color && item.color.picture.alternativeText }}</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />

                <strong>Подходящие мусорки {{ garbageSystems.length ? `(${garbageSystems.length})`: '' }}</strong><br />
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: left;">Артикул</th>
                            <th style="text-align: left;">Название</th>
                            <th style="text-align: left;">Шкаф</th>
                            <th style="text-align: left;">Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, i) in garbageSystems" :key="i">
                            <td style="padding: 0 10px 0 0;">{{ item.vendorCode }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.name }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.ttcGarbageSystem ? item.ttcGarbageSystem.sizeCupboard.size : '' }}</td>
                            <td style="padding: 0 10px 0 0;">{{ item.price }}</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />
                <strong>Финальный результат</strong><br />
                <img
                    v-if="resultBowl"
                    :src="parseUrlPictures(resultBowl.picture, 'url')"
                    :alt="resultBowl.vendorCode"
                    :title="resultBowl.vendorCode + ' ' + resultBowl.name"
                    :style="{ width: '200px' }"
                />
                <img
                    v-if="resultMixer"
                    :src="parseUrlPictures(resultMixer.picture, 'url')"
                    :alt="resultMixer.vendorCode"
                    :title="resultMixer.vendorCode + ' ' + resultMixer.name"
                    :style="{ width: '200px' }"
                />
                <img
                    v-if="resultGarbageSystem"
                    :src="parseUrlPictures(resultGarbageSystem.picture, 'url')"
                    :alt="resultGarbageSystem.vendorCode"
                    :title="resultGarbageSystem.vendorCode + ' ' + resultGarbageSystem.name"
                    :style="{ width: '200px' }"
                />
            </div>
        </div>
    </div>
</template>

<script>
import qs from 'qs';
import _sortBy from 'lodash/sortBy';
import functions from '@/utils/functions';
import getCompatibility from '@/assets/compatibility';

export default {
    mixins: [functions],

    data: () => ({
        forms: {
            style: ['Classic'], // по умолчанию Classic
            price: 0, // по умолчанию 0 (т.е. любая цена)
            sizeCupboard: ['34D', '40E', '45E', '50E', '50F', '50S', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z'], // по умолчанию 60
            installationType: ['undermount'], // по умолчанию UnderTable (оно же undermount)
            materialType: ['Silgranite'], // по умолчанию Silgranite
            hasFilteredWater: true, // по умолчанию true
            heightType: null,
            color: null,
            functions: null,
            facadeType: null,
            containersCount: null, // по умолчанию любое количество
            // garbage: [],
        },
        bowls: [],
        resultBowl: null,
        mixers: [],
        resultMixer: null,
        garbageSystems: [],
        resultGarbageSystem: null,
        compatibilityXLSX: getCompatibility(),
        compatibilityPrices: {
            bowlPrice: {
                0: [0, 1000000],
                1: [0, 20000],
                2: [20000, 30000],
                3: [30000, 1000000],
            },
            mixerPrice: {
                0: [0, 1000000],
                1: [0, 10000],
                2: [10000, 20000],
                3: [20000, 1000000],
            },
        },
        quizList: [
            'style',
            'price',
            'sizeCupboard',
            'installationType',
            'materialType',
            'hasFilteredWater',
            'heightType',
            'color',
            'functions',
            'facadeType',
            'containersCount',
            // 'garbage',
        ],
        text: {
            style: {
                title: 'Какой стиль у вашей кухни?',
            },
            price: {
                title: 'Стоимость мойки и смесителя',
            },
            sizeCupboard: {
                title: 'Какой размер шкафа для установки мойки на вашей кухне?',
            },
            installationType: {
                title: 'Выберите вид монтажа вашей мойки',
            },
            materialType: {
                title: 'Выберите материал вашей мойки',
            },
            hasFilteredWater: {
                title: 'Будете ли вы устанавливать смеситель с подключением фильтра для питьевой воды?',
            },
            heightType: {
                title: 'Выберите высоту смесителя',
            },
            color: {
                title: 'Выберите цвет смесителя',
            },
            functions: {
                title: 'Выберите важную дополнительную функцию смесителя',
            },
            facadeType: {
                title: 'Выберите тип фасада',
            },
            containersCount: {
                title: 'Сколько контейнеров вам необходимо?',
            },
            // garbage: {
            //     title: 'Нужна ли вам дополнительная мусорная система в столешницу?',
            // },
        },
        quiz: {
            style: [
                {
                    id: 'style-1',
                    value: ['Modern'],
                    text: 'Современный',
                    img: '/img/quiz/style-1_new.jpg',
                    folder: 'modern',
                },
                {
                    id: 'style-2',
                    value: ['Classic'],
                    text: 'Классический',
                    img: '/img/quiz/style-2_new.jpg',
                    folder: 'classic',
                },
                {
                    id: 'style-3',
                    value: ['Neoclassic'],
                    text: 'Неоклассика',
                    img: '/img/quiz/style-3_new.jpg',
                    folder: 'neoclassic',
                },
            ],
            price: [
                {
                    id: 'type-1',
                    value: 1,
                    text: 'до 30 000 ₽',
                    // desc: 'Мойка+смеситель (и более ничего)',
                    img: '/img/quiz/type-1_new.jpg',
                    type: 'washing',
                },
                {
                    id: 'type-2',
                    value: 2,
                    text: 'от 30 000 ₽ — 50 000 ₽',
                    // desc: 'Две чашки (подходит для )',
                    img: '/img/quiz/type-2_new.jpg',
                    type: 'washing',
                },
                {
                    id: 'type-3',
                    value: 3,
                    text: 'от 50 000 ₽',
                    // desc: '',
                    img: '/img/quiz/type-3_new.jpg',
                    type: 'washing',
                },
            ],
            sizeCupboard: [
                {
                    id: 'size-1',
                    value: ['32E', '34E', '40S'],
                    text: '40',
                    num: '40',
                    type: 'washing',
                },
                {
                    id: 'size-2',
                    value: ['32E', '34E', '37E', '40S', '45C', '45M', '45S', '45Z'],
                    text: '45',
                    num: '45',
                    type: 'washing',
                },
                {
                    id: 'size-3',
                    value: ['32E', '37E', '40E', '45C', '45E', '45M', '45S', '45Z', '50S', '50Z'],
                    text: '50',
                    num: '50',
                    type: 'washing',
                },
                {
                    id: 'size-4',
                    value: ['34D', '40E', '45E', '50E', '50F', '50S', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z'],
                    text: '60',
                    num: '60',
                    type: 'washing',
                },
                {
                    id: 'size-5',
                    value: ['33D', '34D', '35D', '43D', '50D', '50E', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z', '70E', '70L', '80S', '80X', '80Z'],
                    text: '80',
                    num: '80',
                    type: 'washing',
                },
                {
                    id: 'size-6',
                    value: ['33D', '35D', '40D', '43D', '48D', '50D', '70E', '70L', '80E', '80S', '80X', '80Z', '90X', '90Z'],
                    text: '90',
                    num: '90',
                    type: 'washing',
                },
                {
                    id: 'size-7',
                    value: ['90K', 'Corner'],
                    text: 'УГЛОВОЙ ШКАФ',
                    svg: '<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                        '<path fill-rule="evenodd" clip-rule="evenodd" d="M11 24V0H0V24V35H11H35V24H11Z" fill="#575757"/>\n' +
                        '</svg>',
                    type: 'washing',
                },
            ],
            // washingForm: [
            //     {
            //         id: 'shell-1',
            //         value: 'shell-1',
            //         text: 'КРУГЛАЯ',
            //         img: '/img/quiz/shell-1.png',
            //         type: 'washing',
            //     },
            //     {
            //         id: 'shell-2',
            //         value: 'shell-2',
            //         text: 'КВАДРАТНАЯ',
            //         img: '/img/quiz/shell-2.png',
            //         type: 'washing',
            //     },
            //     {
            //         id: 'shell-3',
            //         value: 'shell-3',
            //         text: 'С КРЫЛОМ',
            //         img: '/img/quiz/shell-3.png',
            //         type: 'washing',
            //     },
            //     {
            //         id: 'shell-4',
            //         value: 'shell-4',
            //         text: 'КОМБИНАЦИЯ ЧАШ',
            //         img: '/img/quiz/shell-4.png',
            //         type: 'washing',
            //     },
            // ],
            installationType: [
                {
                    id: 'installation-1',
                    text: 'Врезной',
                    value: ['inset'],
                    type: 'washing',
                    desc: 'Самый простой способ монтажа, который подходит для столешниц из любого материала. Установку сможет произвести даже неподготовленный человек. Обратите внимание на модели с плоским кантом IF, при врезном монтаже они смотрятся, как установленные в один уровень со столешницей.',
                    img: '/img/quiz/installation-1_new.jpg',
                },
                {
                    id: 'installation-2',
                    text: 'Подстольный',
                    value: ['undermount'],
                    type: 'washing',
                    desc: 'Размещение чаши под столешницей позволяет наиболее полно использовать рабочую поверхность. Этот вид монтажа подходит только для влагостойких столешниц, например, из камня или стекла. Выполнение выреза в столешнице и вклейка мойки требуют профессионального оборудования и навыков монтажа.',
                    img: '/img/quiz/installation-2_new.jpg',
                },
                {
                    id: 'installation-3',
                    text: 'В один уровень',
                    value: ['flushmount', 'insetflushmount'],
                    type: 'washing',
                    desc: 'Кант мойки не возвышается над столешницей, это увеличивает рабочее пространство, гигиенично и удобно при уборке на кухне. Этот вид монтажа подходит только для однородных по всей толщине столешниц и требует профессионального оборудования и навыков монтажа.',
                    img: '/img/quiz/installation-3_new.jpg',
                },
                {
                    id: 'installation-4',
                    text: 'Фронтальный',
                    value: ['inset', 'insetflushmount'],
                    type: 'washing',
                    desc: 'Эффектные и очень вместительные чаши. Способ крепления к столешнице зависит от конкретной модели, но для всего ассортимента требуются фасады меньшей высоты и предварительное планирование. Выполнение выреза в столешнице и вклейка мойки требуют профессионального оборудования и навыков монтажа.',
                    img: '/img/quiz/installation-4_new.jpg',
                },
            ],
            materialType: [
                {
                    id: 'material-1',
                    text: 'Нержавеющая сталь',
                    value: ['StainlessSteel'],
                    type: 'washing',
                    desc: 'Классический материал для использования на кухне, гигиеничный и легкий в уходе. BLANCO предлагает несколько видов поверхностей от привычной матовой стали до эксклюзивных Durinox и DarkSteel. В ассортименте представлены модели во всех ценовых диапазонах для кухонь во всех стилях.',
                    img: '/img/quiz/material-1_new.jpg',
                },
                {
                    id: 'material-2',
                    text: 'SILGRANIT',
                    value: ['Silgranite'],
                    type: 'washing',
                    desc: 'Запатентованный материал BLANCO SILGRANIT прекрасно зарекомендовал себя на кухнях по всему миру, он прочен, устойчив к высоким температурам и бытовым кислотам и не меняет цвет. Визуально и тактильно материал напоминает натуральный камень. На выбор представлена широкая палитра актуальных цветов.',
                    img: '/img/quiz/material-2_new.jpg',
                },
                {
                    id: 'material-3',
                    text: 'Керамика',
                    value: ['Ceramics'],
                    type: 'washing',
                    desc: 'Натуральный и экологичный материал прекрасно показывает себя на кухне. Массивные чаши из керамики устойчивы к ударам, жаропрочны, легки в уходе и выглядят совершенно потрясающе. Природный материал отличают более мягкие контуры и глубокие полностью однотонные цвета.',
                    img: '/img/quiz/material-3_new.jpg',
                },
            ],
            hasFilteredWater: [
                {
                    id: 'filter-1',
                    text: 'Да',
                    img: '/img/quiz/filter-1_new.jpg',
                    type: 'mixer',
                    value: true,
                    desc: 'При установке смесителя с двумя изливами для фильтрованной и простой воды нет необходимости во втором кране и, соответственно, в дополнительном отверстии для него. Рабочее место выглядит более опрятным.',
                },
                {
                    id: 'filter-2',
                    text: 'Нет',
                    img: '/img/quiz/filter-2_new.jpg',
                    type: 'mixer',
                    value: false,
                    desc: 'Вы уверены в качестве воды или используете другие системы фильтрации.',
                },
            ],
            heightType: [
                {
                    id: 'height-1',
                    text: 'Высокий излив',
                    value: ['HighSpout'],
                    type: 'mixer',
                    // desc: 'подсказка',
                    img: '/img/quiz/height-1_new.png',
                },
                {
                    id: 'height-2',
                    text: 'Низкий излив',
                    value: ['LowSpout'],
                    type: 'mixer',
                    // desc: 'подсказка',
                    img: '/img/quiz/height-2_new.png',
                },
            ],
            color: [
                {
                    id: 'color-1',
                    text: 'Цвет SILGRANIT',
                    value: [2, 3],
                    type: 'mixer',
                    img: '/img/quiz/color-1_new.png',
                },
                {
                    id: 'color-2',
                    text: 'Металлическая поверхность',
                    value: [1, 13, 21, 18, 19, 25, 26, 22, 24, 27],
                    type: 'mixer',
                    // desc: 'хром или нержавеющая сталь',
                    img: '/img/quiz/color-2_new.png',
                },
                {
                    id: 'color-3',
                    text: 'Полированная латунь',
                    value: [28],
                    type: 'mixer',
                    img: '/img/quiz/color-3_new.png',
                },
                {
                    id: 'color-4',
                    text: 'Черный матовый',
                    value: [20],
                    type: 'mixer',
                    img: '/img/quiz/color-4_new.png',
                },
            ],
            functions: [
                {
                    id: 'functions-1',
                    text: 'Выдвижной излив',
                    value: ['hasPulloutSpout'],
                    type: 'hasPulloutSpout',
                    desc: 'Функция удобна, если вода нужна за пределами мойки или при мытье габаритной посуды. Выдвижной излив облегчает уход за широкими мойками и чашами и рекомендуется для всех моделей в шкафы шире 60 см.',
                    img: '/img/quiz/functions-1_new.jpg',
                },
                {
                    id: 'functions-2',
                    text: 'Душ',
                    value: ['hasShowerMode'],
                    type: 'hasShowerMode',
                    desc: 'Мягкий и широкий вариант подачи воды удобен для промывания многих видов продуктов, от нежных ягод и зелени до крупных дынь и арбузов, способных из-за габаритов и формы обрызгать при мытье все вокруг.',
                    img: '/img/quiz/functions-2_new.jpg',
                },
                {
                    id: 'functions-3',
                    text: 'У окна',
                    value: ['hasWindowInstallation'],
                    type: 'hasWindowInstallation',
                    desc: 'Модный дизайнерский ход позволяет сделать работу за мойкой еще более медитативной и по максимуму использовать естественное освещение. Специальные модели смесителей с разными вариантами складывания не мешают открывать окно.',
                    img: '/img/quiz/functions-3_new.jpg',
                },
                {
                    id: 'functions-4',
                    text: 'Сенсор',
                    value: ['hasTouchActivation'],
                    type: 'hasTouchActivation',
                    desc: 'Современная сенсорная технология поможет включить и выключить смеситель, не касаясь рычага управления.  Требуется подключение к электричеству.',
                    img: '/img/quiz/functions-4_new.jpg',
                },
                {
                    id: 'functions-5',
                    text: 'Объем',
                    value: ['hasWaterMeasurement'],
                    type: 'hasWaterMeasurement',
                    desc: 'Функция мерного стакана удобна в кулинарии или при уходе за детьми. Выбрать необходимый объем или отключить функцию можно поворотом круговой шкалы. Для всех значений объема подобран оптимальный напор воды для скорейшего наполнения без разбрызгивания.',
                    img: '/img/quiz/functions-5_new.jpg',
                },
            ],
            facadeType: [
                {
                    id: 'facade-1',
                    text: 'Выдвижной',
                    img: '/img/quiz/facade-1_new.jpg',
                    value: ['Retractable'],
                    type: 'garbage',
                },
                {
                    id: 'facade-2',
                    text: 'Распашной',
                    img: '/img/quiz/facade-2_new.jpg',
                    value: ['Hinged'],
                    type: 'garbage',
                },
            ],
            containersCount: [
                {
                    id: 'containers-1',
                    text: 'Один',
                    img: '/img/quiz/containers-1_new.jpg',
                    value: [1],
                    type: 'garbage',
                    desc: 'Система с одним контейнером очень компактна и удобна, если в шкафу под мойкой размещено дополнительное оборудование, например фильтр или измельчитель отходов. BLANCO предлагает такие системы для шкафов с распашными дверцами.',
                },
                {
                    id: 'containers-2',
                    text: 'Больше',
                    img: '/img/quiz/containers-2_new.jpg',
                    value: [2, 3, 4],
                    type: 'garbage',
                    desc: 'Система с несколькими контейнерами подойдет для раздельного сбора мусора. Также такая система позволит более рационально использовать пространство шкафа под мойкой, так как некоторые контейнеры можно использовать для хранения овощей или бытовой химии.',
                },
            ],
            // garbage: [
            //     {
            //         id: 'garbage-1',
            //         text: 'Да',
            //         img: '/img/quiz/garbage-1_new.jpg',
            //         value: true,
            //     },
            //     {
            //         id: 'garbage-2',
            //         text: 'Нет',
            //         img: '/img/quiz/garbage-2_new.jpg',
            //         value: false,
            //     },
            // ],
        },
    }),

    fetchOnServer: false,
    async fetch() {
        // сбросим прошлые результаты
        this.bowls = [];
        this.resultBowl = null;
        this.mixers = [];
        this.resultMixer = null;
        this.garbageSystems = [];
        this.resultGarbageSystem = null;

        // сначала сконцентрируемся на мойках, запросим у сервера подходящие мойки,
        // затем проверим выборку с артикулами из getCompatibility(),
        // и только потом по артикулам забираем смесители, и на фронте фильтруем подходящие по ttcMixer, потому что запрос идет на /products
        // мусорные системы получаем все, их не много, затем фильтруем на фронте

        // МОЙКИ
        const bowlsQuery = {
            // все параметры лучше отправлять в виде массива (потому что enumeration), потому что на бэке используется whereIn
            // булевые (hasWing, hasDispenser, hasAutomaticValve) передаем в виде 0 или 1
            ttcBowl: {
                sizeCupboard: {
                    size: this.forms.sizeCupboard,
                },
                installationType: this.forms.installationType,
                materialType: this.forms.materialType,
            },
            price_gte: this.compatibilityPrices.bowlPrice[this.forms.price || 0][0],
            price_lt: this.compatibilityPrices.bowlPrice[this.forms.price || 0][1],
            _limit: -1,
            _publicationState: 'live',
        };

        // для силгранита выбираем темные цвета
        if (this.forms.materialType.includes('Silgranite')) {
            bowlsQuery.color = [
                2, // SILGRANIT - черный
                3, // SILGRANIT - антрацит
            ];
        }

        // для керамики выбираем черный и белый
        if (this.forms.materialType.includes('Ceramics')) {
            bowlsQuery.color = [
                14, // Керамика - глянцевый белый
                15, // Керамика - глянцевый магнолия
                16, // Керамика - базальт
                17, // Керамика - черный
            ];
        }

        this.bowls = await this.$axios.$get(`/products/find-extra?${qs.stringify(bowlsQuery)}`);
        const bowlArticles = Object.keys(this.compatibilityXLSX).map(Number);
        this.bowls = this.bowls.filter(o => bowlArticles.includes(o.vendorCode));
        this.bowls = _sortBy(this.bowls, [o => o.category.id]).reverse(); // чаши приоритет
        this.resultBowl = this.bowls[0];

        // если есть мойка, то можно собирать комплект добавляя мойку и мусорку
        if (this.resultBowl) {
            // СМЕСИТЕЛИ
            const probabilities = this.compatibilityXLSX[this.resultBowl.vendorCode];

            const mixersQuery = {
                category: 3,
                vendorCode_in: [...probabilities[1], ...probabilities[0.8]], // сразу подключаем результаты 0.8 вероятности, потому что там часто FONTAS II
                price_gte: this.compatibilityPrices.mixerPrice[this.forms.price || 0][0],
                price_lt: this.compatibilityPrices.mixerPrice[this.forms.price || 0][1],
                _limit: -1,
                _publicationState: 'live',
                _sort: 'color:ASC',
            };

            if (this.forms.color) {
                mixersQuery.color = this.forms.color;

                // if (this.forms.price === 0) {
                //     mixersQuery.segment = ['better'];
                // }
            } else {
                // для силгранита у мойки выбираем темные цвета смесителя
                if (this.forms.materialType.includes('Silgranite')) {
                    mixersQuery.color = [
                        2, // SILGRANIT - черный
                        3, // SILGRANIT - антрацит
                        20, // Смесители - черный матовый
                    ];

                    if (this.forms.price === 0) {
                        mixersQuery.segment = ['better'];
                    }
                }

                // для нержавейки у мойки выбираем нержавейку смесителя
                if (this.forms.materialType.includes('StainlessSteel')) {
                    mixersQuery.color = [
                        26, // Нержавеющая сталь - матовая
                        22, // Нержавеющая сталь - полированная
                        1, // Смесители - хром
                        21, // Смесители - сталь UltraResist, PVD Steel
                        13, // Смесители - нержавеющая сталь
                    ];
                }
            }

            this.mixers = await this.$axios.$get(`/products?${qs.stringify(mixersQuery, { indices: false })}`);

            this.mixers = this.mixers.filter(o => o.ttcMixer.hasFilteredWater === this.forms.hasFilteredWater);
            if (this.forms.heightType) {
                this.mixers = this.mixers.filter(o => this.forms.heightType.includes(o.ttcMixer.heightType));
            }
            if (this.forms.functions) {
                this.mixers = this.mixers.filter(o => o.ttcMixer[this.forms.functions] === true);
            }
            this.resultMixer = this.mixers[0];

            // если ответы на мусорные системы не даны, то пропустим подбор мусорки
            if ((this.forms.facadeType === null || this.forms.facadeType === '') &&
                (this.forms.containersCount === null || this.forms.containersCount === '')) {
                return;
            }

            // МУСОРКИ
            const garbageSystemsQuery = {
                category: 4,
                ttcGarbageSystem: {},
                _limit: -1,
                _publicationState: 'live',
            };

            if (this.forms.facadeType) {
                garbageSystemsQuery.ttcGarbageSystem.facadeType = this.forms.facadeType; // Hinged | Retractable
            }

            if (this.forms.containersCount) {
                garbageSystemsQuery.ttcGarbageSystem.containersCount = this.forms.containersCount;
            }

            this.garbageSystems = await this.$axios.$get(`/products/find-extra?${qs.stringify(garbageSystemsQuery)}`);
            const tempGarbageCompatibility = {
                Corner: '45C',
                '16E': '45C',
                '18E': '45C',
                '32E': '45C',
                '34D': '45C',
                '33D': '45C',
                '34E': '45C',
                '35D': '45C',
                '37E': '45C',
                '40D': '45C',
                '40E': '45C',
                '40S': '45C',
                '43D': '45C',
                '45C': '45C',
                '45E': '45C',
                '45M': '45C',
                '45S': '45C',
                '45Z': '45C',
                '48D': '45C',
                '50D': '45C',
                '50E': '45C',
                '50F': '45C',
                '50S': '45C',
                '50Z': '45C',
                '55E': '45C',
                '60C': '60C',
                '60L': '60C',
                '60S': '60C',
                '60X': '60C',
                '60Z': '60C',
                '70E': '60C',
                '70L': '60C',
                '80E': '60C',
                '80S': '60C',
                '80X': '60C',
                '80Z': '60C',
                '90K': '90K',
                '90X': '90K',
                '90Z': '90K',
            };
            this.garbageSystems = this.garbageSystems.filter(o => {
                return o.ttcGarbageSystem.sizeCupboard.size === tempGarbageCompatibility[this.resultBowl.ttcBowl.sizeCupboard.size];
            });

            this.resultGarbageSystem = this.garbageSystems[0];
        }
    },

    watch: {
        forms: {
            deep: true,
            handler: function forms(newValue) {
                this.$fetch();
            },
        },
    },

    methods: {
        uncheck(val) {
            this.forms[val] = '';
        },
    },
};
</script>

<style lang="scss">
.page-podbor-test2 {
    display: flex;

    .form-radio-text {
        height: 20px;
        padding: 0 20px;
    }

    &__flex {
        padding: 20px;
    }

    &__result {
        display: flex;

        > * {
            padding: 20px;
        }
    }

    .configurator {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        @include mq(767) {
            margin-top: 0;
        }

        &-title {
            position: absolute;
            top: 26px;
            left: 26px;
            font-size: 30px;
            line-height: 37px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;

            @include mq(767) {
                position: static;
            }

            span {
                font-size: 21px;
                line-height: 25px;
                font-weight: 400;
                text-transform: initial;
                margin-left: 25px;

                @include mq(767) {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 20px;
                    margin-left: 0;
                }
            }
        }

        &-col {
            display: flex;
            flex-direction: column;
            width: 31.8%;
            padding: 0;

            @include mq(767) {
                width: 100%;
                padding-top: 50px;
            }

            &:first-child {
                @include mq(767) {
                    background: #e1e1e1;
                }
            }

            &:nth-child(2) {
                @include mq(767) {
                    background: #f2f2f2;
                }
            }

            &:last-child {
                width: 36.4%;

                @include mq(767) {
                    width: 100%;
                    background: #fff;
                }
            }

            > * {
                margin-left: auto;

                @include mq(767) {
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            &:last-child > * {
                margin-right: 13%;

                @include mq(767) {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        &-item {
            width: 100%;
            max-width: 317px;
            margin-bottom: 20px;

            h3 {
                font-size: 16px;
                line-height: 1.3;
                font-weight: 500;
                color: #575757;
                margin-bottom: 5px;
            }

            .btn {
                width: 100%;
            }

            //&:nth-child(2) {
            //    h3 {
            //        margin-bottom: 30px;
            //    }
            //}

            &--last {
                margin-top: 80px;

                @include mq(767) {
                    margin-top: 0;
                }
            }
        }
    }
}
</style>
