<template>
    <div class="page-quiz">
        <app-menu :clicked="toggleMenu" :show-menu="showMenu" />
        <header class="header">
            <div class="header-burger" @click="showMenu = !showMenu">
                <img src="/img/icons/burger.svg" alt="BLANCO UNIT" />
            </div>
            <n-link to="/config" class="header-link" @click.native="skipQuiz">ПРОПУСТИТЬ ОПРОС</n-link>
            <div class="header-title header-title--sm">
                ВОПРОС {{ currentQuiz }} <sup>/ {{ quizList.length }}</sup>
            </div>
            <NuxtLink to="/" class="header-logo">
                <img src="/img/logo.svg" alt="BLANCO UNIT" />
            </NuxtLink>
        </header>
        <div class="content">
            <div class="quiz-container">
                <h4>ВОПРОС {{ currentQuiz }} <sup> / {{ quizList.length }}</sup></h4>
                <div v-for="(list, index) in quizList" :key="'key'+index">
                    <div v-if="currentQuiz === index + 1" class="quiz-block">
                        <div class="quiz-block-title">
                            <h2>{{ text[list].title }}</h2>
                            <p v-if="text[list].subtitle">{{ text[list].subtitle }}</p>
                        </div>
                        <div class="quiz-block-inner" :class="'quiz-block--' + quiz[list].length">
                            <div v-for="item in quiz[list]" :key="item.id" class="quiz-radio-item">
                                <input
                                    :id="item.id"
                                    ref="radioBtn"
                                    v-model="forms[list]"
                                    :value="item.value"
                                    type="radio"
                                    :name="list"
                                    @change="() => setFilterState(list, item)"
                                    @click="uncheck(list, item)"
                                />
                                <label :for="item.id">
                                    <img v-if="item.img" class="quiz-radio-img" :src="item.img" alt="" @load="$event.target.classList.add('is-active')" />
                                    <div v-if="item.svg" class="text-center" v-html="item.svg" />
                                    <div class="quiz-radio-text">
                                        <div v-if="item.text">{{ item.text }}</div>
                                        <div class="checked"><img src="/img/icons/selected.svg" /></div>
                                    </div>
                                    <span v-if="item.num" class="quiz-radio-num">{{ item.num }}<i>см</i></span>
                                    <span v-if="item.desc" class="quiz-radio-desc">{{ item.desc }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <app-button v-if="currentQuiz === 1" :clicked="() => $router.push('/')" class-name="btn--primary" text="НАЗАД" />
                <app-button v-if="currentQuiz > 1" :clicked="prevQuiz" class-name="btn--primary" text="НАЗАД" />
                <app-button
                    :clicked="() => currentQuiz === quizList.length ? createUnit() : nextQuiz(false)"
                    text="ДАЛЕЕ"
                />
                <app-button
                    :clicked="skipQuestion"
                    class-name="btn--outlined"
                    text="ПРОПУСТИТЬ ВОПРОС"
                />
            </div>
        </div>
        <div class="preloader" :class="{ active: showPreloader }">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <g transform="rotate(0 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(30 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(60 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(90 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(120 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(150 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(180 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(210 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(240 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(270 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(300 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite" />
                    </rect>
                </g>
                <g transform="rotate(330 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#343499">
                        <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite" />
                    </rect>
                </g>
            </svg>
        </div>
    </div>
</template>

<script>
import qs from 'qs';
import _sortBy from 'lodash/sortBy';
import { mapGetters, mapMutations } from 'vuex';
import Button from '@/components/Button';
import Menu from '@/components/Menu';
import functions from '@/utils/functions';
import getCompatibility from '@/assets/compatibility';

export default {
    components: {
        AppButton: Button,
        AppMenu: Menu,
    },

    mixins: [functions],

    // beforeRouteLeave(next) {
    //     this.showPreloader = false;
    //     next();
    // },

    data: () => ({
        showPreloader: false,
        showMenu: false,
        currentQuiz: 1,
        quizList: [
            'style',
            'price',
            'sizeCupboard',
            'installationType',
            'materialType',
            'hasFilteredWater',
            'heightType',
            'color',
            'functions',
            'facadeType',
            'containersCount',
            // 'garbage',
        ],
        bowls: [],
        resultBowl: null,
        mixers: [],
        resultMixer: null,
        garbageSystems: [],
        resultGarbageSystem: null,
        compatibilityXLSX: getCompatibility(),
        compatibilityPrices: {
            bowlPrice: {
                0: [0, 1000000],
                1: [0, 20000],
                2: [20000, 30000],
                3: [30000, 1000000],
            },
            mixerPrice: {
                0: [0, 1000000],
                1: [0, 10000],
                2: [10000, 20000],
                3: [20000, 1000000],
            },
        },
        forms: {
            style: null, // по умолчанию Classic
            price: null, // по умолчанию 0 (т.е. любая цена)
            sizeCupboard: null,
            installationType: null,
            materialType: null,
            hasFilteredWater: null,
            heightType: null,
            color: null,
            functions: null,
            facadeType: null,
            containersCount: null, // по умолчанию любое количество
            // garbage: [],
        },
        text: {
            style: {
                title: 'Какой стиль у вашей кухни?',
            },
            price: {
                title: 'Стоимость мойки и смесителя',
            },
            sizeCupboard: {
                title: 'Какой размер шкафа для установки мойки на вашей кухне?',
            },
            installationType: {
                title: 'Выберите вид монтажа вашей мойки',
            },
            materialType: {
                title: 'Выберите материал вашей мойки',
            },
            hasFilteredWater: {
                title: 'Будете ли вы устанавливать смеситель с подключением фильтра для питьевой воды?',
            },
            heightType: {
                title: 'Выберите высоту смесителя',
            },
            color: {
                title: 'Выберите цвет смесителя',
            },
            functions: {
                title: 'Выберите важную дополнительную функцию смесителя',
            },
            facadeType: {
                title: 'Выберите тип фасада',
            },
            containersCount: {
                title: 'Сколько контейнеров вам необходимо?',
            },
            // garbage: {
            //     title: 'Нужна ли вам дополнительная мусорная система в столешницу?',
            // },
        },
        quiz: {
            style: [
                {
                    id: 'style-1',
                    value: ['Modern'],
                    text: 'Современный',
                    img: '/img/quiz/style-1_new.jpg',
                    folder: 'modern',
                },
                {
                    id: 'style-2',
                    value: ['Classic'],
                    text: 'Классический',
                    img: '/img/quiz/style-2_new.jpg',
                    folder: 'classic',
                },
                {
                    id: 'style-3',
                    value: ['Neoclassic'],
                    text: 'Неоклассика',
                    img: '/img/quiz/style-3_new.jpg',
                    folder: 'neoclassic',
                },
            ],
            price: [
                {
                    id: 'type-1',
                    value: '1',
                    text: 'до 30 000 ₽',
                    // desc: 'Мойка+смеситель (и более ничего)',
                    img: '/img/quiz/type-1_new.jpg',
                    type: 'washing',
                },
                {
                    id: 'type-2',
                    value: '2',
                    text: 'от 30 000 ₽ — 50 000 ₽',
                    // desc: 'Две чашки (подходит для )',
                    img: '/img/quiz/type-2_new.jpg',
                    type: 'washing',
                },
                {
                    id: 'type-3',
                    value: '3',
                    text: 'от 50 000 ₽',
                    // desc: '',
                    img: '/img/quiz/type-3_new.jpg',
                    type: 'washing',
                },
            ],
            sizeCupboard: [
                {
                    id: 'size-1',
                    value: ['32E', '34E', '40S'],
                    text: '40',
                    num: '40',
                    type: 'washing',
                },
                {
                    id: 'size-2',
                    value: ['32E', '34E', '37E', '40S', '45C', '45M', '45S', '45Z'],
                    text: '45',
                    num: '45',
                    type: 'washing',
                },
                {
                    id: 'size-3',
                    value: ['32E', '37E', '40E', '45C', '45E', '45M', '45S', '45Z', '50S', '50Z'],
                    text: '50',
                    num: '50',
                    type: 'washing',
                },
                {
                    id: 'size-4',
                    value: ['34D', '40E', '45E', '50E', '50F', '50S', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z'],
                    text: '60',
                    num: '60',
                    type: 'washing',
                },
                {
                    id: 'size-5',
                    value: ['33D', '34D', '35D', '43D', '50D', '50E', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z', '70E', '70L', '80S', '80X', '80Z'],
                    text: '80',
                    num: '80',
                    type: 'washing',
                },
                {
                    id: 'size-6',
                    value: ['33D', '35D', '40D', '43D', '48D', '50D', '70E', '70L', '80E', '80S', '80X', '80Z', '90X', '90Z'],
                    text: '90',
                    num: '90',
                    type: 'washing',
                },
                {
                    id: 'size-7',
                    value: ['90K', 'Corner'],
                    text: 'УГЛОВОЙ ШКАФ',
                    svg: '<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                        '<path fill-rule="evenodd" clip-rule="evenodd" d="M11 24V0H0V24V35H11H35V24H11Z" fill="#575757"/>\n' +
                        '</svg>',
                    type: 'washing',
                },
            ],
            // washingForm: [
            //     {
            //         id: 'shell-1',
            //         value: 'shell-1',
            //         text: 'КРУГЛАЯ',
            //         img: '/img/quiz/shell-1.png',
            //         type: 'washing',
            //     },
            //     {
            //         id: 'shell-2',
            //         value: 'shell-2',
            //         text: 'КВАДРАТНАЯ',
            //         img: '/img/quiz/shell-2.png',
            //         type: 'washing',
            //     },
            //     {
            //         id: 'shell-3',
            //         value: 'shell-3',
            //         text: 'С КРЫЛОМ',
            //         img: '/img/quiz/shell-3.png',
            //         type: 'washing',
            //     },
            //     {
            //         id: 'shell-4',
            //         value: 'shell-4',
            //         text: 'КОМБИНАЦИЯ ЧАШ',
            //         img: '/img/quiz/shell-4.png',
            //         type: 'washing',
            //     },
            // ],
            installationType: [
                {
                    id: 'installation-1',
                    text: 'Врезной',
                    value: ['inset'],
                    type: 'washing',
                    desc: 'Самый простой способ монтажа, который подходит для столешниц из любого материала. Установку сможет произвести даже неподготовленный человек. Обратите внимание на модели с плоским кантом IF, при врезном монтаже они смотрятся, как установленные в один уровень со столешницей.',
                    img: '/img/quiz/installation-1_new.jpg',
                },
                {
                    id: 'installation-2',
                    text: 'Подстольный',
                    value: ['undermount'],
                    type: 'washing',
                    desc: 'Размещение чаши под столешницей позволяет наиболее полно использовать рабочую поверхность. Этот вид монтажа подходит только для влагостойких столешниц, например, из камня или стекла. Выполнение выреза в столешнице и вклейка мойки требуют профессионального оборудования и навыков монтажа.',
                    img: '/img/quiz/installation-2_new.jpg',
                },
                {
                    id: 'installation-3',
                    text: 'В один уровень',
                    value: ['flushmount', 'insetflushmount'],
                    type: 'washing',
                    desc: 'Кант мойки не возвышается над столешницей, это увеличивает рабочее пространство, гигиенично и удобно при уборке на кухне. Этот вид монтажа подходит только для однородных по всей толщине столешниц и требует профессионального оборудования и навыков монтажа.',
                    img: '/img/quiz/installation-3_new.jpg',
                },
                {
                    id: 'installation-4',
                    text: 'Фронтальный',
                    value: ['inset', 'insetflushmount'],
                    type: 'washing',
                    desc: 'Эффектные и очень вместительные чаши. Способ крепления к столешнице зависит от конкретной модели, но для всего ассортимента требуются фасады меньшей высоты и предварительное планирование. Выполнение выреза в столешнице и вклейка мойки требуют профессионального оборудования и навыков монтажа.',
                    img: '/img/quiz/installation-4_new.jpg',
                },
            ],
            materialType: [
                {
                    id: 'material-1',
                    text: 'Нержавеющая сталь',
                    value: ['StainlessSteel'],
                    type: 'washing',
                    desc: 'Классический материал для использования на кухне, гигиеничный и легкий в уходе. BLANCO предлагает несколько видов поверхностей от привычной матовой стали до эксклюзивных Durinox и DarkSteel. В ассортименте представлены модели во всех ценовых диапазонах для кухонь во всех стилях.',
                    img: '/img/quiz/material-1_new.jpg',
                },
                {
                    id: 'material-2',
                    text: 'SILGRANIT',
                    value: ['Silgranite'],
                    type: 'washing',
                    desc: 'Запатентованный материал BLANCO SILGRANIT прекрасно зарекомендовал себя на кухнях по всему миру, он прочен, устойчив к высоким температурам и бытовым кислотам и не меняет цвет. Визуально и тактильно материал напоминает натуральный камень. На выбор представлена широкая палитра актуальных цветов.',
                    img: '/img/quiz/material-2_new.jpg',
                },
                {
                    id: 'material-3',
                    text: 'Керамика',
                    value: ['Ceramics'],
                    type: 'washing',
                    desc: 'Натуральный и экологичный материал прекрасно показывает себя на кухне. Массивные чаши из керамики устойчивы к ударам, жаропрочны, легки в уходе и выглядят совершенно потрясающе. Природный материал отличают более мягкие контуры и глубокие полностью однотонные цвета.',
                    img: '/img/quiz/material-3_new.jpg',
                },
            ],
            hasFilteredWater: [
                {
                    id: 'filter-1',
                    text: 'Да',
                    img: '/img/quiz/filter-1_new.jpg',
                    type: 'mixer',
                    value: true,
                    desc: 'При установке смесителя с двумя изливами для фильтрованной и простой воды нет необходимости во втором кране и, соответственно, в дополнительном отверстии для него. Рабочее место выглядит более опрятным.',
                },
                {
                    id: 'filter-2',
                    text: 'Нет',
                    img: '/img/quiz/filter-2_new.jpg',
                    type: 'mixer',
                    value: false,
                    desc: 'Вы уверены в качестве воды или используете другие системы фильтрации.',
                },
            ],
            heightType: [
                {
                    id: 'height-1',
                    text: 'Высокий излив',
                    value: ['HighSpout'],
                    type: 'mixer',
                    // desc: 'подсказка',
                    img: '/img/quiz/height-1_new.png',
                },
                {
                    id: 'height-2',
                    text: 'Низкий излив',
                    value: ['LowSpout'],
                    type: 'mixer',
                    // desc: 'подсказка',
                    img: '/img/quiz/height-2_new.png',
                },
            ],
            color: [
                {
                    id: 'color-1',
                    text: 'Цвет SILGRANIT',
                    value: [2, 3],
                    type: 'mixer',
                    img: '/img/quiz/color-1_new.png',
                },
                {
                    id: 'color-2',
                    text: 'Металлическая поверхность',
                    value: [1, 13, 21, 18, 19, 25, 26, 22, 24, 27],
                    type: 'mixer',
                    // desc: 'хром или нержавеющая сталь',
                    img: '/img/quiz/color-2_new.png',
                },
                {
                    id: 'color-3',
                    text: 'Полированная латунь',
                    value: [28],
                    type: 'mixer',
                    img: '/img/quiz/color-3_new.png',
                },
                {
                    id: 'color-4',
                    text: 'Черный матовый',
                    value: [20],
                    type: 'mixer',
                    img: '/img/quiz/color-4_new.png',
                },
            ],
            functions: [
                {
                    id: 'functions-1',
                    text: 'Выдвижной излив',
                    value: ['hasPulloutSpout'],
                    type: 'hasPulloutSpout',
                    desc: 'Функция удобна, если вода нужна за пределами мойки или при мытье габаритной посуды. Выдвижной излив облегчает уход за широкими мойками и чашами и рекомендуется для всех моделей в шкафы шире 60 см.',
                    img: '/img/quiz/functions-1_new.jpg',
                },
                {
                    id: 'functions-2',
                    text: 'Душ',
                    value: ['hasShowerMode'],
                    type: 'hasShowerMode',
                    desc: 'Мягкий и широкий вариант подачи воды удобен для промывания многих видов продуктов, от нежных ягод и зелени до крупных дынь и арбузов, способных из-за габаритов и формы обрызгать при мытье все вокруг.',
                    img: '/img/quiz/functions-2_new.jpg',
                },
                {
                    id: 'functions-3',
                    text: 'У окна',
                    value: ['hasWindowInstallation'],
                    type: 'hasWindowInstallation',
                    desc: 'Модный дизайнерский ход позволяет сделать работу за мойкой еще более медитативной и по максимуму использовать естественное освещение. Специальные модели смесителей с разными вариантами складывания не мешают открывать окно.',
                    img: '/img/quiz/functions-3_new.jpg',
                },
                {
                    id: 'functions-4',
                    text: 'Сенсор',
                    value: ['hasTouchActivation'],
                    type: 'hasTouchActivation',
                    desc: 'Современная сенсорная технология поможет включить и выключить смеситель, не касаясь рычага управления.  Требуется подключение к электричеству.',
                    img: '/img/quiz/functions-4_new.jpg',
                },
                {
                    id: 'functions-5',
                    text: 'Объем',
                    value: ['hasWaterMeasurement'],
                    type: 'hasWaterMeasurement',
                    desc: 'Функция мерного стакана удобна в кулинарии или при уходе за детьми. Выбрать необходимый объем или отключить функцию можно поворотом круговой шкалы. Для всех значений объема подобран оптимальный напор воды для скорейшего наполнения без разбрызгивания.',
                    img: '/img/quiz/functions-5_new.jpg',
                },
            ],
            facadeType: [
                {
                    id: 'facade-1',
                    text: 'Выдвижной',
                    img: '/img/quiz/facade-1_new.jpg',
                    value: ['Retractable'],
                    type: 'garbage',
                },
                {
                    id: 'facade-2',
                    text: 'Распашной',
                    img: '/img/quiz/facade-2_new.jpg',
                    value: ['Hinged'],
                    type: 'garbage',
                },
            ],
            containersCount: [
                {
                    id: 'containers-1',
                    text: 'Один',
                    img: '/img/quiz/containers-1_new.jpg',
                    value: [1],
                    type: 'garbage',
                    desc: 'Система с одним контейнером очень компактна и удобна, если в шкафу под мойкой размещено дополнительное оборудование, например фильтр или измельчитель отходов. BLANCO предлагает такие системы для шкафов с распашными дверцами.',
                },
                {
                    id: 'containers-2',
                    text: 'Больше',
                    img: '/img/quiz/containers-2_new.jpg',
                    value: [2, 3, 4],
                    type: 'garbage',
                    desc: 'Система с несколькими контейнерами подойдет для раздельного сбора мусора. Также такая система позволит более рационально использовать пространство шкафа под мойкой, так как некоторые контейнеры можно использовать для хранения овощей или бытовой химии.',
                },
            ],
            // garbage: [
            //     {
            //         id: 'garbage-1',
            //         text: 'Да',
            //         img: '/img/quiz/garbage-1_new.jpg',
            //         value: true,
            //     },
            //     {
            //         id: 'garbage-2',
            //         text: 'Нет',
            //         img: '/img/quiz/garbage-2_new.jpg',
            //         value: false,
            //     },
            // ],
        },
    }),

    fetchOnServer: false,
    async fetch() {
        // сбросим прошлые результаты
        this.bowls = [];
        this.resultBowl = null;
        this.mixers = [];
        this.resultMixer = null;
        this.garbageSystems = [];
        this.resultGarbageSystem = null;

        // сначала сконцентрируемся на мойках, запросим у сервера подходящие мойки,
        // затем проверим выборку с артикулами из getCompatibility(),
        // и только потом по артикулам забираем смесители, и на фронте фильтруем подходящие по ttcMixer, потому что запрос идет на /products
        // мусорные системы получаем все, их не много, затем фильтруем на фронте

        // МОЙКИ
        const bowlsQuery = {
            // все параметры лучше отправлять в виде массива (потому что enumeration), потому что на бэке используется whereIn
            // булевые (hasWing, hasDispenser, hasAutomaticValve) передаем в виде 0 или 1
            ttcBowl: {
                sizeCupboard: {
                    size: this.forms.sizeCupboard || ['34D', '40E', '45E', '50E', '50F', '50S', '50Z', '55E', '60C', '60L', '60S', '60X', '60Z'], // по умолчанию 60,
                },
                installationType: this.forms.installationType || ['undermount'], // по умолчанию UnderTable (оно же undermount),
                materialType: this.forms.materialType || ['Silgranite'], // по умолчанию Silgranite,
            },
            price_gte: this.compatibilityPrices.bowlPrice[this.forms.price || 0][0],
            price_lt: this.compatibilityPrices.bowlPrice[this.forms.price || 0][1],
            _limit: -1,
            _publicationState: 'live',
        };

        // для силгранита выбираем темные цвета, если значение фильтра не выбрано по умолчанию используем SILGRANIT
        if (this.forms.materialType === null || this.forms.materialType.includes('Silgranite')) {
            bowlsQuery.color = [
                2, // SILGRANIT - черный
                3, // SILGRANIT - антрацит
            ];
        }

        // для керамики выбираем черный и белый
        if (this.forms.materialType && this.forms.materialType.includes('Ceramics')) {
            bowlsQuery.color = [
                14, // Керамика - глянцевый белый
                15, // Керамика - глянцевый магнолия
                16, // Керамика - базальт
                17, // Керамика - черный
            ];
        }

        this.bowls = await this.$axios.$get(`/products/find-extra?${qs.stringify(bowlsQuery)}`);
        const bowlArticles = Object.keys(this.compatibilityXLSX).map(Number);
        this.bowls = this.bowls.filter(o => bowlArticles.includes(o.vendorCode));
        this.bowls = _sortBy(this.bowls, [o => o.category.id]).reverse(); // чаши приоритет
        this.resultBowl = this.bowls[0];

        // если есть мойка, то можно собирать комплект добавляя мойку и мусорку
        if (this.resultBowl) {
            // СМЕСИТЕЛИ
            const probabilities = this.compatibilityXLSX[this.resultBowl.vendorCode];

            const mixersQuery = {
                category: 3,
                vendorCode_in: [...probabilities[1], ...probabilities[0.8]], // сразу подключаем результаты 0.8 вероятности, потому что там часто FONTAS II
                price_gte: this.compatibilityPrices.mixerPrice[this.forms.price || 0][0],
                price_lt: this.compatibilityPrices.mixerPrice[this.forms.price || 0][1],
                _limit: -1,
                _publicationState: 'live',
                _sort: 'color:ASC',
            };

            if (this.forms.color) {
                mixersQuery.color = this.forms.color;

                // if (this.forms.price === 0) {
                //     mixersQuery.segment = ['better'];
                // }
            } else {
                // для силгранита выбираем темные цвета, если значение фильтра не выбрано по умолчанию используем SILGRANIT
                if (this.forms.materialType === null || this.forms.materialType.includes('Silgranite')) {
                    mixersQuery.color = [
                        2, // SILGRANIT - черный
                        3, // SILGRANIT - антрацит
                        20, // Смесители - черный матовый
                    ];

                    if (this.forms.price === 0) {
                        mixersQuery.segment = ['better'];
                    }
                }

                // для нержавейки у мойки выбираем нержавейку смесителя
                if (this.forms.materialType && this.forms.materialType.includes('StainlessSteel')) {
                    mixersQuery.color = [
                        26, // Нержавеющая сталь - матовая
                        22, // Нержавеющая сталь - полированная
                        1, // Смесители - хром
                        21, // Смесители - сталь UltraResist, PVD Steel
                        13, // Смесители - нержавеющая сталь
                    ];
                }
            }

            this.mixers = await this.$axios.$get(`/products?${qs.stringify(mixersQuery, { indices: false })}`);

            if (this.forms.hasFilteredWater === false) {
                this.mixers = this.mixers.filter(o => o.ttcMixer.hasFilteredWater === this.forms.hasFilteredWater);
            } else {
                this.mixers = this.mixers.filter(o => o.ttcMixer.hasFilteredWater === true); // по умолчанию true
            }

            if (this.forms.heightType) {
                this.mixers = this.mixers.filter(o => this.forms.heightType.includes(o.ttcMixer.heightType));
            }
            if (this.forms.functions) {
                this.mixers = this.mixers.filter(o => o.ttcMixer[this.forms.functions] === true);
            }
            this.resultMixer = this.mixers[0];

            // если ответы на мусорные системы не даны, то пропустим подбор мусорки
            if ((this.forms.facadeType === null || this.forms.facadeType === '') &&
                (this.forms.containersCount === null || this.forms.containersCount === '')) {
                return;
            }

            // МУСОРКИ
            const garbageSystemsQuery = {
                category: 4,
                ttcGarbageSystem: {},
                _limit: -1,
                _publicationState: 'live',
            };

            if (this.forms.facadeType) {
                garbageSystemsQuery.ttcGarbageSystem.facadeType = this.forms.facadeType; // Hinged | Retractable
            }

            if (this.forms.containersCount) {
                garbageSystemsQuery.ttcGarbageSystem.containersCount = this.forms.containersCount;
            }

            this.garbageSystems = await this.$axios.$get(`/products/find-extra?${qs.stringify(garbageSystemsQuery)}`);
            const tempGarbageCompatibility = {
                Corner: '45C',
                '16E': '45C',
                '18E': '45C',
                '32E': '45C',
                '34D': '45C',
                '33D': '45C',
                '34E': '45C',
                '35D': '45C',
                '37E': '45C',
                '40D': '45C',
                '40E': '45C',
                '40S': '45C',
                '43D': '45C',
                '45C': '45C',
                '45E': '45C',
                '45M': '45C',
                '45S': '45C',
                '45Z': '45C',
                '48D': '45C',
                '50D': '45C',
                '50E': '45C',
                '50F': '45C',
                '50S': '45C',
                '50Z': '45C',
                '55E': '45C',
                '60C': '60C',
                '60L': '60C',
                '60S': '60C',
                '60X': '60C',
                '60Z': '60C',
                '70E': '60C',
                '70L': '60C',
                '80E': '60C',
                '80S': '60C',
                '80X': '60C',
                '80Z': '60C',
                '90K': '90K',
                '90X': '90K',
                '90Z': '90K',
            };
            this.garbageSystems = this.garbageSystems.filter(o => {
                return o.ttcGarbageSystem.sizeCupboard.size === tempGarbageCompatibility[this.resultBowl.ttcBowl.sizeCupboard.size];
            });

            this.resultGarbageSystem = this.garbageSystems[0];
        }
    },

    computed: {
        ...mapGetters('cart', [
            'getCartObj',
            'getCartObjFilter',
        ]),
    },

    // watch: {
    //     forms: {
    //         deep: true,
    //         handler: function forms() {
    //             this.$fetch();
    //         },
    //     },
    // },

    mounted() {
        // Сбрасываем все фильтры из конфигуратора
        this.resetAllFilters();
    },

    methods: {
        ...mapMutations('cart', [
            'setCartFilterByType',
            'setCartSelectedFilter',
            'setCartItemsByType',
            'setSelectedStyleKitchen',
            'setActiveItem',
            'setSelectedSizeCupboard',
            'setSelectedTypeCupboard',
            'removeCartItem',
            'setCartCanvasImgByItem',
        ]),
        uncheck(val, item) {
            this.forms[val] = null;
            this.resetFilterState(val, item);
        },
        toggleMenu() {
            this.showMenu = !this.showMenu;
        },
        setFilterState(key, item) {
            let type = item.type;
            let value = item.value;
            let keyType = key;
            if (key === 'garbage') {
                return;
            }
            if (key === 'price') {
                type = 'mixer';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key: keyType,
                    value,
                });
                type = 'washing';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key: keyType,
                    value,
                });
                return;
            }
            if (key === 'color' || key === 'installationType') {
                if (value.length > 1) {
                    return;
                };
            }
            if (key === 'style') {
                this.setSelectedStyleKitchen(item.folder);
                return;
            }
            if (key === 'functions') {
                type = 'mixer';
                keyType = item.type;
                value = '1';
            }
            if (key === 'containersCount') {
                return;
            }
            if (key === 'hasFilteredWater' && item.value) {
                value = true;
            } else if (key === 'hasFilteredWater' && !item.value) {
                value = false;
            }
            this.setCartSelectedFilter({
                type,
                result: true,
            });
            this.setCartFilterByType({
                type,
                key: keyType,
                value,
            });
        },
        resetFilterState(key, item) {
            let type = item.type;
            const value = null;
            let keyType = key;

            if (key === 'garbage') {
                return;
            }
            if (key === 'price') {
                type = 'mixer';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key: keyType,
                    value,
                });
                type = 'washing';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key: keyType,
                    value,
                });
                return;
            }
            if (key === 'style') {
                this.setSelectedStyleKitchen('classic');
                return;
            }
            if (key === 'functions') {
                type = 'mixer';
                keyType = item.type;
            }
            this.setCartSelectedFilter({
                type,
                result: true,
            });
            this.setCartFilterByType({
                type,
                key: keyType,
                value,
            });
        },
        skipFilterState(key) {
            let type = '';
            const value = null;
            let keyType = key;

            if (key === 'style') {
                this.setSelectedStyleKitchen('classic');
                return;
            }
            if (key === 'price') {
                type = 'mixer';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key: keyType,
                    value,
                });
                type = 'washing';
                this.setCartSelectedFilter({
                    type,
                    result: true,
                });
                this.setCartFilterByType({
                    type,
                    key: keyType,
                    value,
                });
                return;
            }

            if (key === 'sizeCupboard') {
                type = 'washing';
            }
            if (key === 'installationType') {
                type = 'washing';
            }
            if (key === 'materialType') {
                type = 'washing';
            }
            if (key === 'hasFilteredWater') {
                type = 'mixer';
            }
            if (key === 'heightType') {
                type = 'mixer';
            }
            if (key === 'color') {
                type = 'mixer';
            }
            if (key === 'functions') {
                type = 'mixer'; // функции
                const keys = ['hasPulloutSpout', 'hasShowerMode', 'hasWindowInstallation', 'hasTouchActivation', 'hasWaterMeasurement'];
                keys.forEach(item => {
                    keyType = item;

                    this.setCartSelectedFilter({
                        type,
                        result: false,
                    });
                    this.setCartFilterByType({
                        type,
                        key: keyType,
                        value,
                    });
                });

                return;
            }
            if (key === 'facadeType') {
                type = 'garbage';
            }
            if (key === 'containersCount') {
                type = 'garbage';
            }

            this.setCartSelectedFilter({
                type,
                result: true,
            });
            this.setCartFilterByType({
                type,
                key: keyType,
                value,
            });
        },
        nextQuiz(validate) {
            if (validate) {
                const screenType = this.quizList[this.currentQuiz - 1];
                const screenValue = this.forms[screenType];
                if (screenValue) {
                    this.currentQuiz = this.currentQuiz === this.quizList.length ? this.currentQuiz : this.currentQuiz + 1;
                }
            } else {
                this.currentQuiz = this.currentQuiz === this.quizList.length ? this.currentQuiz : this.currentQuiz + 1;
            }
        },
        skipQuestion() {
            const formItem = this.quizList[this.currentQuiz - 1];
            this.forms[formItem] = null;
            this.skipFilterState(formItem);
            if (this.currentQuiz === this.quizList.length) {
                this.createUnit();
            } else {
                this.nextQuiz(false);
            }
        },
        prevQuiz() {
            this.currentQuiz = this.currentQuiz === 1 ? this.currentQuiz : this.currentQuiz - 1;
        },
        async createUnit() {
            this.showPreloader = true;
            await this.$fetch();
            this.getCartObj.forEach((item, i) => {
                if (i > 0) {
                    this.removeCartItem(i);
                } else {
                    this.setCartItemsByType({
                        result: null,
                        type: 'washing',
                    });
                    this.setCartItemsByType({
                        result: null,
                        type: 'mixer',
                    });
                    this.setCartItemsByType({
                        result: null,
                        type: 'garbage',
                    });
                    this.setCartItemsByType({
                        result: null,
                        type: 'accessories',
                    });

                    // Убираем изображения мойки и крана
                    this.setCartCanvasImgByItem({
                        type: 'washing',
                        value: null,
                    });
                    this.setCartCanvasImgByItem({
                        type: 'washing' + 'Coordinates',
                        value: [0, 0],
                    });
                    this.setCartCanvasImgByItem({
                        type: 'mixer',
                        value: null,
                    });
                    this.setCartCanvasImgByItem({
                        type: 'mixer' + 'Coordinates',
                        value: [0, 0],
                    });
                    this.setCartCanvasImgByItem({
                        type: 'garbage',
                        value: null,
                    });
                    this.setCartCanvasImgByItem({
                        type: 'garbage' + 'Coordinates',
                        value: [0, 0],
                    });
                }
            });
            this.setActiveItem(0);
            this.setCartItemsByType({
                result: this.resultBowl,
                type: 'washing',
            });
            this.setCartItemsByType({
                result: this.resultMixer,
                type: 'mixer',
            });
            this.setCartItemsByType({
                result: this.resultGarbageSystem,
                type: 'garbage',
            });

            this.setCartCanvasImgByItem({
                type: 'wall',
                value: '/img/configurator/wall/10_Beliy.png',
                wallFileName: '10_Beliy',
            });

            this.setCartCanvasImgByItem({
                type: 'tabletop',
                value: '/img/configurator/tabletop/01_Svetloe_Derevo.png',
                tabletopFileName: '01_Svetloe_Derevo',
            });

            let style = 'Classic'; // по умолчанию Classic

            if (this.forms.style) {
                style = this.forms.style[0];
            }

            if (this.resultGarbageSystem) {
                const size = this.resultGarbageSystem.ttcGarbageSystem.sizeCupboard.size.substr(0, 2);
                let type = this.resultGarbageSystem.ttcGarbageSystem.facadeType;

                if (type === 'Retractable') {
                    type = 'retractable';
                } else if (type === 'Hinged') {
                    type = 'opened';
                }

                this.setSelectedSizeCupboard(size);
                this.setSelectedTypeCupboard(type);

                this.setCartCanvasImgByItem({
                    type: 'facade',
                    value: '/img/configurator/facade/' + style + '/' + size + '/color-white/' + type + '.png',
                    facadeFileName: style + '/' + size + '/color-white/' + type + '',
                    facadeType: type,
                    facadeSize: size,
                });

                this.setCartCanvasImgByItem({
                    type: 'facadeDoor',
                    value: '/img/configurator/facade/' + style + '/' + size + '/color-white/retractable-door.png',
                    facadeDoorFileName: style + '/' + size + '/color-white/default',
                });
            } else {
                this.setSelectedSizeCupboard('45');
                this.setSelectedTypeCupboard('default');

                this.setCartCanvasImgByItem({
                    type: 'facade',
                    value: '/img/configurator/facade/classic/45/color-white/default.png',
                    facadeFileName: style + '/45/color-white/default',
                    facadeType: 'default',
                    facadeSize: 45,
                });
            }

            this.$router.push('/config');
        },
        resetAllFilters() {
            const initial = {
                washing: {
                    price: 'none',
                    color: 'none',
                    sizeCupboard: 'none',
                    washingForm: 'none',
                    bowlType: 'none',
                    installationType: 'none',
                    hasDispenser: 'none',
                    hasAutomaticValve: 'none',
                    hasWing: 'none',
                },
                mixer: {
                    color: 'none',
                    heightType: 'none',
                    hasFilteredWater: 'none',
                    hasPulloutSpout: 'none',
                    hasFlexibleSpout: 'none',
                    hasRemovableHose: 'none',
                    hasShowerMode: 'none',
                    hasWindowInstallation: 'none',
                    hasTouchActivation: 'none',
                    hasWaterMeasurement: 'none',
                },
                garbage: {
                    facadeType: 'none',
                    containersCount: 'none',
                },
                accessories: {
                    category: 'none',
                },
            };

            this.setCartSelectedFilter({
                type: 'washing',
                result: false,
                initial: initial.washing,
            });
            this.setCartSelectedFilter({
                type: 'mixer',
                result: false,
                initial: initial.mixer,
            });
            this.setCartSelectedFilter({
                type: 'garbage',
                result: false,
                initial: initial.garbage,
            });
            this.setCartSelectedFilter({
                type: 'accessories',
                result: false,
                initial: initial.accessories,
            });
        },
        skipQuiz() {
            this.resetAllFilters();
            this.createUnit();
        },
    },
};
</script>

<style lang="scss">
@import 'assets/scss/mixins';

.home-enter-active,
.home-leave-active {
    transition: opacity 0s;
}

.home-enter,
.home-leave-active {
    opacity: 0;
}

.preloader {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);

    &.active {
        display: flex;
    }

    svg {
        display: inline-block;
        vertical-align: top;
    }
}

.page-quiz {
    background: #f2f2f2;

    img {
        max-width: 100%;
    }

    .content {
        width: 100%;
        max-width: 1220px;
        min-height: calc(100vh - 84px);
        padding: 35px 70px 0;
        margin: 0 auto;

        @include mq(767) {
            padding: 35px 28px 0;
        }

        p {
            font-size: 16px;
            line-height: 1.2;
            color: #575757;

            @include mq(767) {
                font-size: 14px;
            }
        }

        h2 {
            font-size: 30px;
            line-height: 1.2;
            font-weight: 300;
            color: #575757;

            @include mq(767) {
                font-size: 24px;
            }

            + p {
                margin-top: 17px;
            }
        }

        h4 {
            display: none;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: #339;
            margin-bottom: 40px;

            sup {
                position: absolute;
                top: -3px;
                font-size: 12px;
                margin-left: 3px;
            }

            @include mq(767) {
                display: block;
            }
        }

        .btn-group {
            padding-bottom: 20px;

            @include mq(767) {
                justify-content: space-between;

                .btn {
                    width: 100%;
                    min-width: inherit;
                    margin-top: 20px;
                }

                > .btn {
                    width: 46%;

                    &:last-child {
                        width: 100%;
                    }
                }
            }

            > *:not(:first-child) {
                margin-left: 25px;

                @include mq(767) {
                    margin-left: 0;
                }
            }
        }
    }
}

.quiz {
    &-container {
        position: relative;
        display: block;
        margin-bottom: 35px;
    }

    &-block {
        //position: absolute;
        width: 100%;

        &-inner {
            display: grid;
        }

        &-title {
            margin-bottom: 40px;
        }

        &--2 {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 55px;

            @include mq(1099) {
                column-gap: 40px;
                row-gap: 40px;
            }

            @include mq(767) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &--5,
        &--4,
        &--3 {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            row-gap: 30px;

            @include mq(1099) {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 40px;
                row-gap: 40px;
            }

            @include mq(767) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &--7 {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 22px;
            row-gap: 60px;

            @include mq(1099) {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 20px;
            }

            @include mq(767) {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 20px;
            }
        }
    }

    &-radio-item {
        position: relative;
        display: flex;
        min-height: 168px;
        padding: 0 25px 25px;
        cursor: pointer;
        overflow: hidden;

        @include mq(1099) {
            min-height: 102px;
            padding: 0 18px 15px;
        }

        .quiz-block--7 & {
            align-items: flex-end;

            @include mq(767) {
                height: auto;
                padding-top: 40px;
            }
        }

        label {
            display: flex;
            flex-direction: column;
            width: 100%;
            cursor: pointer;

            .quiz-block--7 & {
                text-align: left;
            }

            &::after {
                content: '';
                position: absolute;
                top: 90px;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                min-height: 150px;
                background-color: #fff;
                transform: translateY(0);
                transition: background-color 0.25s $easeInOutCirc, transform 0.25s $easeInOutCirc;

                .quiz-block--7 & {
                    height: 80px;

                    @include mq(767) {
                        height: 100%;
                    }
                }
            }

            img {
                max-height: 250px;
                opacity: 0;
                object-fit: contain;

                &.is-active {
                    opacity: 1;
                    transition: opacity 0.25s $easeInOutCirc;
                }
            }

            svg,
            img,
            span {
                position: relative;
                z-index: 9;
                text-align: left;
                transition: color 0.25s;
            }

            svg path {
                transition: fill 0.25s;
            }
        }

        .checked {
            position: absolute;
            z-index: 9;
            bottom: 21px;
            right: 25px;
            display: flex;
            opacity: 0;
            transition: opacity 0.25s $easeInOutCirc;

            > img {
                opacity: 1;
            }

            @include mq(1099) {
                bottom: 16px;
            }

            @include mq(767) {
                top: 20px;
                bottom: auto;
                right: 0;
            }

            .quiz-block--7 & {
                @include mq(767) {
                    top: -7px;
                    bottom: auto;
                    right: 0;
                }
            }
        }

        &:hover {
            svg path {
                fill: #fff;
            }

            label::after {
                background-color: #339;
                transform: translateY(-70px);

                @include mq(767) {
                    background-color: #fff;
                    transform: translateY(0);
                }
            }
        }

        .quiz-block--7 &:hover {
            ::after {
                height: 168px;

                @include mq(1099) {
                    height: 120px;
                }

                @include mq(767) {
                    height: 80px;
                }
            }
        }

        & input:checked + label {
            svg path {
                fill: #fff;
            }

            &::after {
                background-color: #339;

                .quiz-block--7 & {
                    height: 100%;
                    transform: translateY(-70px);

                    @include mq(1099) {
                        height: 120px;
                    }

                    @include mq(767) {
                        height: 100%;
                    }
                }
            }

            .checked {
                opacity: 1;
            }
        }
    }

    &-radio-text {
        position: static !important;
        display: block;
        max-width: 80%;
        padding-top: 25px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #575757;
        transition: color 0.25s $easeInOutCirc;

        @include mq(767) {
            position: relative !important;
            max-width: 100%;
        }

        > div {
            position: relative;
            z-index: 2;
        }

        .quiz-radio-item:hover & {
            color: #fff;

            @include mq(767) {
                color: #575757;
            }
        }

        .quiz-radio-item input:checked + label & {
            color: #fff;
        }
    }

    &-radio-desc {
        display: block;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
        color: #575757;
        transition: color 0.25s $easeInOutCirc;
        margin-top: 15px;

        .quiz-radio-item:hover & {
            color: #fff;

            @include mq(767) {
                color: #575757;
            }
        }

        .quiz-radio-item input:checked + label & {
            color: #fff;
        }
    }

    &-radio-num {
        font-size: 100px;
        line-height: 0.7;
        font-weight: 500;
        color: #575757;

        @include mq(1099) {
            font-size: 72px;
        }

        i {
            font-size: 16px;
            font-style: normal;
            margin-left: 8px;

            @include mq(1099) {
                margin-left: 0;
            }
        }

        .quiz-radio-item:hover & {
            color: #fff;

            @include mq(767) {
                color: #575757;
            }
        }

        .quiz-radio-item input:checked + label & {
            color: #fff;
        }
    }
}
</style>
