<template>
    <div class="page-order">
        <app-menu :clicked="toggleMenu" :show-menu="showMenu" />
        <header class="header">
            <div class="header-burger" @click="showMenu = !showMenu">
                <img src="/img/icons/burger.svg" alt="BLANCO UNIT" />
            </div>
            <NuxtLink class="back-link" to="/">
                <img src="/img/icons/arrow.svg" alt="" />
            </NuxtLink>
            <div class="header-title">ОФОРМЛЕНИЕ ЗАКАЗА</div>
            <NuxtLink to="/" class="header-logo">
                <img src="/img/logo.svg" alt="BLANCO UNIT" />
            </NuxtLink>
        </header>
        <div class="billet">
            <h2>СПАСИБО!</h2>
            <p>Ваш заказ успешно оформлен.</p>
            <NuxtLink to="/config">
                <app-button class-name="btn--secondary">
                    {{ adaptive ? 'Перейти к&nbsp;конфигуратору' : 'Перейти к конфигуратору BLANCO UNIT' }}
                </app-button>
            </NuxtLink>
        </div>
    </div>
</template>

<script>
import Button from '@/components/Button';
import Menu from '@/components/Menu';

export default {
    components: {
        AppButton: Button,
        AppMenu: Menu,
    },
    data: () => ({
        showMenu: false,
        adaptive: false,
    }),

    mounted() {
        this.$nextTick(function () {
            this.onResize();
        });
        window.addEventListener('resize', this.onResize);
    },

    methods: {
        toggleMenu() {
            this.showMenu = !this.showMenu;
        },
        onResize() {
            if (window.innerWidth > 600) {
                this.adaptive = false;
            } else {
                this.adaptive = true;
            }
        },
    },
};
</script>

<style lang="scss">
@import '/assets/scss/mixins';

.page-order {
    background: #f7f7f7;

    .billet {
        width: 568px;
        padding: 70px 80px;
        text-align: center;
        color: #575757;
        background-color: #fff;
        margin: 20vh auto 0;

        @include mq(767) {
            width: calc(100% - 60px);
            padding: 40px 20px;
            margin: 20vh auto 0;
        }

        h2 {
            font-size: 36px;
            line-height: 44px;
            font-weight: 700;
            margin-bottom: 11px;
        }

        p {
            font-size: 14px;
            line-height: 25px;
            color: #3c3c3c;
            margin-bottom: 30px;
        }

        .btn {
            width: 100%;
        }
    }
}

</style>
