<template>
    <div class="page-card">
        <app-menu :clicked="toggleMenu" :show-menu="showMenu" />
        <header class="header">
            <div class="header-burger" @click="showMenu = !showMenu">
                <img src="/img/icons/burger.svg" alt="BLANCO UNIT" />
            </div>
            <NuxtLink class="back-link" to="/">
                <img src="/img/icons/arrow.svg" alt="" />
            </NuxtLink>
            <div class="header-title">{{ get(product, 'category.name').toUpperCase() }}</div>
            <NuxtLink to="/" class="header-logo">
                <img src="/img/logo.svg" alt="BLANCO UNIT" />
            </NuxtLink>
        </header>
        <div class="content">
            <h4>{{ get(product, 'category.name').toUpperCase() }}</h4>
            <div class="row main-info">
                <div class="col col-md-6 col-xs-12">
                    <div class="main-image">
                        <img
                            :src="parseUrlPictures(product, 'picture.url') || '/img/no-image.svg'"
                            :alt="product.name"
                        />
                    </div>
                    <a
                        v-if="get(product, 'pdf.url')"
                        :href="parseUrlPictures(product, 'pdf.url')"
                        download
                        target="_blank"
                        class="link-ico link-ico--tab"
                    >
                        <img src="/img/icons/pdf.svg" alt="" />
                        <span>
                            Информация о товаре.pdf
                        </span>
                    </a>
                </div>
                <div class="col col-md-6 col-xs-12">
                    <h1>{{ product.name }}</h1>
                    <p v-if="get(product, 'color.name')">Цвет: <b>{{ get(product, 'color.name') }}</b></p>
                    <p>Артикул: <b>{{ product.vendorCode }}</b></p>
                    <div v-if="product.description" class="list" v-html="$md.render(product.description)" />
                    <a
                        v-if="get(product, 'pdf.url')"
                        :href="parseUrlPictures(product, 'pdf.url')"
                        download
                        target="_blank"
                        class="link-ico"
                    >
                        <img src="/img/icons/pdf.svg" alt="" />
                        <span>
                            Информация о товаре.pdf
                        </span>
                    </a>
                </div>
            </div>
            <div v-if="colors.length" class="main-color">
                <h2>Цвета</h2>
                <ul class="color-list">
                    <li
                        v-for="(item, index) in colors"
                        :key="index"
                        :class="{active: $route.params.id == item.vendorCode}"
                        @click="$router.push('/card/'+item.vendorCode)"
                    >
                        <img :src="parseUrlPictures(item, 'img')" alt="" />
                        <div>{{ item.name }}</div>
                    </li>
                </ul>
            </div>
            <div v-if="product.galleryPictures.length" class="main-slider">
                <div class="main-slider__left">
                    <swiper
                        ref="swiperMain"
                        class="swiper"
                        :options="swiperOptionComputed"
                        @slideChange="onMainChange"
                        @slideChangeTransitionEnd="clicked = false"
                    >
                        <swiper-slide
                            v-for="(item, index) in product.galleryPictures"
                            :key="index"
                            class="swiper-slide"
                        >
                            <img :src="parseUrlPictures(item, 'url')" alt="" />
                        </swiper-slide>
                        <div v-if="product.galleryPictures.length > 1" slot="pagination" class="swiper-pagination" />
                    </swiper>
                    <div
                        v-if="product.galleryPictures.length > 1"
                        slot="button-prev"
                        class="swiper-button-prev"
                        @click="prevSlide"
                    />
                    <div
                        v-if="product.galleryPictures.length > 1"
                        slot="button-next"
                        class="swiper-button-next"
                        @click="nextSlide"
                    />
                </div>
                <div ref="smooth" v-smoothscrollbar="{ options: defaultData }">
                    <div class="main-slider__right">
                        <div
                            v-for="(item, index) in product.galleryPictures"
                            :key="index"
                            :ref="'slide-'+index"
                            class="slide"
                            :class="{'slide-active': activeSlide === index}"
                            @click="() => clickedOnThumbSlide(index)"
                        >
                            <img :src="parseUrlPictures(item, 'url')" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-techs">
                <h2>Технические характеристики</h2>
                <ul v-if="product.ttcMixer" class="list-counter">
                    <li v-for="(item, index) in pureMixerKeys" :key="index">
                        <span>{{ technicalListKey[item] }}</span>
                        <span>
                            <img
                                v-if="isBoolean(product.ttcMixer[item]) && product.ttcMixer[item]"
                                src="/img/icons/true.svg"
                                alt=""
                            />
                            <i v-else>{{ parseCardValue(product.ttcMixer[item], technicalListValue) }}</i>
                        </span>
                    </li>
                </ul>
                <ul v-if="product.ttcGarbageSystem" class="list-counter">
                    <li v-for="(item, index) in pureGarbageKeys" :key="index">
                        <span>{{ technicalListKey[item] }}</span>
                        <span>
                            <img
                                v-if="isBoolean(product.ttcGarbageSystem[item]) && product.ttcGarbageSystem[item]"
                                src="/img/icons/true.svg"
                                alt=""
                            />
                            <i v-else>{{ parseCardValue(product.ttcGarbageSystem[item], technicalListValue) }}</i>
                        </span>
                    </li>
                </ul>
                <ul v-if="product.ttcBowl" class="list-counter">
                    <li v-for="(item, index) in pureBowlKeys" :key="index">
                        <span>{{ technicalListKey[item] }}</span>
                        <span>
                            <img
                                v-if="isBoolean(product.ttcBowl[item]) && product.ttcBowl[item]"
                                src="/img/icons/true.svg"
                                alt=""
                            />
                            <i v-else>{{ parseCardValue(product.ttcBowl[item], technicalListValue) }}</i>
                        </span>
                    </li>
                </ul>
            </div>
            <div v-if="product.dimensionPictures.length" class="main-size">
                <h2>Размеры</h2>
                <div class="main-size-inner">
                    <div v-for="(item, index) in product.dimensionPictures" :key="index">
                        <div class="image"><img class="img" :src="parseUrlPictures(item, 'url')" alt="" /></div>
                        <div class="main-size-title">{{ item.alternativeText }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import qs from 'qs';
import functions from '@/utils/functions';
import Menu from '@/components/Menu';

export default {
    components: {
        AppMenu: Menu,
        Swiper,
        SwiperSlide,
    },
    mixins: [functions],

    async asyncData({
        $axios,
        params,
        error,
    }) {
        try {
            const product = await $axios.$get(`/products/vendor-code/${params.id}?_publicationState=live`);

            const query = qs.stringify({
                category: product.category.id,
                name: product.name,
                _limit: -1,
                _publicationState: 'live',
            });
            const result = await $axios.$get(`/products?${query}`);

            const colors = [];
            result.forEach(item => {
                if (item.color) {
                    colors.push({
                        name: item.color.name,
                        img: item.color.picture.url,
                        id: item.id,
                        vendorCode: item.vendorCode,
                    });
                }
            });

            return {
                product,
                colors,
            };
        } catch (e) {
            error({
                statusCode: 404,
                message: 'Продукт не найден',
            });
        }
    },

    data: () => ({
        activeSlide: 0,
        showMenu: false,
        thumbOn: false,
        clicked: false,
        defaultData: {
            damping: 0.66,
            thumbMinSize: 40,
            renderByPixels: true,
            alwaysShowTracks: false,
            continuousScrolling: true,
        },
        mixerKeys: [
            'heightType',
            'hasFilteredWater',
            'hasPulloutSpout',
            'hasFlexibleSpout',
            'hasRemovableHose',
            'hasShowerMode',
            'hasWindowInstallation',
            'hasTouchActivation',
            'hasWaterMeasurement',
        ],
        // garbageKeys: ['facadeType', 'containersCount', 'depthBowl'],
        garbageKeys: ['facadeType', 'containersCount'],
        bowlKeys: [
            'materialType',
            'sizeCupboard',
            'washingForm',
            'bowlType',
            'installationType',
            'hasWing',
            'hasDispenser',
            'hasAutomaticValve',
        ],
        technicalListKey: {
            heightType: 'Высота',
            hasFilteredWater: 'Фильтрованная вода для смесителя. Есть ли возмжность подключить фильтрованную воду?',
            hasPulloutSpout: 'Выдвижной излив',
            hasFlexibleSpout: 'Гибкий излив',
            hasRemovableHose: 'Съемный шланг',
            hasShowerMode: 'Режим «душ»',
            hasWindowInstallation: 'Установка у окна',
            hasTouchActivation: 'Сенсорное включение (премиум)',
            hasWaterMeasurement: 'Измерение объема воды (премиум)',
            materialType: 'Материал мойки',
            sizeCupboard: 'Размер шкафа',
            washingForm: 'Форма мойки',
            bowlType: 'Тип чаш',
            installationType: 'Вид монтажа',
            hasWing: 'Имеется ли крыло?',
            hasDispenser: 'Можно ли установить дозатор?',
            hasAutomaticValve: 'Клапан автомат',
            facadeType: 'Тип фасада',
            containersCount: 'Количество контейнеров',
            // depthBowl: 'Глубина чаши, мм',
        },
        technicalListValue: {
            HighSpout: 'Высокий излив',
            LowSpout: 'Низкий излив',
            Silgranite: 'Silgranit',
            Ceramics: 'Керамика',
            StainlessSteel: 'Нержавеющая сталь',
            Rectangular: 'Прямоугольная мойка',
            Round: 'Круглая мойка',
            One: 'Одна чаша',
            Two: 'Две чаши',
            Combine: 'Подходит для комбинации чаш',
            inset: 'Врезной монтаж',
            undermount: 'Подстольный монтаж',
            flushmount: 'Монтаж в один уровень',
            insetflushmount: 'С видимой фронтальной стороной',
            Retractable: 'Выдвижной фасад',
            Hinged: 'Фасад на петлях',
            Corner: 'Угловой шкаф',
            '16E': '16 см',
            '18E': '18 см',
            '32E': '32 см',
            '34D': '34 см',
            '33D': '33 см',
            '34E': '34 см',
            '35D': '35 см',
            '37E': '37 см',
            '40D': '40 см',
            '40E': '40 см',
            '40S': '40 см',
            '43D': '43 см',
            '45C': '45 см',
            '45E': '45 см',
            '45M': '45 см',
            '45S': '45 см',
            '45Z': '45 см',
            '48D': '48 см',
            '50D': '50 см',
            '50E': '50 см',
            '50F': '50 см',
            '50S': '50 см',
            '50Z': '50 см',
            '55E': '55 см',
            '60C': '60 см',
            '60L': '60 см',
            '60S': '60 см',
            '60X': '60 см',
            '60Z': '60 см',
            '70E': '70 см',
            '70L': '70 см',
            '80E': '80 см',
            '80S': '80 см',
            '80X': '80 см',
            '80Z': '80 см',
            '90K': '90 см',
            '90X': '90 см',
            '90Z': '90 см',
        },
        swiperOption: {
            slidesPerView: 1,
            loop: false,
            pagination: {
                el: '.swiper-pagination',
            },
        },
        swiperOptionSlide: {
            slidesPerView: 3,
            loop: false,
            freeMode: true,
            allowTouchMove: false,
            direction: 'vertical',
            spaceBetween: 15,
        },
    }),

    head() {
        return {
            titleTemplate: () => {
                return 'Продукт | Blanco unit';
            },
        };
    },

    computed: {
        pureMixerKeys() {
            const array = [];
            if (this.product.ttcMixer) {
                for (const key in this.product.ttcMixer) {
                    if (!(key === 'id')) {
                        array.push(key);
                    }
                }
            }
            return array;
        },
        pureGarbageKeys() {
            const array = [];
            if (this.product.ttcGarbageSystem) {
                for (const key in this.product.ttcGarbageSystem) {
                    if (!(key === 'id')) {
                        array.push(key);
                    }
                }
            }
            return array;
        },
        pureBowlKeys() {
            const array = [];
            if (this.product.ttcBowl) {
                for (const key in this.product.ttcBowl) {
                    if (!(key === 'id')) {
                        array.push(key);
                    }
                }
            }
            return array;
        },
        swiperOptionComputed() {
            let obj = this.swiperOption;
            if (this.product.galleryPictures.length > 2) {
                obj = {
                    ...obj,
                    // loop: true,
                };
            }
            return obj;
        },
        width() {
            if (process.client) {
                const width = window.innerWidth;

                return width;
            }
            return 0;
        },
    },

    mounted() {
        this.$nextTick(function () {
            this.onResize();
        });
        window.addEventListener('resize', this.onResize);
    },

    methods: {
        nextSlide() {
            const scrollbar = this.$scrollbar.init(this.$refs.smooth);
            this.clicked = true;
            this.$refs.swiperMain.$el.swiper.slideNext();
            const el = this.$refs['slide-' + this.activeSlide][0].offsetTop;
            scrollbar.scrollTo(0, el, 500);
        },
        prevSlide() {
            const scrollbar = this.$scrollbar.init(this.$refs.smooth);
            this.clicked = true;
            this.$refs.swiperMain.$el.swiper.slidePrev();
            const el = this.$refs['slide-' + this.activeSlide][0].offsetTop;
            scrollbar.scrollTo(0, el, 500);
        },
        onMainChange() {
            const index = this.$refs.swiperMain.$el.swiper.realIndex;
            this.activeSlide = index;
        },
        clickedOnThumbSlide(index) {
            const getIndex = index === this.product.galleryPictures.length ? 0 : index;
            this.$refs.swiperMain.$el.swiper.slideTo(getIndex);
            this.activeSlide = index;
        },
        onResize() {
            return this.width;
        },
        toggleMenu() {
            this.showMenu = !this.showMenu;
        },
    },
};
</script>

<style lang="scss">
@import '/assets/scss/mixins';

.page-card {
    font-size: 14px;
    color: #3c3c3c;
    background-color: #f7f7f7;

    .swiper-pagination {
        display: none;

        @include mq(767) {
            display: block;
        }
    }

    .content {
        max-width: 1090px;
        padding-bottom: 60px;
        margin: 60px auto 0;

        @include mq(1120) {
            padding: 0 20px 60px;
        }

        @include mq(900) {
            margin-top: 20px;
        }

        h4 {
            display: none;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            color: #339;

            @include mq(767) {
                display: block;
                margin-bottom: 20px;
            }
        }

        .main-info {
            margin-bottom: 50px;

            @include mq(900) {
                padding-right: 30px;
            }

            @include mq(767) {
                padding: 0;
            }
        }

        .main-image {
            position: relative;
            min-height: 374px;
            padding-top: 50px;
            padding-left: 115px;

            @include mq(900) {
                min-height: 256px;
                padding-left: 50px;
            }

            @include mq(767) {
                padding: 0 20px;
                text-align: center;
                margin-bottom: 30px;
            }

            img {
                position: relative;
                z-index: 9;
                max-height: 270px;

                @include mq(900) {
                    max-height: 230px;
                }

                @include mq(767) {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    max-width: 85%;
                    margin: auto;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 374px;
                height: 374px;
                border-radius: 400px;
                background: #fff;

                @include mq(900) {
                    width: 256px;
                    height: 256px;
                }

                @include mq(767) {
                    position: static;
                    display: block;
                    width: 80vw;
                    height: 80vw;
                }
            }
        }

        .main-slider {
            display: flex;
            height: 550px;
            margin-top: 30px;

            @include mq(900) {
                height: 385px;
            }

            @include mq(767) {
                height: auto;
            }

            &__left {
                position: relative;
                width: calc(100% - 230px);
                height: 100%;

                @include mq(767) {
                    width: 100%;
                }

                .swiper-container {
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__right {
                width: 230px;
                height: 100%;
                padding-left: 15px;
                overflow-y: auto;

                .slide {
                    position: relative;
                    width: 100%;
                    height: calc(100% / 3 - 10px);
                    cursor: pointer;
                    overflow: hidden;

                    + .slide {
                        margin-top: 15px;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: transparent;
                        transition: background-color 0.5s;
                    }

                    &-active {
                        position: relative;

                        &::before {
                            background: rgba(#339, 0.9);
                        }
                    }
                }

                .swiper-wrapper {
                    display: flex;
                    flex-direction: column;
                }

                .swiper-container {
                    height: 100%;
                }

                .swiper-slide {
                    height: auto;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: transparent;
                        transition: background-color 0.5s;
                    }

                    &-active {
                        position: relative;

                        &::before {
                            background: rgba(#339, 0.9);
                        }
                    }

                    &.swiper-one {
                        &::before {
                            opacity: 0;
                        }
                    }
                }

                img {
                    vertical-align: middle;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @include mq(767) {
                    display: none;
                }
            }

            .swiper-button-next {
                top: 82px !important;

                @include mq(767) {
                    top: auto !important;
                    right: 0 !important;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                position: absolute;
                top: 22px;
                left: auto;
                right: 0;
                width: 60px;
                height: 60px;
                color: #339;
                background: #fff;
                transform: rotate(90deg);
                transition: color 0.25s, background 0.25s;

                @include mq(767) {
                    top: auto;
                    bottom: -40px;
                    right: 40px;
                    width: 40px;
                    height: 40px;
                    background: transparent;
                    transform: rotate(0);
                }

                &::after {
                    font-size: 25px;

                    @include mq(767) {
                        font-size: 13px;
                    }
                }

                &:hover {
                    color: #fff;
                    background: #339;
                }
            }
        }

        .main-color {
            @include mq(767) {
                padding: 0;
            }
        }

        .main-techs {
            margin-top: 100px;

            @include mq(900) {
                margin-top: 60px;
            }

            @include mq(767) {
                padding: 0;
                margin-top: 90px;
            }
        }

        .link-ico {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 14px 30px 14px 16px;
            background-color: #fff;
            transition: color 0.25s;
            margin-top: 30px;

            @include mq(900) {
                display: none;
            }

            @include mq(767) {
                display: inline-flex;
                width: 100%;
            }

            &:hover {
                color: #339;
            }

            span {
                line-height: 1;
                margin-left: 36px;
            }

            &--tab {
                display: none;

                @include mq(900) {
                    display: inline-flex;
                }

                @include mq(767) {
                    display: none;
                }
            }
        }

        h1 {
            font-size: 36px;
            line-height: 44px;
            font-weight: 700;
            text-transform: uppercase;
            color: #575757;
            margin-bottom: 24px;

            @include mq(767) {
                margin-top: 20px;
            }
        }

        h2 {
            font-size: 24px;
            line-height: 1.2;
            font-weight: 500;
            color: #3c3c3c;
            margin-bottom: 25px;
        }

        p {
            line-height: 1.2;
            font-weight: 300;
            margin-bottom: 10px;
        }

        .color-list {
            display: flex;
            flex-wrap: wrap;
            //justify-content: space-between;
            padding-top: 45px;
            border-top: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;

            @include mq(767) {
                padding: 0 20px;
                border-bottom: none;
                margin: 0 -20px;
            }

            li {
                width: calc(100% / 8);
                padding: 0 10px;
                text-align: center;
                margin-bottom: 45px;
                cursor: pointer;

                @include mq(1120) {
                    width: 16%;
                }

                @include mq(767) {
                    display: flex;
                    align-items: center;
                    width: calc(100% + 40px);
                    padding: 5px 20px;
                    border-bottom: 1px solid #d8d8d8;
                    margin: 0 -20px;
                }

                img {
                    width: 83px;
                    height: 83px;
                    border-radius: 90px;
                    margin-bottom: 17px;

                    @include mq(767) {
                        width: 66px;
                        height: 66px;
                        margin-right: 20px;
                        margin-bottom: 0;
                    }
                }

                &.active {
                    color: #339;

                    img {
                        filter: drop-shadow(0 0 30px rgba(29, 57, 148, 0.6));
                    }
                }
            }
        }

        .main-size {
            margin-top: 100px;

            @include mq(900) {
                margin-top: 60px;
            }

            @include mq(767) {
                padding: 0;
            }

            &-title {
                position: absolute;
                bottom: -50px;
                font-size: 16px;
                color: #3c3c3c;
            }

            &-inner {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                place-items: start;
                column-gap: 29px;

                @include mq(767) {
                    grid-template-columns: 1fr;
                }

                > * {
                    position: relative;
                    width: 100%;
                    background: #fff;
                    margin-bottom: 80px;

                    @include mq(767) {
                        margin-bottom: 90px;
                    }

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 0;
                        padding-bottom: 100%;
                    }
                }

                .image {
                    position: absolute;
                    z-index: 9;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;

                    .img {
                        height: 190px;

                        @include mq(767) {
                            height: 300px;
                        }
                    }
                }
            }
        }

        .list {
            > *:not(ul) {
                display: none;
            }

            ul {
                margin-top: 30px;
            }

            li {
                position: relative;
                padding-left: 37px;
                font-size: 14px;
                line-height: 1.7;
                margin-bottom: 10px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 10px;
                    left: 0;
                    width: 26px;
                    height: 1px;
                    background-color: #339;
                }
            }
        }

        .list-counter {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 20px;
                background: #f7f7f7;

                @include mq(767) {
                    width: calc(100% + 40px);
                    margin: 0 -20px;
                }

                span {
                    @include mq(767) {
                        width: 65%;
                    }

                    &:last-child {
                        width: 30%;

                        @include mq(767) {
                            width: 35%;
                        }
                    }
                }

                &:nth-child(2n) {
                    background: #fff;
                }

                i {
                    font-style: normal;
                }
            }
        }
    }
}
</style>
